Package: stylish-haskell
Version: 0.9.2.0-1
Architecture: amd64
Maintainer: Sean Whitton <spwhitton@spwhitton.name>
Installed-Size: 20634
Depends: libc6 (>= 2.27), libffi6 (>= 3.0.4), libgmp10, libyaml-0-2
Suggests: haskell-mode
Section: haskell
Priority: optional
Homepage: https://github.com/jaspervdj/stylish-haskell
Description: Haskell code prettifier
 stylish-haskell prettifies Haskell code.  A design goal is not
 getting in the user's way, so it restricts itself to formatting only
 some parts of the Haskell code piped to it, such as import
 statements.
