Package: libclass-ooorno-perl
Version: 0.011-2
Architecture: all
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Installed-Size: 42
Depends: perl
Section: perl
Priority: optional
Homepage: https://metacpan.org/release/Class-OOorNO
Description: Give your module classic AND OO interfaces
 Class::OOorNO helps your module handle the input for its subroutines
 whether called in object-oriented style (as object methods or class
 methods with the arrow syntax "->"), or in functional programming style
 (as subroutines imported to the caller's namespace via Exporter).
 .
 The bulk of this module comprises a lightweight, pure-Perl emulation of
 the Devel::Caller library's "called_as_method()" routine which is
 written in C.
 .
 Devel::Caller dives deep into the internals of the Perl interpreter
 (see perlguts) to trace stack frames and can get the input for any call
 in the stack.  It's really handy for Devel::opment and debugging.
 .
 This module is much more lightweight and focuses more on your module's
 Class:: methods themselves.
