Package: phpsysinfo
Version: 3.2.5-3
Architecture: all
Maintainer: Bjoern Boschman <bjoern@boschman.de>
Installed-Size: 3437
Depends: apache2 | httpd, php | php5, php-xml | php5-xsl, libjs-jquery
Suggests: lm-sensors, hddtemp
Section: web
Priority: optional
Homepage: https://github.com/phpsysinfo/phpsysinfo
Description: PHP based host information
 phpSysInfo is a PHP script that displays information about the
 host being accessed.
 .
 It displays information on the system like kernel version, uptime,
 network, disk and memory usage, information on CPU and model,
 attached IDE and SCSI devices and PCI cards and lm-sensors output on
 architectures supporting it.
 .
 It has support for multiple languages and themes.
