Package: multimedia-tasks
Source: debian-multimedia
Version: 0.7
Architecture: all
Maintainer: Debian Multimedia Maintainers <debian-multimedia@lists.debian.org>
Installed-Size: 22
Depends: tasksel
Section: misc
Priority: optional
Description: Debian Multimedia tasks for tasksel
 This package provides Debian Multimedia tasks in tasksel.
