Package: libcitadel4
Source: libcitadel
Version: 917-2
Architecture: amd64
Maintainer: Debian Citadel Team <pkg-citadel-devel@lists.alioth.debian.org>
Installed-Size: 177
Depends: libc6 (>= 2.15), zlib1g (>= 1:1.1.4), shared-mime-info
Section: libs
Priority: optional
Multi-Arch: same
Homepage: http://www.citadel.org/
Description: Citadel toolbox
 This library contains the commonly used routines for the citadel suite.
