Package: libpolyclipping22
Source: libpolyclipping
Version: 6.4.2-5
Architecture: amd64
Maintainer: 3-D printer team <3dprinter-general@lists.alioth.debian.org>
Installed-Size: 156
Depends: libc6 (>= 2.14), libgcc1 (>= 1:3.0), libstdc++6 (>= 5.2)
Section: libs
Priority: optional
Multi-Arch: same
Homepage: http://www.angusj.com/delphi/clipper.php
Description: Polygon and line clipping and offsetting library (shared library)
 The Clipper library performs polygon clipping, polygon offsetting and polyline
 offsetting. All four boolean clipping operations are supported - intersection,
 union, difference and exclusive-or. Also, there are no restrictions on the
 types of polygons that can be clipped - they can have holes, be
 self-intersecting, have coincident edges etc.
