Package: libmono-system-servicemodel-routing4.0-cil
Source: mono
Version: 4.6.2.7+dfsg-2
Architecture: all
Maintainer: Debian Mono Group <pkg-mono-group@lists.alioth.debian.org>
Installed-Size: 105
Depends: libmono-corlib4.5-cil (>= 4.6.1.3), libmono-system-configuration4.0-cil (>= 4.0.0~alpha1), libmono-system-runtime-serialization4.0-cil (>= 4.6.1.3), libmono-system-servicemodel4.0a-cil (>= 4.6.1.3), libmono-system4.0-cil (>= 4.6.1.3)
Section: cli-mono
Priority: optional
Homepage: http://mono-project.com/WCF
Description: Mono System.ServiceModel.Routing Library (for CLI 4.0)
 Mono is a platform for running and developing applications based on the
 ECMA/ISO Standards. Mono is an open source effort led by Xamarin.
 Mono provides a complete CLR (Common Language Runtime) including compiler and
 runtime, which can produce and execute CIL (Common Intermediate Language)
 bytecode (aka assemblies), and a class library.
 .
 This package contains the System.ServiceModel.Routing library which is part
 of the Windows Communication Foundation (WCF) libraries of Mono for CLI 4.0.
 The WFC stack is for building SOA-based applications.
 Its development is in early stages.
