Package: rsh-server
Source: netkit-rsh
Version: 0.17-19
Architecture: amd64
Maintainer: Alberto Gonzalez Iniesta <agi@inittab.org>
Installed-Size: 116
Depends: openbsd-inetd | inet-superserver, libc6 (>= 2.3), libpam0g (>= 0.99.7.1)
Replaces: netstd
Section: net
Priority: optional
Description: server program for remote shell connections
 This package contains rexecd, rlogind and rshd.
