Package: converseen
Version: 0.9.7-1
Architecture: amd64
Maintainer: Laszlo Boszormenyi (GCS) <gcs@debian.org>
Installed-Size: 1094
Depends: libc6 (>= 2.14), libgcc1 (>= 1:3.0), libmagick++-6.q16-8, libmagickcore-6.q16-6 (>= 8:6.9.10.2), libqt5core5a (>= 5.11.0~rc1), libqt5gui5 (>= 5.8.0), libqt5network5 (>= 5.0.2), libqt5widgets5 (>= 5.11.0~rc1), libstdc++6 (>= 5.2)
Section: graphics
Priority: optional
Homepage: http://converseen.sourceforge.net/
Description: batch image converter and resizer
 You can convert an unlimited number of images and / or create thumbnails
 to any of the most popular formats: DPX, EXR, GIF, JPEG, JPEG-2000, PDF,
 PhotoCD, PNG, Postscript, SVG, and TIFF.
 .
 Thanks to the Magick++ image libraries it supports more than 100 image
 formats.
