Package: libpng++-dev
Source: png++
Version: 0.2.9-2
Architecture: all
Maintainer: Jonas Smedegaard <dr@jones.dk>
Installed-Size: 3769
Depends: libpng-dev
Section: libdevel
Priority: optional
Homepage: http://savannah.nongnu.org/projects/pngpp/
Description: C++ interface to the PNG (Portable Network Graphics) library
 PNG++ aims to provide simple yet powerful C++ interface to libpng, the
 Portable Network Graphics (PNG) reference implementation library.
 .
 Using raw libpng in C++ may impose serious challenge since lots of
 precautions must be taken to handle initialization/deinitialization of
 control structures as well as handling errors correctly. With png++
 you can read or write PNG images just in a single line of C++ code.
