Package: ncbi-blast+
Version: 2.7.1-2
Architecture: amd64
Maintainer: Debian Med Packaging Team <debian-med-packaging@lists.alioth.debian.org>
Installed-Size: 43785
Depends: ncbi-data, python, perl:any, libbz2-1.0, libc6 (>= 2.28), libgcc1 (>= 1:3.4), libgnutls30 (>= 3.5.6), libgomp1 (>= 4.9), libmbedcrypto3 (>= 2.13), libmbedtls12 (>= 2.13), libpcre3, libstdc++6 (>= 5.2), zlib1g (>= 1:1.2.11.dfsg)
Enhances: t-coffee
Section: science
Priority: optional
Multi-Arch: foreign
Homepage: http://www.ncbi.nlm.nih.gov/IEB/ToolBox/CPP_DOC/
Description: next generation suite of BLAST sequence search tools
 The Basic Local Alignment Search Tool (BLAST) is the most widely
 used sequence similarity tool. There are versions of BLAST that
 compare protein queries to protein databases, nucleotide queries
 to nucleotide databases, as well as versions that translate nucleotide
 queries or databases in all six frames and compare to protein databases
 or queries.
 PSI-BLAST produces a position-specific-scoring-matrix (PSSM) starting
 with a protein query, and then uses that PSSM to perform further searches.
 It is also possible to compare a protein or nucleotide query to a
 database of PSSM’s.
 The NCBI supports a BLAST web page at blast.ncbi.nlm.nih.gov as well as
 a network service.
