Package: python-openstackclient-doc
Source: python-openstackclient
Version: 3.16.0-3
Architecture: all
Maintainer: Debian OpenStack <team+openstack@tracker.debian.org>
Installed-Size: 9175
Depends: libjs-sphinxdoc (>= 1.0)
Section: doc
Priority: optional
Homepage: http://wiki.openstack.org/OpenStackClient
Description: OpenStack Command-line Client - doc
 python-openstackclient is a unified command-line client for the OpenStack APIs.
 It is a thin wrapper to the stock python-*client modules that implement the
 actual REST API client actions.
 .
 This is an implementation of the design goals shown in
 http://wiki.openstack.org/UnifiedCLI.  The primary goal is to provide
 a unified shell command structure and a common language to describe
 operations in OpenStack.
 .
 This package contains the documentation.
