Package: python-django-q-doc
Source: django-q
Version: 0.9.4-3
Architecture: all
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Installed-Size: 1050
Depends: libjs-sphinxdoc (>= 1.0)
Section: doc
Priority: optional
Multi-Arch: foreign
Homepage: https://github.com/Koed00/django-q
Description: Django multiprocessing distributed task queue (Documentation)
 A multiprocessing distributed task queue for Django with following features:
 .
  * Multiprocessing worker pool
  * Asynchronous tasks
  * Scheduled and repeated tasks
  * Encrypted and compressed packages
  * Failure and success database or cache
  * Result hooks, groups and chains
  * Django Admin integration
  * PaaS compatible with multiple instances
  * Multi cluster monitor
  * Redis, Disque, IronMQ, SQS, MongoDB or ORM
  * Rollbar support
 .
 This package contains the documentation.
