Package: libghc-attoparsec-enumerator-prof
Source: haskell-attoparsec-enumerator (0.3.4-6)
Version: 0.3.4-6+b1
Architecture: amd64
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Installed-Size: 111
Depends: libghc-attoparsec-enumerator-dev (= 0.3.4-6+b1), libghc-attoparsec-prof-0.13.2.2-eb13e, libghc-base-prof-4.10.1.0-35a7f, libghc-bytestring-prof-0.10.8.2-4a9e2, libghc-enumerator-prof-0.4.20-d27ec, libghc-text-prof-1.2.3.0-81981
Provides: libghc-attoparsec-enumerator-prof-0.3.4-6e1f9
Section: haskell
Priority: optional
Homepage: https://john-millikin.com/software/attoparsec-enumerator/
Description: convert an Attoparsec parser into an iteratee; profiling libraries
 The library allows an Attoparsec parser to receive input incrementally from
 an enumerator.  This could be used for parsing large files or
 implementing binary network protocols.
 .
 This package provides a library for the Haskell programming language, compiled
 for profiling.  See http://www.haskell.org/ for more information on Haskell.
