Package: android-sdk-libsparse-utils
Source: android-platform-system-core
Version: 1:8.1.0+r23-4
Architecture: amd64
Maintainer: Android Tools Maintainers <android-tools-devel@lists.alioth.debian.org>
Installed-Size: 91
Depends: python, android-libsparse, libc6 (>= 2.2.5)
Breaks: android-tools-fsutils, append2simg (<< 1:8.1.0+r23-1~), img2simg (<< 1:8.1.0+r23-1~), simg2img (<< 1:8.1.0+r23-1~)
Replaces: android-tools-fsutils, append2simg (<< 1:8.1.0+r23-1~), img2simg (<< 1:8.1.0+r23-1~), simg2img (<< 1:8.1.0+r23-1~)
Section: utils
Priority: optional
Multi-Arch: foreign
Homepage: https://android.googlesource.com/platform/system/core
Description: Android sparse image creation tool
 Command line tools to create sparse images for usage with Android devices.
 Includes simgimg, img2simg, simg2simg, simg_dump and append2simg tools.
