Package: gcal-common
Source: gcal
Version: 4.1-2
Architecture: all
Maintainer: Thorsten Alteholz <debian@alteholz.de>
Installed-Size: 2308
Recommends: gcal (>= 4.1-2)
Replaces: gcal (<= 3.01.1-9)
Section: utils
Priority: optional
Homepage: http://directory.fsf.org/project/gcal/
Description: gcal architecture independent files
 This package contains architecture independent files needed for gcal to
 run properly. Therefore, unless you have 'gcal' package installed, you will
 hardly find this package useful.
