Package: libghc-lrucache-prof
Source: haskell-lrucache (1.2.0.0-7)
Version: 1.2.0.0-7+b1
Architecture: amd64
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Installed-Size: 723
Depends: libghc-lrucache-dev (= 1.2.0.0-7+b1), libghc-base-prof-4.10.1.0-35a7f, libghc-containers-prof-0.5.10.2-cc496, libghc-contravariant-prof-1.4.1-a4c61
Provides: libghc-lrucache-prof-1.2.0.0-8ef71
Section: haskell
Priority: optional
Homepage: http://github.com/chowells79/lrucache
Description: simple, pure least-recent-used cache; profiling libraries
 This package contains a simple, pure LRU cache, implemented in terms of
 "Data.Map".
 .
 It also contains a mutable IO wrapper providing atomic updates to an LRU
 cache.
 .
 This package provides a library for the Haskell programming language, compiled
 for profiling.  See http://www.haskell.org/ for more information on Haskell.
