Package: libqrupdate-dev
Source: qrupdate (1.1.2-2)
Version: 1.1.2-2+b2
Architecture: amd64
Maintainer: Debian Science Team <debian-science-maintainers@lists.alioth.debian.org>
Installed-Size: 242
Depends: libqrupdate1 (= 1.1.2-2+b2)
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: http://qrupdate.sf.net
Description: Fast updates of QR and Cholesky decompositions -- static library
 qrupdate is a Fortran library for QR and Cholesky decompositions. It
 is most notably used by Octave.
 .
 This package contains the static library.
