Package: libcli-dev
Source: libcli
Version: 1.9.7-2
Architecture: amd64
Maintainer: Jonathan McDowell <noodles@earth.li>
Installed-Size: 25
Depends: libcli1.9 (= 1.9.7-2)
Section: libdevel
Priority: optional
Description: emulates a cisco style telnet command-line interface (dev files)
 libcli provides a consistent Cisco style command-line environment for
 remote clients, with a few common features between every implemtation.
 .
 The library is not accessed by itself, rather the software which uses
 it listens on a defined port for a Telnet connection. This connection
 is handed off to libcli for processing.
 .
 libcli includes support for command history, command line editing and
 filtering of command output.
 .
 This package contains the files necessary for developing applications
 with libcli.
