Package: python-talloc-dev
Source: talloc
Version: 2.1.14-1
Architecture: amd64
Maintainer: Debian Samba Maintainers <pkg-samba-maint@lists.alioth.debian.org>
Installed-Size: 29
Depends: pkg-config, python-talloc (= 2.1.14-1)
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: https://talloc.samba.org/
Description: talloc Python bindings - development files
 A hierarchical pool based memory allocator with destructors. It uses
 reference counting to determine when memory should be freed.
 .
 This package contains the development files for the Python bindings.
