Package: rurple-ng
Version: 0.5+16-2
Architecture: all
Maintainer: Thomas Koch <thomas@koch.ro>
Installed-Size: 343
Depends: python:any, python-wxgtk3.0
Section: education
Priority: optional
Homepage: http://dev.lshift.net/paul/rurple
Description: learn programming in Python with a robot
 Rurple-ng is a rewrite of RUR-PLE[1], a programming learning environment. The
 student learns programming concepts by controlling a robot. The original
 RUR-PLE comes with a self-learning tutorial[2] in several languages that can
 also be used with Rurple-ng.
 .
 Unlike other programming learning environments, RUR-PLE uses a real world
 programming language (Python) with no modifications or restrictions. Thus the
 student can move directly from programming a robot to real world programs.
 .
 [1] https://github.com/aroberge/rur-ple
 [2] http://rur-ple.sourceforge.net
