Package: dnsmasq-utils
Source: dnsmasq
Version: 2.79-1
Architecture: amd64
Maintainer: Simon Kelley <simon@thekelleys.org.uk>
Installed-Size: 62
Depends: libc6 (>= 2.14)
Conflicts: dnsmasq (<< 2.40)
Section: net
Priority: optional
Homepage: http://www.thekelleys.org.uk/dnsmasq/doc.html
Description: Utilities for manipulating DHCP leases
 Small utilities to query a DHCP server's lease database and
 remove leases from it. These programs are distributed with dnsmasq
 and may not work correctly with other DHCP servers.
