Package: libtinyxml-doc
Source: tinyxml
Version: 2.6.2-4
Architecture: all
Maintainer: Felix Geyer <fgeyer@debian.org>
Installed-Size: 912
Recommends: libtinyxml-dev
Section: doc
Priority: extra
Homepage: http://www.grinninglizard.com/tinyxml/
Description: TinyXml library - documentation files
 This package contains the documentation to program with the TinyXml library.
 .
 TinyXml is a simple and small C++ XML parser that can be easily integrating
 into other programs. It reads XML and creates C++ objects representing
 the XML document. The objects can be manipulated, changed, and
 saved again as XML.
