Package: node-promise-retry
Version: 1.1.1-2
Architecture: all
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Installed-Size: 19
Depends: nodejs, node-err-code (>= 1.0.0), node-retry (>= 0.10.0)
Section: javascript
Priority: optional
Homepage: https://github.com/IndigoUnited/node-promise-retry#readme
Description: Retries a function that returns a promise
 Leverage the power of the retry module to the promises world.
 .
 Calls fn until the returned promise ends up fulfilled or rejected with an
 error different than a retry error.
 .
 Node.js is an event-based server-side JavaScript engine.
