Package: libdumbnet-dev
Source: libdumbnet
Version: 1.12-8
Architecture: amd64
Maintainer: Debian QA Group <packages@qa.debian.org>
Installed-Size: 228
Pre-Depends: dpkg (>= 1.17.14)
Depends: libc6 (>= 2.7), libdumbnet1 (= 1.12-8)
Section: libdevel
Priority: optional
Homepage: http://code.google.com/p/libdnet/
Description: dumb, portable networking library -- development files
 libdumbnet provides a simplified, portable interface to several low-level
 networking routines, including
   * network address manipulation
   * kernel arp(4) cache and route(4) table lookup and manipulation
   * network firewalling (Ip filter, ipfw, ipchains, pdf, ...)
   * network interface lookup and manipulation
   * raw IP packet and Ethernet frame transmission
 .
 libdumbnet is known as libdnet in other distributions, but was renamed
 in Debian in favour of the older DECnet library 'libdnet'.
 .
 This package contains the static library and the C header files.
