Package: golang-gomega-dev
Source: golang-gomega
Version: 1.0+git20160910.d59fa0a-1
Architecture: all
Maintainer: Debian Go Packaging Team <pkg-go-maintainers@lists.alioth.debian.org>
Installed-Size: 427
Depends: golang-gopkg-yaml.v2-dev, golang-goprotobuf-dev
Section: devel
Priority: extra
Homepage: https://github.com/onsi/gomega
Description: Matcher/assertion library for the Go programming language
 Gomega is a matcher/assertion library. It is best paired with the Ginkgo BDD
 test framework, but can be adapted for use in other contexts too.
