Package: ruby-net-ssh-krb
Version: 0.4.0-1
Architecture: all
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Installed-Size: 42
Depends: ruby | ruby-interpreter, ruby-gssapi (>= 1.2.0), ruby-net-ssh (>= 2.0)
Section: ruby
Priority: optional
Homepage: http://github.com/cbeer/net-ssh-kerberos
Description: Kerberos support for ruby-net-ssh
 Extends ruby-net-ssh by adding Kerberos authentication capability for
 password-less logins on multiple platforms.
Ruby-Versions: all
