Package: python3-zconfig
Source: zconfig
Version: 3.1.0-1
Architecture: all
Maintainer: Debian/Ubuntu Zope Team <pkg-zope-developers@lists.alioth.debian.org>
Installed-Size: 372
Depends: python3:any (>= 3.3.2-2~)
Section: zope
Priority: optional
Homepage: https://pypi.python.org/pypi/ZConfig
Description: Structured Configuration Library, for Python 3
 ZConfig is a configuration library intended for general use.  It
 supports a hierarchical schema-driven configuration model that allows
 a schema to specify data conversion routines written in Python.
 ZConfig's model is very different from the model supported by the
 ConfigParser module found in Python's standard library, and is more
 suitable to configuration-intensive applications.
