Package: python3-zenoss
Source: python-zenoss
Version: 0.6.3-1
Architecture: all
Maintainer: Sandro Tosi <morph@debian.org>
Installed-Size: 31
Depends: python3:any (>= 3.3.2-2~), python3-requests
Section: python
Priority: optional
Homepage: https://github.com/iamseth/python-zenoss
Description: module to work with the Zenoss JSON API (Python 3)
 zenoss is a Python module that allows you to interact with a Zenoss
 installation thru its JSON APIs.
 .
 This package contains the Python 3 version of zenoss.
