Package: libghc-xml-dev
Source: haskell-xml
Version: 1.3.14-7
Architecture: amd64
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Installed-Size: 1718
Depends: libghc-base-dev-4.10.1.0-35a7f, libghc-bytestring-dev-0.10.8.2-4a9e2, libghc-text-dev-1.2.3.0-81981, libc6 (>= 2.2.5), libgmp10
Suggests: libghc-xml-doc, libghc-xml-prof
Provides: libghc-xml-dev-1.3.14-4e048
Section: haskell
Priority: optional
Homepage: http://code.galois.com
Description: A simple Haskell XML library
 This library provides lightweight tools to parse, filter and generate XML.
 .
 This package provides a library for the Haskell programming language.
 See http://www.haskell.org/ for more information on Haskell.
Ghc-Package: xml-1.3.14-Kljl530Com7KGsYBJQzfI6
