Package: libbloom-dev
Source: libbloom
Version: 1.5-4
Architecture: amd64
Maintainer: Roger Shimizu <rogershimizu@gmail.com>
Installed-Size: 21
Depends: libbloom1 (= 1.5-4)
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: https://github.com/jvirkki/libbloom
Description: simple and small bloom filter implementation in C (development files)
 It implements bloom filters:
  http://en.wikipedia.org/wiki/Bloom_filter
 .
 This package provides C header files for the library.
