Package: libocct-ocaf-7.3
Source: opencascade
Version: 7.3.0+dfsg1-4
Architecture: amd64
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Installed-Size: 5667
Depends: libc6 (>= 2.14), libfreeimage3, libfreetype6 (>= 2.2.1), libgcc1 (>= 1:3.0), libgl1, libocct-foundation-7.3, libocct-modeling-algorithms-7.3, libocct-modeling-data-7.3, libocct-visualization-7.3, libstdc++6 (>= 5.2), libtbb2, libx11-6, libxext6, libxi6, libxmu6
Section: libs
Priority: optional
Multi-Arch: same
Homepage: https://www.opencascade.com/
Description: Open CASCADE Technology application-specific data and functionality
 Open CASCADE Technology is a suite for 3D surface and solid modeling,
 visualization, data exchange and rapid application development.  It is an
 excellent platform for development of numerical simulation software including
 CAD/CAM/CAE, AEC and GIS, as well as PDM applications.
 .
 This package provides Open CASCADE Application Framework services.
 .
 This package contains the following shared libraries:
 .
   TKCDF TKLCAF TKCAF TKBinL TKXmlL TKBin TKXml TKStdL TKStd TKTObj TKBinTObj
   TKXmlTObj TKVCAF
