Package: notmuch-mutt
Source: notmuch
Version: 0.28-2
Architecture: all
Maintainer: Carl Worth <cworth@debian.org>
Installed-Size: 47
Depends: notmuch (>= 0.4), libmail-box-perl, libmailtools-perl, libstring-shellquote-perl, libterm-readline-gnu-perl
Recommends: mutt
Enhances: mutt, notmuch
Section: mail
Priority: optional
Homepage: https://notmuchmail.org/
Description: thread-based email index, search and tagging (Mutt interface)
 notmuch-mutt provides integration among the Mutt mail user agent and
 the Notmuch mail indexer.
 .
 notmuch-mutt offer two main integration features. The first one is
 the ability of stating a search query interactively and then jump to
 a fresh Maildir containing its search results only. The second one is
 the ability to reconstruct threads on the fly starting from the
 current highlighted mail.
