Package: ruby-samuel
Version: 0.3.3-1
Architecture: all
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Installed-Size: 92
Depends: ruby | ruby-interpreter
Section: ruby
Priority: optional
Homepage: http://github.com/chrisk/samuel
Description: automatic logger for HTTP requests in Ruby
 Samuel is a gem for automatic logging of your HTTP requests. It's named for
 the serial diarist Mr. Pepys, who was known to reliably record events both
 quotidian and remarkable. It supports both Net::HTTP and HTTPClient (formerly
 HTTPAccess2), automatically loading the correct logger for the HTTP client
 you're using.
Ruby-Versions: ruby1.8 ruby1.9.1
