Package: libx11-windowhierarchy-perl
Version: 0.004-1
Architecture: all
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Installed-Size: 51
Depends: perl, libx11-protocol-perl
Section: perl
Priority: optional
Homepage: https://metacpan.org/release/X11-WindowHierarchy
Description: Perl module for retrieving the current X11 window hierarchy
 X11::WindowHierarchy provides a couple of helper functions based on
 X11::Protocol for extracting the current window hierarchy. You can easily get
 the whole window tree, or search for specific windows.
