Package: libdatetime-event-recurrence-perl
Version: 0.19-1
Architecture: all
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Installed-Size: 56
Depends: perl, libdatetime-perl, libdatetime-set-perl (>= 0.3600)
Section: perl
Priority: optional
Homepage: https://metacpan.org/release/DateTime-Event-Recurrence
Description: Perl module to create recurring DateTime instances
 DateTime::Event::Recurrence provides a way to create sets of DateTime objects
 that recur at specified intervals. Often, you will want DateTime::Set objects
 for dates that should occur at intervals like "once a month" or "every day."
 .
 More complex relationships can be created too, such as, "every Monday,
 Wednesday and Thursday at 10:00 AM and 2:00 PM."
