Package: asterisk-prompt-fr-armelle
Version: 20070613-2
Architecture: all
Maintainer: Debian VoIP team <pkg-voip-maintainers@lists.alioth.debian.org>
Installed-Size: 2220
Recommends: asterisk (>= 1:1.2)
Conflicts: asterisk-prompt-fr
Replaces: asterisk-prompt-fr
Provides: asterisk-prompt-fr
Section: comm
Priority: extra
Description: French voice prompts for Asterisk by Armelle Desjardins
 These are French voice prompts for the Asterisk PBX, recorded by
 Armelle Desjardins for Michel Gutierrez.
 .
 You need such prompts if you intend to run Asterisk and wish to
 support French-speaking callers.
