Package: obexpushd
Source: obexpushd (0.11.2-1.1)
Version: 0.11.2-1.1+b1
Architecture: amd64
Maintainer: Gabriele Giacone <1o5g4r8o@gmail.com>
Installed-Size: 154
Depends: libbluetooth3 (>= 4.91), libc6 (>= 2.15), libopenobex2
Suggests: bluez-utils, irda-utils
Section: comm
Priority: optional
Homepage: http://www.gitorious.org/obexpushd/
Description: program for receiving files via Bluetooth or IRDA
 This program can be used to receive files with OBEX protocol
 over Bluetooth or IrDA (infrared) connection. This program
 should work with many mobile devices like PDA's and mobile
 phones.
