Package: python-statsmodels-lib
Source: statsmodels (0.8.0-7)
Version: 0.8.0-7+b1
Architecture: amd64
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Installed-Size: 1674
Depends: python-numpy (>= 1:1.14.3), python-numpy-abi9, python (<< 2.8), python (>= 2.7~), python:any (<< 2.8), python:any (>= 2.7~), libc6 (>= 2.27)
Breaks: python-scikits-statsmodels, python-scikits.statsmodels (<< 0.4)
Replaces: python-scikits-statsmodels, python-scikits.statsmodels (<< 0.4)
Section: python
Priority: optional
Homepage: http://statsmodels.sourceforge.net/
Description: low-level implementations and bindings for statsmodels
 This package contains architecture dependent extensions for
 python-statsmodels.
