Package: libclass-dbi-plugin-type-perl
Version: 0.02-8
Architecture: all
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Installed-Size: 21
Depends: perl, libclass-dbi-perl
Section: perl
Priority: optional
Homepage: https://metacpan.org/release/Class-DBI-Plugin-Type
Description: Class::DBI plugin to determine type information for table columns
 The Class::DBI::Plugin::Type module allows Class::DBI-based classes to
 query their columns for data type information in a database-independent
 manner.
