Package: python3-astropy-affiliated
Source: python-astropy-affiliated
Version: 1.5
Architecture: all
Maintainer: Debian Astro Team <debian-astro-maintainers@lists.alioth.debian.org>
Installed-Size: 8
Depends: python3-astropy
Recommends: python3-aplpy, python3-astroml, python3-astroplan, python3-astropy-healpix, python3-astroquery, python3-astroscrappy, python3-ccdproc, python3-cpl, python3-galpy, python3-gammapy, python3-ginga, python3-glue, python3-gwcs, python3-hips, python3-imexam, python3-photutils, python3-poliastro, python3-pydl, python3-pyregion, python3-pyvo, python3-regions, python3-reproject, python3-spectral-cube, python3-specutils
Section: python
Priority: optional
Homepage: https://www.astropy.org/affiliated/
Description: Collection of all astropy affiliated packages
 A major part of the Astropy project is the concept of “Affiliated
 Packages”. An affiliated package is an astronomy-related Python
 package that is not part of the astropy core package, but has
 requested to be included as part of the Astropy project’s
 community. These packages are expressing an interest in Astropy’s
 goals of improving reuse, interoperability, and interface standards
 for Python astronomy and astrophysics packages.
 .
 This metapackage installs all affiliated packages.
