Package: libpentaho-reporting-flow-engine-java-doc
Source: pentaho-reporting-flow-engine
Version: 0.9.4-5
Architecture: all
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Installed-Size: 8303
Conflicts: libjfreereport-java-doc
Replaces: libjfreereport-java-doc
Provides: libjfreereport-java-doc
Section: doc
Priority: optional
Homepage: http://www.pentaho.com/
Description: report library for java documentation
 Pentaho Reporting Flow Engine is a free Java report library.
 .
 It has the following features:
    * full on-screen print preview;
    * data obtained via Swing's TableModel interface
    (making it easy to print data directly from your application);
    * XML-based report definitions;
    * output to the screen, printer or various export formats
    (PDF, HTML, CSV, Excel, plain text);
    * support for servlets (uses the JFreeReport extensions)
    * extensive documentation in Acrobat PDF format, plus full Javadocs;
  .
 This package contains the Javadoc, the Manual and the Developers Guide of
 the Pentaho Reporting Flow Engine.
