Package: ruby-kitchen-salt
Version: 0.4.0-2
Architecture: all
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Installed-Size: 83
Depends: ruby | ruby-interpreter, ruby-hashie (>= 3.5), test-kitchen (>= 1.4)
Section: ruby
Priority: optional
Homepage: https://github.com/saltstack/kitchen-salt
Description: salt provisioner for test-kitchen
 salt provisioner for test-kitchen so that you can test all the things
Ruby-Versions: all
