Package: libweed-dev
Source: lives (2.8.9-1)
Version: 2.8.9-1+b1
Architecture: amd64
Maintainer: Debian Multimedia Maintainers <debian-multimedia@lists.debian.org>
Installed-Size: 123
Depends: libweed0 (= 2.8.9-1+b1)
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: http://lives-video.com
Description: Development library for inclusion of plugins into LiVES
 A library that was originally only available as part of LiVES (package
 lives) but is now available separately. Allows for the inclusion of
 plugins into LiVES.
 .
 This package contains development files.
