Package: erlang-erlware-commons
Version: 1.0.0+dfsg-1
Architecture: amd64
Maintainer: Debian Erlang Packagers <pkg-erlang-devel@lists.alioth.debian.org>
Installed-Size: 172
Depends: erlang-base (>= 1:20.3.8.5+dfsg) | erlang-base-hipe (>= 1:20.3.8.5+dfsg), erlang-crypto (>= 1:20.3.8.5+dfsg), erlang-syntax-tools (>= 1:20.3.8.5+dfsg)
Section: devel
Priority: optional
Homepage: https://github.com/erlware/erlware_commons
Description: Erlware common libraries
 Erlware commons provides extensions to the stdlib application distributed
 in Erlang. The functions provided by this are used in Erlware's production
 application.
