Package: python-medusa
Version: 1:0.5.4-7
Architecture: all
Maintainer: Arnaud Fontaine <arnau@debian.org>
Installed-Size: 352
Depends: python2.6 | python2.7, python (>= 2.6.6-7~), python (<< 2.8)
Suggests: python-medusa-doc
Section: python
Priority: optional
Homepage: http://www.amk.ca/python/code/medusa.html
Description: Framework for implementing asynchronous servers
 Medusa is a 'server platform' -- it provides a framework for
 implementing asynchronous socket-based servers (TCP/IP and on Unix,
 Unix domain, sockets).
