Package: octave-financial
Version: 0.5.3-1
Architecture: all
Maintainer: Debian Octave Group <team+pkg-octave-team@tracker.debian.org>
Installed-Size: 428
Depends: octave (>= 4.4.1), octave-io (>= 2.4.11), octave-statistics (>= 1.4.0)
Conflicts: octave-time
Replaces: octave-time
Section: math
Priority: optional
Homepage: https://octave.sourceforge.io/financial/
Description: financial package for Octave
 This package provides Monte Carlo simulation, options pricing routines,
 financial manipulation, plotting functions and additional date manipulation
 tools for Octave.
 It also provides functions to calculate taxed rates, relative strength
 index, positive volume index, modified internal rate of return amongs many
 more.
 .
 This Octave add-on package is part of the Octave-Forge project.
