Package: libcxxtools-dev
Source: cxxtools
Version: 2.2.1-2
Architecture: amd64
Maintainer: Kari Pahula <kaol@debian.org>
Installed-Size: 16368
Depends: libstdc++6-4.6-dev | libstdc++-dev, libcxxtools9v5 (= 2.2.1-2)
Section: libdevel
Priority: optional
Homepage: http://www.tntnet.org/cxxtools.html
Description: library of unrelated but useful C++ classes
 cxxtools contains an argument-parser, a base-64 encoder/decoder, a
 C++ interface to iconv, md5-stream for easy MD5 calculation,
 threading classes, socket classes, a dynamic exception-safe buffer, a
 wrapper for dlopen/dlsym, a pool template (e.g., for a connection
 pool in a multi-threaded application), query_params, and a class for
 easy parsing of CGI parameters (GET and POST) in a CGI program.
 .
 This package has the development headers and the static libraries.
