Package: libbackuppc-xs-perl
Version: 0.57-2
Architecture: amd64
Maintainer: Debian BackupPC Team <team+pkg-backuppc@tracker.debian.org>
Installed-Size: 192
Depends: perl (>= 5.28.0-3), perlapi-5.28.0, libc6 (>= 2.14), zlib1g (>= 1:1.1.4)
Section: perl
Priority: optional
Multi-Arch: same
Homepage: https://github.com/backuppc/backuppc-xs
Description: Perl module with C backend for BackupPC 4
 BackupPC::XS implements various BackupPC functions in a perl-callable
 module.
 .
 This module is required for BackupPC version 4 and above.
