Package: xul-ext-classic-theme-restorer
Source: classic-theme-restorer
Version: 1.5.9-1
Architecture: all
Maintainer: Debian Mozilla Extension Maintainers <pkg-mozext-maintainers@lists.alioth.debian.org>
Installed-Size: 3677
Depends: iceweasel (>= 45.0) | firefox (>= 45.0) | firefox-esr (>= 45.0)
Enhances: firefox, firefox-esr, iceweasel
Breaks: firefox (<< 45.0), firefox-esr (<< 45.0), iceweasel (<< 45.0)
Provides: classic-theme-restorer, firefox-classic-theme-restorer, firefox-esr-classic-theme-restorer, iceweasel-classic-theme-restorer
Section: web
Priority: optional
Homepage: https://addons.mozilla.org/firefox/addon/classicthemerestorer/
Description: customize the new Firefox interface
 Classic Theme Restorer allows restoration of squared tabs,
 tabs-not-on-top, the app menu, the add-on bar, small button view and
 more.
 .
 Such elements were removed in Mozilla's Australis redesign of Firefox.
