Package: stardict-czech
Version: 20171101-1
Architecture: all
Maintainer: Michal Čihař <nijel@debian.org>
Installed-Size: 860
Recommends: sdcv (>= 0.4.2-2) | stardict (>= 2.4.6) | stardict-gtk (>= 2.4.6) | goldendict | qstardict | babiloo | dictionarystar
Section: text
Priority: optional
Homepage: https://cihar.com/software/slovnik/
Description: Stardict package for Czech dictionary of foreign words
 This is a package of the Czech dictionary of foreign words
 for Stardict.
 .
 The dictionary is compiled from online dictionary available at
 <http://slovnik-cizich-slov.abz.cz/>.
