Package: libchromaprint-dev
Source: chromaprint (1.4.3-2)
Version: 1.4.3-2+b1
Architecture: amd64
Maintainer: Debian Multimedia Maintainers <debian-multimedia@lists.debian.org>
Installed-Size: 39
Depends: libchromaprint1 (= 1.4.3-2+b1)
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: https://acoustid.org/chromaprint
Description: audio fingerprinting library - development files
 Chromaprint is a library for calculating audio fingerprints
 which are used by the Acoustid service. Its main purpose is to provide an
 accurate identifier for record tracks
 .
 This package includes development files needed to compile programs
 using libchromaprint.
