Package: python-metaconfig
Source: metaconfig
Version: 0.1.4a1-5
Architecture: all
Maintainer: Alastair McKinstry <mckinstry@debian.org>
Installed-Size: 31
Depends: python:any (<< 2.8), python:any (>= 2.7.5-5~), python-configparser
Section: python
Priority: optional
Homepage: http://pypi.python.org/pypi/metaconfig
Description: Python ConfigParser bootstrapping library
 Metaconfig is a library for centralising Python's ConfigParser files.
 It is inspired by the logging module where it is increadibly easy to start
 writing code that depends on logging whilst deferring how log messages will
 be handled until later.
