Package: libdockapp3
Source: libdockapp
Version: 1:0.7.2-1
Architecture: amd64
Maintainer: Debian Window Maker Team <pkg-wmaker-devel@lists.alioth.debian.org>
Installed-Size: 71
Depends: libc6 (>= 2.15), libx11-6, libxext6, libxpm4
Suggests: libdockapp-dev, xfonts-libdockapp
Breaks: wmaker (<< 0.62.1)
Section: libs
Priority: optional
Multi-Arch: same
Homepage: http://windowmaker.org/dockapps/?name=libdockapp
Description: Window Maker Dock App support (shared library)
 Simple library that eases the creation of Window Maker dock apps. It
 provides functions that set up a dock app in such a way that they can be
 properly docked. It also provides some event handlers and makes it very
 simple to write dockapps.
 .
 This package contains the shared library. Install this for programs that
 use libdockapp.
