Package: python3-ldns
Source: ldns (1.7.0-3)
Version: 1.7.0-3+b2
Architecture: amd64
Maintainer: Debian DNS Packaging <pkg-dns-devel@lists.alioth.debian.org>
Installed-Size: 1453
Depends: python3 (<< 3.7), python3 (>= 3.6~), python3:any (>= 3.3.2-2~), libc6 (>= 2.14), libldns2 (>= 1.7.0), libpython3.6 (>= 3.6.5)
Provides: python3.6-ldns
Section: python
Priority: extra
Multi-Arch: foreign
Description: Python3 bindings for the ldns library for DNS programming
 The goal of ldns is to simplify DNS programming, it supports recent RFCs
 like the DNSSEC documents, and allows developers to easily create software
 conforming to current RFCs, and experimental software for current Internet
 Drafts.
 .
 This archive contains modules that allow you to use LDNS Library in
 Python3 programs.
