Package: node-deep-extend
Version: 0.4.1-1
Architecture: all
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Installed-Size: 23
Depends: nodejs
Section: web
Priority: optional
Homepage: https://github.com/unclechu/node-deep-extend
Description: Recursive object extending
 This module does a recursive object extending.
 .
 Node.js is an event-based server-side JavaScript engine.
