Package: node-array-parallel
Version: 0.1.4-1
Architecture: all
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Installed-Size: 17
Depends: nodejs
Section: web
Priority: extra
Homepage: https://github.com/component/array-parallel
Description: Call an array of asynchronous functions in parallel
 This modules calls an array of functions in parallel.
 .
 Node.js is an event-based server-side JavaScript engine.
