Package: node-forever-agent
Version: 0.6.1-1
Architecture: all
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Installed-Size: 17
Depends: nodejs
Section: javascript
Priority: optional
Homepage: https://github.com/mikeal/forever-agent
Description: HTTP agent supporting keep-alive requests - module for Node.js
 node-forever-agent keeps socket connections alive between keep-alive
 requests.
 .
 Node.js is an event-based server-side javascript engine.
