Package: libsword-dev
Source: sword (1.8.1+dfsg-8)
Version: 1.8.1+dfsg-8+b1
Architecture: amd64
Maintainer: CrossWire Packaging Team <pkg-crosswire-devel@alioth-lists.debian.net>
Installed-Size: 5817
Depends: libsword-1.8.1 (= 1.8.1+dfsg-8+b1)
Recommends: libsword-utils
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: http://www.crosswire.org/sword/
Description: Development files for libsword
 The SWORD Project is an open source, cross-platform (Linux, Windows, Solaris,
 MacOSX etc.) API/library for Bible software with a constantly growing list
 of front-ends (GUI, textmode, web-based, etc.) and a library of over 200
 text modules.
 .
 This package contains the static libraries and headers for developing
 applications that use the SWORD library.
