Package: libhtml-formhandler-perl
Version: 0.40068-1
Architecture: all
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Installed-Size: 1277
Depends: perl, libaliased-perl, libclass-load-perl, libcrypt-blowfish-perl, libcrypt-cbc-perl, libdata-clone-perl, libdatetime-format-strptime-perl, libdatetime-perl, libemail-valid-perl, libfile-sharedir-perl, libhtml-parser-perl, libhtml-tree-perl, libjson-perl, libmoose-perl (>= 2.1403), libmoosex-getopt-perl, libmoosex-types-common-perl, libmoosex-types-loadableclass-perl, libmoosex-types-perl, libnamespace-autoclean-perl, libsub-exporter-perl, libsub-name-perl, libtry-tiny-perl, libjson-maybexs-perl (>= 1.003003), perl (>= 5.19.5) | libscalar-list-utils-perl (>= 1:1.33)
Recommends: libconfig-any-perl, libgd-securityimage-perl, libtemplate-perl
Section: perl
Priority: optional
Homepage: https://metacpan.org/release/HTML-FormHandler
Description: form handler written in Moose
 HTML::FormHandler maintains a clean separation between form construction and
 form rendering. It allows you to define your forms and fields in a number of
 flexible ways. Although it provides renderers for HTML, you can define custom
 renderers for any kind of presentation.
