Package: libmathicgb0
Source: mathicgb
Version: 1.0~git20170606-2
Architecture: amd64
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Installed-Size: 1058
Depends: libatomic1 (>= 4.8), libc6 (>= 2.17), libgcc1 (>= 1:3.0), libmathic0v5 (>= 1.0~git20170606), libmemtailor0 (>= 1.0~git20130809), libstdc++6 (>= 5.2), libtbb2
Section: libs
Priority: optional
Multi-Arch: same
Homepage: https://github.com/Macaulay2/mathicgb
Description: Compute Groebner bases (runtime library)
 Mathicgb is a program for computing Groebner basis and signature Groebner
 bases.  Mathicgb is based on the fast data structures from mathic.
 .
 The paper "Practical Groebner Basis Computation" describes the algorithms in
 Mathicgb from a high level. It was presented at ISSAC 2012 and is available at
 http://arxiv.org/abs/1206.6940
 .
 This package contains the runtime library.
