Package: libopencryptoki-dev
Source: opencryptoki
Version: 3.8.1+dfsg-3.1
Architecture: amd64
Maintainer: Paulo Vital <pvital@gmail.com>
Installed-Size: 109
Depends: libopencryptoki0 (= 3.8.1+dfsg-3.1)
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: https://github.com/opencryptoki/opencryptoki
Description: PKCS#11 implementation (development)
 openCryptoki is a PKCS#11 Cryptographic Token Interface Standard
 implementation.  It includes drivers and libraries to enable IBM cryptographic
 hardware such as Trusted Computing Platform (TPM) cryptographic devices as well
 as a software token for testing.
 .
 This package contains the development files.
