Package: afnix-doc
Source: afnix
Version: 2.8.1-2
Architecture: all
Maintainer: Nobuhiro Iwamatsu <iwamatsu@debian.org>
Installed-Size: 265
Suggests: afnix
Section: doc
Priority: optional
Homepage: http://www.afnix.org/
Description: Compiler and run-time for the AFNIX programming language (documentation)
 AFNIX is a multi-threaded functional programming language with
 dynamic symbol bindings that support the object oriented paradigm.
 The language features a state of the art runtime engine. The
 distribution is available with several clients and a rich set
 of modules that are designed to be platform independent.
 .
 This package contains the documentation for AFNIX.
