Package: chemical-mime-data
Version: 0.1.94-7
Architecture: all
Maintainer: Debichem Team <debichem-devel@lists.alioth.debian.org>
Installed-Size: 232
Depends: shared-mime-info
Suggests: gnome-mime-data
Conflicts: chemicalmime
Replaces: chemicalmime
Provides: chemicalmime
Section: misc
Priority: optional
Multi-Arch: foreign
Homepage: https://github.com/dleidert/chemical-mime
Description: chemical MIME and file type support for desktops
 The chemical media type and various subtypes have been proposed by
 Henry Rzepa, Peter-Murray Rust and Benjamin Whitaker in 1996 as an
 addition to the existing MIME types. The proposal didn't succeed
 but various applications make use of these MIME/file types. This
 package adds support to Linux desktops to detect and recognize
 files of the chemical/* media type.
 .
 See also for http://www.ch.ic.ac.uk/chemime/.
