Package: libghc-linear-dev
Source: haskell-linear (1.20.7-2)
Version: 1.20.7-2+b1
Architecture: amd64
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Installed-Size: 13228
Depends: libghc-adjunctions-dev-4.4-da4b6, libghc-base-dev-4.10.1.0-35a7f, libghc-base-orphans-dev-0.7-ad004, libghc-binary-dev-0.8.5.1-efb65, libghc-bytes-dev-0.15.4-0a279, libghc-cereal-dev-0.5.5.0-f70f8, libghc-containers-dev-0.5.10.2-cc496, libghc-deepseq-dev-1.4.3.0-38379, libghc-distributive-dev-0.5.3-f3f15, libghc-ghc-prim-dev-0.5.1.1-c8f3d, libghc-hashable-dev-1.2.7.0-6cb51, libghc-lens-dev-4.16.1-13f29, libghc-reflection-dev-2.1.3-49c0b, libghc-semigroupoids-dev-5.2.2-088ba, libghc-semigroups-dev-0.18.4-c7396, libghc-tagged-dev-0.8.5-a8d72, libghc-template-haskell-dev-2.12.0.0-22576, libghc-transformers-dev-0.5.2.0-e0457, libghc-transformers-compat-dev-0.5.1.4-4baae, libghc-unordered-containers-dev-0.2.9.0-d1c8f, libghc-vector-dev-0.12.0.1-c53f0, libghc-void-dev-0.7.2-5d64d, libc6 (>= 2.27), libgmp10
Suggests: libghc-linear-doc, libghc-linear-prof
Provides: libghc-linear-dev-1.20.7-72345
Section: haskell
Priority: optional
Homepage: http://github.com/ekmett/linear/
Description: Linear Algebra
 Types and combinators for linear algebra on free vector spaces
 .
 This package provides a library for the Haskell programming language.
 See http://www.haskell.org/ for more information on Haskell.
Ghc-Package: linear-1.20.7-IgVx0SgxUycC9HhXRlkaKn
