Package: libt4k-common0-dev
Source: t4kcommon
Version: 0.1.1-4
Architecture: amd64
Maintainer: Holger Levsen <holger@debian.org>
Installed-Size: 73
Depends: libt4k-common0 (= 0.1.1-4), librsvg2-dev, libsdl-pango-dev, libsdl-image1.2-dev, libxml2-dev
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: http://tux4kids.alioth.debian.org/
Description: common library for tux4kids - development files
 t4k_common is a library of code shared between tuxmath and tuxtype.
 .
 This package contains the development flies.
