Package: ruby-googlecharts
Version: 1.6.12-1
Architecture: all
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Installed-Size: 51
Depends: ruby | ruby-interpreter
Section: contrib/ruby
Priority: optional
Homepage: http://googlecharts.rubyforge.org/
Description: Ruby library to generate charts using Google Chart API
 Googlecharts is a nice and simple wrapper for the Google Chart API.
 It allows one to draw a large variety of kinds of graphs such as bars or pies.
 .
 This library relies on external code hosted on Google servers, accessed
 through this API.
Ruby-Versions: all
