Package: node-sigmund
Version: 1.0.0-1
Architecture: all
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Installed-Size: 37
Depends: nodejs
Section: web
Priority: extra
Homepage: https://github.com/isaacs/sigmund
Description: Quick and dirty signatures for Objects module for Node.js
 This is like a much faster `deepEquals` comparison, which returns a
 string key suitable for caches and the like.
 The returned key will be as unique and reproducible as calling
 `JSON.stringify` or `util.inspect` on the object, but is much faster.
 .
 Node.js is an event-based server-side javascript engine.
