Package: golang-gopkg-mgo.v2-dev
Source: golang-gopkg-mgo.v2
Version: 2016.08.01-5
Architecture: all
Maintainer: Debian Go Packaging Team <pkg-go-maintainers@lists.alioth.debian.org>
Installed-Size: 1168
Depends: golang-gopkg-tomb.v2-dev, libsasl2-dev, golang-check.v1-dev
Section: devel
Priority: optional
Homepage: http://labix.org/mgo
Description: Go library for MongoDB
 mgo (pronounced as mango) is a MongoDB driver for the Go language
 that implements a rich and well tested selection of features under
 a very simple API following standard Go idioms.
 .
 This package contains the source.
