Package: mwc
Version: 2.0.4-3
Architecture: all
Maintainer: Jörg Frings-Fürst <debian@jff.email>
Installed-Size: 57
Depends: python3:any, python3-lxml, python3-cssselect
Section: utils
Priority: optional
Homepage: https://github.com/Debianguru/MailWebsiteChanges
Description: Powerful website-tracking tool
 MailWebsiteChanges is a Python script to keep track of website
 changes; sends email notifications on updates and/or also
 provides an RSS feed.
 .
 To specify which parts of a website should be monitored, XPath
 selectors, CSS selectors, and regular  expressions can be used
 (just choose the tools you like!).
