Package: libosgi-annotation-java-doc
Source: osgi-annotation
Version: 6.0.0-2
Architecture: all
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Installed-Size: 96
Section: doc
Priority: optional
Homepage: http://www.osgi.org/Specifications/HomePage
Description: Javadoc for Java OSGi API - annotation module
 OSGi, for Open Services Gateway initiative framework, is a module system and
 service platform for the Java programming language.
 .
 This package contains Javadoc HTML documentation for libosgi-annotation-java.
