Package: python3-pikepdf
Source: pikepdf
Version: 0.10.1-2
Architecture: amd64
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Installed-Size: 797
Depends: python3 (<< 3.8), python3 (>= 3.7~), python3-defusedxml, python3-lxml, python3:any, libc6 (>= 2.14), libgcc1 (>= 1:3.0), libqpdf21 (>> 8.2~), libstdc++6 (>= 5.2)
Provides: python3.7-pikepdf
Section: python
Priority: optional
Homepage: https://github.com/pikepdf/pikepdf
Description: Python library to read and write PDFs with QPDF
 pikepdf is a Python library to read and write PDFs with QPDF.
 Features include:
 .
   * Editing, manipulation and transformation of existing PDFs
   * Based on the mature, proven QPDF C++ library
   * Works with encrypted PDFs
   * Supports all PDF compression filters
   * Can create "fast web view" (linearized) PDFs
   * Creates standards compliant PDFs that pass validation in other tools
   * Automatically repairs damaged PDFs, just like QPDF
   * Implements more of the PDF specification than existing Python PDF tools
   * IPython notebook and Jupyter integration
Python-Version: 3.7
