Package: libhtrace-core-java
Source: htrace
Version: 3.1.0-2
Architecture: all
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Installed-Size: 83
Depends: libcommons-logging-java, libjackson2-core-java, libjackson2-databind-java
Section: java
Priority: optional
Homepage: http://htrace.org
Description: Tracing framework for distributed systems written in Java
 HTrace is a tracing framework recording spans (basic units of work, like
 a remote procedure call) and traces (set of spans forming a tree-like
 structure) to measure execution times in distributed systems.
