Package: gdisk
Version: 1.0.3-1.1
Architecture: amd64
Maintainer: Guillaume Delacour <gui@iroqwa.org>
Installed-Size: 811
Depends: libc6 (>= 2.14), libgcc1 (>= 1:3.0), libncursesw6 (>= 6), libpopt0 (>= 1.14), libstdc++6 (>= 5.2), libtinfo6 (>= 6), libuuid1 (>= 2.16)
Recommends: groff-base
Section: admin
Priority: extra
Homepage: http://sourceforge.net/projects/gptfdisk/
Description: GPT fdisk text-mode partitioning tool
 GPT fdisk (aka gdisk) is a text-mode partitioning
 tool that works on Globally Unique Identifier
 (GUID) Partition Table (GPT) disks, rather than
 on the more common (through 2009)
 Master Boot Record (MBR) partition tables.
