Package: libkf5kface-data
Source: libkf5kface
Version: 15.12.0-3
Architecture: all
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Installed-Size: 32031
Section: libs
Priority: optional
Homepage: https://projects.kde.org/projects/kde/kdegraphics/libs/libkface
Description: face recognition and detection library
 Libkface is a Qt/C++ library to perform face recognition
 and detection over pictures.
 .
 This library is used by kipi-plugins, digiKam and others
 Kipi host programs.
 .
 This package contains the data files of the LibKFace library.
