Package: libcpan-changes-perl
Version: 0.400002-1
Architecture: all
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Installed-Size: 82
Depends: perl
Section: perl
Priority: optional
Homepage: https://metacpan.org/release/CPAN-Changes
Description: module for reading and writing CPAN Changes files
 CPAN::Changes is a Perl module for working with the quasi-standard Changes
 file commonly included with modern CPAN distributions. It allows developers
 to programmatically read and write files that comply with the preliminary
 CPAN::Changes::Spec specification.
 .
 Includes Test::CPAN::Changes for writing tests to ensure that the
 Changes file complies with CPAN::Changes::Spec.
