Package: golang-github-kolo-xmlrpc-dev
Source: golang-github-kolo-xmlrpc
Version: 0+git20150413.0826b98-2
Architecture: all
Maintainer: Debian Go Packaging Team <pkg-go-maintainers@lists.alioth.debian.org>
Installed-Size: 48
Depends: golang-x-text-dev
Built-Using: golang-1.6 (= 1.6.2-1)
Section: devel
Priority: extra
Homepage: https://github.com/kolo/xmlrpc
Description: Implementation of the XMLRPC client protocol in Go
 The github.com/kolo/xmlrpc package is an implementation of client side part of
 XMLRPC protocol in the Go language.
