Package: avr-libc
Version: 1:2.0.0+Atmel3.6.1-1
Architecture: all
Maintainer: Hakan Ardo <hakan@debian.org>
Installed-Size: 42221
Depends: gcc-avr (>= 5.4.0+Atmel3.6.1-1), binutils-avr (>= 2.26.20160125+Atmel3.6.1-1)
Section: otherosfs
Priority: extra
Description: Standard C library for Atmel AVR development
 Standard library used to the development of C programs for the
 Atmel AVR micro controllers. This package contains static
 libraries as well as the header files needed.
