Package: gambas3-gb-qt5-webkit
Source: gambas3
Version: 3.11.4-6
Architecture: amd64
Maintainer: Debian Gambas Team <team+debian-gambas@tracker.debian.org>
Installed-Size: 186
Depends: gambas3-gb-qt5 (>= 3.11.4-6), libc6 (>= 2.4), libgcc1 (>= 1:3.0), libqt5core5a (>= 5.11.0~rc1), libqt5gui5 (>= 5.0.2), libqt5network5 (>= 5.0.2), libqt5printsupport5 (>= 5.0.2), libqt5webkit5 (>= 5.6.0~rc), libqt5widgets5 (>= 5.0.2), libqt5xml5 (>= 5.0.2), libstdc++6 (>= 4.1.1), libx11-6
Section: kde
Priority: optional
Homepage: http://gambas.sourceforge.net
Description: Gambas WebKit component
 Gambas is a free development environment based on a Basic interpreter
 with object extensions, like Visual Basic(tm) (but it is NOT a clone!).
 .
 This package allows you to use the WebKit browser component from Qt5.
