Package: elpa-move-text
Source: move-text-el
Version: 2.0.8-1
Architecture: all
Maintainer: Debian Emacs addons team <pkg-emacsen-addons@lists.alioth.debian.org>
Installed-Size: 36
Depends: emacsen-common
Recommends: emacs (>= 46.0)
Enhances: emacs, emacs24, emacs25
Section: lisp
Priority: optional
Homepage: https://github.com/emacsfodder/move-text
Description: move current line or region up and down
 The package allows one to move the current line up and down. If a
 region is marked, it will move the region instead. Using the prefix
 one can predefine how many lines move-text will travel.
