Package: node-foreground-child
Version: 1.5.6-6
Architecture: all
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Installed-Size: 19
Depends: nodejs (>= 6), node-signal-exit (>= 3.0.0), node-cross-spawn (>= 4)
Section: web
Priority: optional
Homepage: https://github.com/tapjs/foreground-child#readme
Description: helper running a child process as a foreground process
 This Node.js module emulate simple control group in pure javacript.
 It runs a child process as foreground process redirecting output
 to stdout and exiting main process as soon as child exist.
 .
 This module could be used for implementating TAP test
 for Node.js.
 .
 TAP is a simple text-based interface between testing modules
 implemented in many popular languages.
 .
 Node.js is an event-based server-side JavaScript engine.
