Package: fonts-misaki
Version: 20150410-3
Architecture: all
Maintainer: Debian Fonts Task Force <pkg-fonts-devel@lists.alioth.debian.org>
Installed-Size: 2192
Pre-Depends: dpkg (>= 1.15.6~)
Breaks: ttf-misaki (<< 11-20080603-10)
Replaces: ttf-misaki (<< 11-20080603-10)
Section: fonts
Priority: optional
Multi-Arch: foreign
Homepage: http://www.geocities.jp/littlimi/misaki.htm
Description: Japanese Gothic and Mincho font from "Misaki" bitmap font
 Originally, Misaki font was created as Japanese 8x8 bitmap font for small
 computer PC-E500, so it was small, beautiful and easily readable font.
 And now, it is converted to TrueType font.
 .
 It's beta quality yet, but useful for some situation.
