Package: fiona
Version: 1.7.13-1
Architecture: amd64
Maintainer: Debian GIS Project <pkg-grass-devel@lists.alioth.debian.org>
Installed-Size: 40
Depends: python3-fiona (= 1.7.13-1), python3:any, python3-click-plugins
Suggests: fiona-doc
Section: science
Priority: optional
Homepage: https://github.com/Toblerity/Fiona
Description: Command line tool for reading/writing vector geospatial data
 Fiona is a Python wrapper around the OGR vector data abstraction library.
 Fiona is designed to be simple and dependable. It focuses on reading
 and writing data in standard Python IO style and relies upon familiar
 Python types and protocols such as files, dictionaries, mappings, and
 iterators instead of classes specific to OGR. Fiona can read and write
 real-world data using multi-layered GIS formats and zipped virtual
 file systems and integrates readily with other Python GIS packages
 such as pyproj, Rtree, and Shapely.
 .
 This package provides the fiona command line tools
