Package: libhocr0
Source: hocr
Version: 0.10.18-3
Architecture: amd64
Maintainer: Debian Hebrew Packaging Team <team+hebrew@tracker.debian.org>
Installed-Size: 536
Depends: libatk1.0-0 (>= 1.12.4), libc6 (>= 2.14), libcairo2 (>= 1.2.4), libfftw3-double3 (>= 3.3.5), libfontconfig1 (>= 2.12.6), libfreetype6 (>= 2.2.1), libgdk-pixbuf2.0-0 (>= 2.22.0), libglib2.0-0 (>= 2.16.0), libgtk2.0-0 (>= 2.8.0), libpango-1.0-0 (>= 1.14.0), libpangocairo-1.0-0 (>= 1.14.0), libpangoft2-1.0-0 (>= 1.14.0), libtiff5 (>= 4.0.3)
Recommends: netpbm
Section: libs
Priority: optional
Homepage: https://sourceforge.net/projects/hocr.berlios/
Description: Hebrew OCR library
 Libhocr is an Hebrew OCR (Optical character recognition) library written in
 C/C++.
 .
 This package contains the libhocr library and the hocr command line utility,
 which can process PBM file formats
