Package: fortunes-off
Source: fortune-mod
Version: 1:1.99.1-7
Architecture: all
Maintainer: Andrea Colangelo <warp10@ubuntu.com>
Installed-Size: 1846
Depends: fortunes
Recommends: fortune-mod (>= 9708-12)
Replaces: fortunes (<= 9708-0.1)
Provides: fortune-cookie-db
Section: games
Priority: optional
Description: Data files containing offensive fortune cookies
 The fortune program displays epigrams, known as fortune cookies,
 selected randomly from a selection of fortune files.
 .
 This package contains cookies which some may consider to be
 offensive. Please do not install this package if you or your users
 are easily offended.
 .
 You'll need the fortune-mod package to display the cookies.
