Package: gnome-commander-data
Source: gnome-commander
Version: 1.4.8-1.1
Architecture: all
Maintainer: Michael Vogt <mvo@debian.org>
Installed-Size: 13950
Suggests: gnome-commander
Breaks: gnome-commander (<= 1.2.8.10-1)
Replaces: gnome-commander (<= 1.2.8.10-1)
Section: gnome
Priority: optional
Homepage: http://gcmd.github.io/
Description: Data files for GNOME Commander
 GNOME Commander is a fast and powerful graphical filemanager for
 the GNOME desktop environment, it has a "two-pane" interface in
 the tradition of Norton and Midnight Commander.
 .
 This package contains the data files for gnome-commander.
