Package: python3-saharaclient
Source: python-saharaclient
Version: 2.0.0-2
Architecture: all
Maintainer: Debian OpenStack <team+openstack@tracker.debian.org>
Installed-Size: 553
Depends: python3-babel, python3-keystoneauth1 (>= 3.4.0), python3-openstackclient (>= 3.12.0), python3-osc-lib (>= 1.11.0), python3-oslo.i18n (>= 3.15.3), python3-oslo.log (>= 3.36.0), python3-oslo.serialization (>= 2.18.0), python3-oslo.utils (>= 3.33.0), python3-pbr (>= 2.0.0), python3-requests (>= 2.14.2), python3-six (>= 1.10.0), python3:any
Section: python
Priority: optional
Homepage: https://github.com/openstack/python-saharaclient
Description: Client library for Openstack Sahara API server - Python 3.x module
 Sahara aims to provide users with simple means to provision a Hadoop cluster
 by specifying several parameters like Hadoop version, cluster topology, nodes
 hardware details and a few more.
 .
 This is a client for the Sahara which uses the OpenStack Image API. There's a
 Python API (the "saharaclient" module), and a command-line script ("sahara").
 .
 This package provides the Python 3.x module.
