Package: libwww-shorten-simple-perl
Version: 0.02-1
Architecture: all
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Installed-Size: 22
Depends: perl, libwww-shorten-perl
Section: perl
Priority: optional
Homepage: http://search.cpan.org/dist/WWW-Shorten-Simple/
Description: factory wrapper around WWW::Shorten to avoid imports
 WWW::Shorten::Simple is a object oriented wrapper around WWW::Shorten
 so that you can create an object representing each URL shortening
 service, instead of importing link shortening functions into the
 namespace of your module.
