Package: libpod-weaver-section-support-perl
Version: 1.010-1
Architecture: all
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Installed-Size: 48
Depends: perl, libmoose-perl, libpod-weaver-perl, libppix-documentname-perl
Section: perl
Priority: optional
Homepage: https://metacpan.org/release/Pod-Weaver-Section-Support
Description: Dist::Zilla plugin to add a SUPPORT section to your POD
 Pod::Weaver::Section::Support is a Dist::Zilla plugin to that will
 produce a hunk of pod that lists the various ways to get support for
 your module.
 .
 If you have Dist::Zilla::Plugin::Repository enabled in your dist.ini, be sure
 to check the repository_link attribute!
 .
 The generated support section is added ONLY to the main module's POD,
 because it would be a waste of space to add it to all modules in your
 dist.
