Package: debichem-tasks
Source: debichem
Version: 0.0.6
Architecture: all
Maintainer: Debichem Team <debichem-devel@lists.alioth.debian.org>
Installed-Size: 16
Depends: tasksel
Section: misc
Priority: extra
Homepage: http://alioth.debian.org/projects/debichem
Description: DebiChem tasks for tasksel
 This package provides DebiChem tasks in tasksel.
 .
 These tasks are described in detail at
 http://blends.alioth.debian.org/debichem/tasks/
