Package: libreoffice-report-builder
Source: libreoffice
Version: 1:6.1.4-3
Architecture: all
Maintainer: Debian LibreOffice Maintainers <debian-openoffice@lists.debian.org>
Installed-Size: 396
Depends: libreoffice-core, libreoffice-java-common, libreoffice-report-builder-bin (>= 1:6.1.4), libreoffice-common (= 1:6.1.4-3), libbase-java, libsac-java, libxml-java (>= 1.1.6), libflute-java (>= 1.1.6), libpentaho-reporting-flow-engine-java (>= 0.9.4), liblayout-java (>= 0.2.10), libloader-java (>= 1.1.6), libformula-java (>= 1.1.7), librepository-java (>= 1.1.6), libfonts-java (>= 1.1.6), libserializer-java (>= 1.1.6), libcommons-logging-java
Enhances: libreoffice-base
Provides: libreoffice-reportdesigner
Section: misc
Priority: optional
Homepage: http://www.libreoffice.org
Description: LibreOffice component for building database reports
 LibreOffice is a full-featured office productivity suite that provides
 a near drop-in replacement for Microsoft(R) Office.
 .
 This package contains the report builder:
  "Create with the Sun Report Builder stylish, smart-looking database reports.
  The flexible report editor can define group and page headers as well as
  group and page footers and even calculation fields are available to
  accomplish complex database reports."
