Package: python-snuggs
Version: 1.4.2-2
Architecture: all
Maintainer: Debian GIS Project <pkg-grass-devel@lists.alioth.debian.org>
Installed-Size: 32
Depends: python-lxml, python-click, python-numpy, python-pyparsing, python:any (<< 2.8), python:any (>= 2.7~)
Section: python
Priority: optional
Homepage: https://github.com/mapbox/snuggs
Description: S-expressions for numpy - Python 2 version
 This library parses S-expressions using numpy. Available function include
 arithmetic and logical operators. Also members of the numpy module such as
 "asarray()", "mean()" and "where" are available.
 .
 This package provides the Python 2 version of the package.
