Package: r-bioc-graph
Version: 1.58.0-3
Architecture: amd64
Maintainer: Debian R Packages Maintainers <r-pkg-team@alioth-lists.debian.net>
Installed-Size: 2272
Depends: r-base-core (>= 3.5.1-1), r-api-3.5, r-bioc-biocgenerics (>= 0.13.11), libc6 (>= 2.4)
Recommends: r-cran-runit, r-cran-xml
Suggests: r-cran-sparsem (>= 0.36), r-bioc-rbgl, r-cran-cluster
Section: gnu-r
Priority: optional
Homepage: https://bioconductor.org/packages/graph/
Description: handle graph data structures for BioConductor
 This BioConductor module implements some simple graph handling
 capabilities.  These are for instance used in hypergraph module
 which in turn is used by several other BioConductor packages.
