Package: elpa-org
Source: org-mode
Version: 9.1.14+dfsg-3
Architecture: all
Maintainer: Debian Emacsen team <debian-emacsen@lists.debian.org>
Installed-Size: 5709
Depends: emacsen-common, elpa-htmlize
Recommends: emacs (>= 46.0)
Suggests: org-mode-doc, ditaa, texlive-latex-extra, texlive-fonts-recommended, texinfo
Enhances: emacs, emacs24, emacs25
Breaks: org-mode (<< 9.0.9+dfsg-2)
Provides: elpa-org-plus-contrib, org-mode
Section: lisp
Priority: optional
Homepage: https://orgmode.org
Description: Keep notes, maintain ToDo lists, and do project planning in emacs
 Org-mode is a mode for keeping notes, maintaining ToDo lists, and
 doing project planning with a fast and effective plain-text system.
 .
 Org-mode develops organizational tasks around NOTES files that contain
 information about projects as plain text. Org-mode is implemented on
 top of outline-mode, which makes it possible to keep the content of
 large files well structured. Visibility cycling and structure editing
 help to work with the tree. Tables are easily created with a built-in
 table editor. Org-mode supports ToDo items, deadlines, time stamps,
 and scheduling. It dynamically compiles entries into an agenda. Plain
 text URL-like links connect to websites, emails, Usenet messages,
 BBDB entries, and any files related to the projects. For printing and
 sharing of notes, an Org-mode file can be exported as a structured
 ASCII file, HTML, and LaTeX.
