Package: libambix-dev
Source: libambix (0.1.1-1)
Version: 0.1.1-1+b1
Architecture: amd64
Maintainer: Debian Multimedia Maintainers <pkg-multimedia-maintainers@lists.alioth.debian.org>
Installed-Size: 70
Depends: libambix0 (>= 0.1.1-1), libambix0 (<< 0.1.1+1~)
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: http://ambisonics.iem.at/xchange/format
Description: AMBIsonics eXchange library (development files)
 libambix is a library of C routines for reading and writing files following the
 "ambix" (AMBIsonics eXchange) conventions.
 .
 Ambisonics is a periphonic (3D) surround sound technique, with a scalable
 spatial resolution (put simply: "the more audio channels you use, the better").
 The ambix convention defines an extensible format for exchanging soundfiles
 containing Higher Order Ambisonics data.
 .
 This package provides the files necessary to compile an application
 using libambix.
