Package: clustalw
Version: 2.1+lgpl-6
Architecture: amd64
Maintainer: Debian Med Packaging Team <debian-med-packaging@lists.alioth.debian.org>
Installed-Size: 775
Depends: libc6 (>= 2.14), libgcc1 (>= 1:3.0), libstdc++6 (>= 5.2)
Suggests: clustalx, seaview
Enhances: bioperl-run, emboss, t-coffee
Section: science
Priority: optional
Homepage: http://www.clustal.org/clustal2/
Description: global multiple nucleotide or peptide sequence alignment
 This program performs an alignment of multiple nucleotide or amino acid
 sequences. It recognizes the format of input sequences and whether the
 sequences are nucleic acid (DNA/RNA) or amino acid (proteins). The output
 format may be selected from in various formats for multiple alignments such as
 Phylip or FASTA. Clustal W is very well accepted.
 .
 The output of Clustal W can be edited manually but preferably with an
 alignment editor like SeaView or within its companion Clustal X. When building
 a model from your alignment, this can be applied for improved database
 searches. The Debian package hmmer creates such in form of an HMM.
