Package: libghc-groups-prof
Source: haskell-groups
Version: 0.4.1.0-2
Architecture: amd64
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Installed-Size: 166
Depends: libghc-groups-dev (= 0.4.1.0-2), libghc-base-prof-4.10.1.0-35a7f
Provides: libghc-groups-prof-0.4.1.0-571ae
Section: haskell
Priority: optional
Homepage: http://hackage.haskell.org/package/groups
Description: Haskell 98 groups; profiling libraries
 A group is a monoid with invertibility.
 .
 This package provides a library for the Haskell programming language, compiled
 for profiling.  See http://www.haskell.org/ for more information on Haskell.
