Package: libpgobject-type-bigfloat-perl
Version: 2.001-1
Architecture: all
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Installed-Size: 22
Depends: perl, libpgobject-perl, libmath-bigint-perl
Section: perl
Priority: optional
Homepage: https://metacpan.org/release/PGObject-Type-BigFloat
Description: Math::BigFloat wrappers for PGObject classes
 PGObject::Type::BigFloat provides a PGObject-aware wrapper around
 Math::BigFloat. This can then be the basis of "double-facing" classes sitting
 between user interfaces and the database. Once registered (optionally in a
 registry, which must already exist), it grabs all NUMERIC and FLOAT types and
 returns these as Math::BigFloat-compatible objects.
