Package: libghc-pipes-group-dev
Source: haskell-pipes-group (1.0.12-1)
Version: 1.0.12-1+b1
Architecture: amd64
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Installed-Size: 221
Depends: libghc-base-dev-4.11.1.0-5dd74, libghc-free-dev-5.0.2-d8cde, libghc-pipes-dev-4.3.9-a6791, libghc-pipes-parse-dev-3.0.8-2a203, libghc-transformers-dev-0.5.5.0-b5d2f, libatomic1 (>= 4.8), libc6 (>= 2.2.5), libgmp10
Suggests: libghc-pipes-group-doc, libghc-pipes-group-prof
Provides: libghc-pipes-group-dev-1.0.12-d1944
Section: haskell
Priority: optional
Homepage: http://hackage.haskell.org/package/pipes-group
Description: group streams into substreams
 pipes-group uses FreeT and lenses to group streams into sub-streams.
 Notable features include:
  * Perfect Streaming: Group elements without collecting them into memory
  * Lens Support: Use lenses to simplify many common operations
 .
 This package provides a library for the Haskell programming language.
 See http://www.haskell.org/ for more information on Haskell.
Ghc-Package: pipes-group-1.0.12-FviC7qkaJzREPclvUab6PY
