Package: pynag
Version: 0.9.1+dfsg-1
Architecture: all
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Installed-Size: 80
Depends: python:any, python-pynag
Section: python
Priority: optional
Homepage: http://pynag.org
Description: Command line interface to nagios configuration
 The main goal of this project is to provide a Python tool for
 pragmatically handling Nagios configuration file maintenance, and
 plugin development.
 .
 This package contains the executable program pynag which uses the
 pynag module to inspect and manipulate nagios configuration.
