Package: libghc-warp-doc
Source: haskell-warp
Version: 3.2.25-2
Architecture: all
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Installed-Size: 2791
Depends: haddock-interface-33
Recommends: ghc-doc, libghc-auto-update-doc, libghc-http-date-doc, libghc-http-types-doc, libghc-http2-doc, libghc-network-doc, libghc-streaming-commons-doc, libghc-wai-doc, libjs-mathjax
Section: doc
Priority: optional
Homepage: http://github.com/yesodweb/wai
Description: fast, light-weight web server for WAI applications; documentation
 It contains the premier WAI handler. For more information, see
 http://steve.vinoski.net/blog/2011/05/01/warp-a-haskell-web-server/ .
 .
 This package provides the documentation for a library for the Haskell
 programming language.
 See http://www.haskell.org/ for more information on Haskell.
