Package: python-rdflib-jsonld
Version: 0.4.0-4
Architecture: all
Maintainer: Debian Med Packaging Team <debian-med-packaging@lists.alioth.debian.org>
Installed-Size: 60
Depends: python-rdflib (>= 4.2.1), python:any (<< 2.8), python:any (>= 2.7~)
Section: python
Priority: optional
Homepage: https://github.com/RDFLib/rdflib-jsonld
Description: rdflib extension adding JSON-LD parser and serializer in Python 2
 This parser/serialiser will
 .
  - read in an JSON-LD formatted document and create an RDF graph
  - serialize an RDF graph to JSON-LD formatted output
 .
 This is the Python 2 version.
