Package: lua-filesystem-dev
Source: lua-filesystem
Version: 1.6.3-1
Architecture: amd64
Maintainer: Enrico Tassi <gareuselesinge@debian.org>
Installed-Size: 126
Depends: lua-filesystem (= 1.6.3-1)
Provides: lua5.1-filesystem-dev, lua5.2-filesystem-dev, lua5.3-filesystem-dev
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: https://github.com/keplerproject/luafilesystem
Description: luafilesystem development files for the Lua language
 This package contains the development files of the luafilesystem library,
 useful to create a statically linked binary (like a C application or a
 standalone Lua interpreter).
 Documentation is also shipped within this package.
Lua-Versions: 5.2 5.1 5.3
