Package: libcsvimp-dev
Source: csvimp
Version: 0.6.2-1
Architecture: amd64
Maintainer: Debian xTuple Maintainers <pkg-xtuple-maintainers@lists.alioth.debian.org>
Installed-Size: 73
Depends: qtbase5-dev (>= 5.3.0)
Section: libdevel
Priority: optional
Homepage: http://www.xtuple.org/DataImportTool
Description: CSV data import tool for xTuple applications (development files)
 A tool designed to import Comma Separated Value (CSV) files into the
 database for the xTuple Applications (PostBooks and OpenMFG).
 .
 This package contains the static development library and its headers.
