Package: libwxsmithlib-dev
Source: codeblocks
Version: 16.01+dfsg-2.1
Architecture: amd64
Maintainer: David Paleino <dapal@debian.org>
Installed-Size: 965
Depends: libwxsmithlib0 (= 16.01+dfsg-2.1)
Section: libdevel
Priority: optional
Homepage: http://codeblocks.org
Description: wxSmith development files (Code::Blocks plugin for RAD GUI editing)
 Code::Blocks is a cross-platform Integrated Development Environment (IDE).
 It is based on a self-developed plugin framework allowing unlimited
 extensibility. Most of its functionality is already provided by plugins.
 Plugins included in the base package are:
    * Compiler frontend to many free compilers
    * Debugger frontend for GDB
    * Source formatter (based on AStyle)
    * Wizard to create new C++ classes
    * Code-completion / symbols-browser (work in progress)
    * Default MIME handler
    * Wizard to create new Code::Blocks plugins
    * To-do list
    * Extensible wizard based on scripts
    * Autosave (saves your work in the unfortunate case of a crash)
 .
 This package contains the wxSmith development libraries and headers.
