Package: libmnemonicsetter-java
Version: 0.5-1
Architecture: all
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Installed-Size: 35
Section: java
Priority: optional
Homepage: https://github.com/dpolivaev/mnemonicsetter
Description: Java library for automatically setting Swing mnemonics
 This simple Java library generates mnemonics for Swing menu items
 and toolbar elements.
 .
 It has no dependencies beside Java 7.
