Package: fonts-elusive-icons
Version: 2.0.0-2
Architecture: all
Maintainer: Debian Fonts Task Force <pkg-fonts-devel@lists.alioth.debian.org>
Installed-Size: 471
Section: fonts
Priority: optional
Multi-Arch: foreign
Homepage: http://elusiveicons.com/
Description: the iconic font and CSS framework
 Elusive Icons is a full suite of 304 pictographic icons for easy scalable
 vector graphics on websites, created and maintained by Team Redux.
