Package: elpa-haskell-mode
Source: haskell-mode
Version: 16.1-5
Architecture: all
Maintainer: Debian Emacs addons team <pkg-emacsen-addons@lists.alioth.debian.org>
Installed-Size: 876
Depends: emacs25 | emacs24 | emacs-snapshot | emacs, emacsen-common
Recommends: ghc | hugs
Suggests: stylish-haskell
Breaks: agda-mode (<< 2.3.2), haskell-mode (<< 16.1-4)
Replaces: haskell-mode (<< 16.1-4)
Section: lisp
Priority: optional
Homepage: https://github.com/haskell/haskell-mode
Description: major mode for editing Haskell in Emacs
 A major mode for editing Haskell (the functional
 programming language) in Emacs.
 .
 Major features:
  - syntax highlighting (font lock),
  - automatic indentation,
  - on-the-fly documentation,
  - interaction with inferior ghci or hugs instance,
  - scans declarations and places them in a menu.
