Package: libemail-address-list-perl
Version: 0.05-1
Architecture: all
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Installed-Size: 63
Depends: perl, libemail-address-perl
Section: perl
Priority: optional
Homepage: https://metacpan.org/release/Email-Address-List
Description: RFC close address list parsing
 Parser for From, To, Cc, Bcc, Reply-To, Sender and previous prefixed
 with Resent- (eg Resent-From) e-mail headers.
