Package: python3-django-saml2
Source: python-djangosaml2
Version: 0.17.2-1
Architecture: all
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Installed-Size: 232
Depends: python3-defusedxml, python3-django, python3-pysaml2, python3:any
Section: python
Priority: optional
Homepage: https://github.com/knaperek/djangosaml2/
Description: Django application that integrates PySAML2 (Python3 version)
 djangosaml2 is a Django application that integrates the PySAML2 library into
 your project. This mean that you can protect your Django based project with a
 service provider based on PySAML. This way it will talk SAML2 with your
 Identity Provider allowing you to use this authentication mechanism.
 .
 This package contains the Python 3 version of the library.
