Package: monitoring-plugins
Version: 2.2-4
Architecture: all
Maintainer: Debian Nagios Maintainer Group <pkg-nagios-devel@lists.alioth.debian.org>
Installed-Size: 50
Depends: monitoring-plugins-basic, monitoring-plugins-standard
Suggests: icinga | icinga2, nagios-plugins-contrib
Section: net
Priority: optional
Homepage: https://www.monitoring-plugins.org
Description: Plugins for nagios compatible monitoring systems (metapackage)
 Plugins for nagios compatible monitoring systems like Naemon and Icinga.
 .
 This metapackage will install the entire suite of plugins for nagios
 compatible monitoring systems.
 If you are installing monitoring plugins on a remote "satellite" server
 (using nagios-nrpe-server or nsca), you may be interested in the
 monitoring-plugins-basic package.
