Package: gnome-shell-extension-move-clock
Version: 1.01-1
Architecture: all
Maintainer: Jonathan Carter <jcarter@linux.com>
Installed-Size: 17
Depends: gnome-shell
Section: gnome
Priority: optional
Homepage: https://git.bluemosh.com/highvoltage/gnome-shell-extension-move-clock
Description: move clock extension for GNOME shell
 This extension will, when enabled, move the clock on your GNOME shell panel
 from the middel to the right.
 .
 GNOME is an intuitive and attractive desktop. This is an add-on to
 GNOME, and will likely not be useful on its own.
