Package: python-debiancontributors
Source: debiancontributors
Version: 0.7.7-1
Architecture: all
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Installed-Size: 123
Depends: python-requests (>= 2.0.0), python-debian, python:any (<< 2.8), python:any (>= 2.7.5-5~)
Section: python
Priority: optional
Homepage: https://salsa.debian.org/python-team/modules/python-debiancontributors
Description: Manage submissions to contributors.debian.org
 This module contains the code to submit and parse contributions to
 contributors.debian.org.
 .
 It can be used to prepare submissions and submit them to the site,
 and it is used by the site to parse and validate them.
 .
 This package contains the Python2 version of the code.
