Package: design-desktop-strict
Source: debian-design
Version: 3.0.8
Architecture: all
Maintainer: Debian Design Team <design-devel@lists.alioth.debian.org>
Installed-Size: 16
Depends: design-desktop
Section: misc
Priority: optional
Homepage: https://wiki.debian.org/Design
Description: Debian Design desktop for visual designers - strict
 This is a shared package for Debian Design desktop blends.
 .
 Debian Design is a subset of Debian for use by visual designers.
 .
 This package apply restrictions for the Debian Design desktop profiles
 to avoid optional stuff.
