Package: python-quixote
Source: quixote
Version: 2.7~b2-2
Architecture: amd64
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Installed-Size: 423
Depends: python (<< 2.8), python (>= 2.7~), python:any (<< 2.8), python:any (>= 2.7~), libc6 (>= 2.4)
Suggests: python-quixote-doc
Section: python
Priority: optional
Homepage: http://www.mems-exchange.org/software/quixote/
Description: Highly Pythonic Web application framework
 Quixote is yet another framework for developing Web applications in
 Python. The design goals were:
 .
  1) To allow easy development of Web applications where the
     emphasis is more on complicated programming logic than
     complicated templating.
 .
  2) To make the templating language as similar to Python as possible,
     in both syntax and semantics.  The aim is to make as many of the
     skills and structural techniques used in writing regular Python
     code applicable to Web applications built using Quixote.
 .
  3) No magic.  When it's not obvious what to do in
     a certain case, Quixote refuses to guess.
 .
 If you view a web site as a program, and web pages as subroutines,
 Quixote just might be the tool for you.  If you view a web site as a
 graphic design showcase, and each web page as an individual work of
 art, Quixote is probably not what you're looking for.
