Package: ada-reference-manual-2005
Source: ada-reference-manual
Version: 1:2012.3-2
Architecture: all
Maintainer: Ludovic Brenta <lbrenta@debian.org>
Installed-Size: 33497
Suggests: gnat
Section: doc
Priority: optional
Multi-Arch: foreign
Homepage: http://www.stephe-leake.org/ada/arm.html
Description: Ada 2005 language standard
 The Ada Reference Manual is the ISO standard describing the
 programming language Ada.
 .
 This package provides the plain and annotated versions of the 2005
 ARM in HTML, PDF, info, and plain text formats.
