Package: frotz
Source: frotz (2.44-1)
Version: 2.44-1+b1
Architecture: amd64
Maintainer: Robert Lemmen <robertle@semistable.com>
Installed-Size: 158
Depends: libc6 (>= 2.14), libncurses6 (>= 6), libtinfo6 (>= 6)
Conflicts: zcode-support
Replaces: zcode-support
Provides: zcode-interpreter
Section: games
Priority: optional
Homepage: http://frotz.sourceforge.net/
Description: interpreter of Z-code story-files
 Frotz interprets Z-code story-files, which are usually text adventure
 games (although a few arcade-style Z-code games have been written).
 Examples of such story files include the adventure games published by
 Infocom, as well as any games produced by compilers to this format,
 such as Inform.  You can find a number of Inform-compiled games up for
 anonymous FTP at ftp://ftp.ifarchive.org/ or HTTP at http://www.ifarchive.org/
 .
 Frotz complies with the Z Machine specification version 1.0.
