Package: lib32cilkrts5-dbg
Source: gcc-7
Version: 7.3.0-29
Architecture: amd64
Maintainer: Debian GCC Maintainers <debian-gcc@lists.debian.org>
Installed-Size: 181
Depends: gcc-7-base (= 7.3.0-29), lib32cilkrts5 (= 7.3.0-29)
Section: debug
Priority: optional
Homepage: http://gcc.gnu.org/
Description: Intel Cilk Plus language extensions (32 bit debug symbols)
 Intel Cilk Plus is an extension to the C and C++ languages to support
 data and task parallelism.
Build-Ids: 5ab4c0d6bbea4b157751cf3bf88180f56520797a
