Package: only
Version: 0.0.6.0-1
Architecture: amd64
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Installed-Size: 1774
Depends: libc6 (>= 2.27), libffi6 (>= 3.0.4), libgmp10
Section: utils
Priority: optional
Description: grep-like tool for filtering on words or lines
 The 'only' command-line tool lets you search based
 on word patterns or line patterns like never before! Not only can
 you search with 'only -l patt' but you can select the n-th match
 with '-l n/patt/' and the next 3 lines with '-l /patt/0:3'.
