Package: libtext-flow-perl
Version: 0.01-2
Architecture: all
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Installed-Size: 34
Depends: perl, libmoose-perl
Section: perl
Priority: optional
Homepage: https://metacpan.org/release/Text-Flow
Description: module providing generalized text wrapping
 Text::Flow is a Perl module designed to provide flexible and generalized text
 handling facilities, wrapping or reflowing text as required. It is different
 from other modules because it can be used for graphical text output as with
 PDF files through the use of custom callbacks.
