Package: node-vary
Version: 1.0.0-1
Architecture: all
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Installed-Size: 43
Depends: nodejs
Section: web
Priority: extra
Homepage: https://github.com/expressjs/vary
Description: manage the Vary header of a HTTP response - Node.js module
 This package provides a simple module to manage the fields
 of the Vary header in a HTTP response.
 .
 Node.js is an event-based server-side JavaScript engine.
