Package: python-fedora
Version: 0.10.0-1
Architecture: all
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Installed-Size: 445
Depends: python-bs4, python-kitchen, python-lockfile, python-munch, python-requests, python-six (>= 1.4.0), python-urllib3, python:any (<< 2.8), python:any (>= 2.7.5-5~)
Suggests: python-fedora-doc
Section: python
Priority: optional
Homepage: https://github.com/fedora-infra/python-fedora
Description: Python modules for interacting with Fedora Services (Python 2)
 The python-fedora module provides a Python API for connecting to web
 services provided by the fedora infrastructure.
 .
 Specifically, this package provides clients for the Fedora Account
 System, for the Fedora Package Database, for the Fedora Build System
 (bodhi), and for the Fedora wiki, as well as a more generic client for
 the other Fedora web services.
 .
 This package installs the library for Python 2.
