Package: ngspice-doc
Source: ngspice
Version: 29-2
Architecture: all
Maintainer: Debian Electronics Team <pkg-electronics-devel@alioth-lists.debian.net>
Installed-Size: 5978
Section: doc
Priority: optional
Multi-Arch: foreign
Homepage: http://ngspice.sourceforge.net
Description: Documentation for the NGspice circuit simulator
 NGspice is a mixed-level/mixed-signal circuit simulator.
 Its code is based on three open source software packages:
 Spice3f5, Cider1b1 and Xspice.
 .
 NGSpice is part of gEDA project, a full GPL'd suite of Electronic Design
 Automation tools.
 .
 This package contains the PDF and HTML documentation.
