Package: feathernotes
Version: 0.4.5-1
Architecture: amd64
Maintainer: LXQt Packaging Team <pkg-lxqt-devel@lists.alioth.debian.org>
Installed-Size: 651
Depends: libc6 (>= 2.14), libgcc1 (>= 1:3.0), libqt5core5a (>= 5.11.0~rc1), libqt5gui5 (>= 5.7.0), libqt5printsupport5 (>= 5.0.2), libqt5svg5 (>= 5.6.0~beta), libqt5widgets5 (>= 5.11.0~rc1), libqt5x11extras5 (>= 5.6.0), libqt5xml5 (>= 5.0.2), libstdc++6 (>= 4.1.1), libx11-6
Recommends: feathernotes-l10n, libglib2.0-bin
Section: editors
Priority: optional
Homepage: https://github.com/tsujan/feathernotes
Description: Hierarchical notes-manager (binaries)
 FeatherNotes is a lightweight Qt5 hierarchical notes-manager for Linux. It is
 independent of any desktop environment.
 .
 This package contain the application files.
