Package: oinkmaster
Version: 2.0-4
Architecture: all
Maintainer: Javier Fernández-Sanguino Peña <jfs@debian.org>
Installed-Size: 280
Depends: perl (>= 5.6.1), libio-zlib-perl, libwww-perl, libarchive-tar-perl
Recommends: wget
Provides: snort-rules
Section: admin
Priority: optional
Homepage: http://oinkmaster.sourceforge.net/
Description: Snort rules manager
 A simple script to manage and update Snort rules with the
 capability of disabling, modifying and enabling specific
 rules after an update. Oinkmaster will tell you exactly what
 has changed since your last update, giving you good
 control of your rules. It also can be used to manage updates
 from both the official provider (www.snort.org) and from
 other rulesets (www.emergingthreats.net)
