Package: libterm-table-perl
Version: 0.012-1
Architecture: all
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Installed-Size: 65
Depends: perl, libimporter-perl
Section: perl
Priority: optional
Homepage: https://metacpan.org/release/Term-Table
Description: module to format a header and rows into a table
 The Term::Table module is able to generically format rows of data into
 tables. This is used in test suites by some failing tests to provide
 diagnostics about what has gone wrong but can also be used in all kinds of
 other contexts.
