Package: libreactivedata-ocaml
Source: reactivedata (0.1-3)
Version: 0.1-3+b1
Architecture: amd64
Maintainer: Debian OCaml Maintainers <debian-ocaml-maint@lists.debian.org>
Installed-Size: 65
Depends: libc6 (>= 2.2.5), libreact-ocaml-z0ip2, ocaml-base-nox-4.05.0
Provides: libreactivedata-ocaml-3weq7
Section: ocaml
Priority: optional
Homepage: https://github.com/ocsigen/reactiveData
Description: FRP with incremental changes in data structures (runtime)
 ReactiveData is an OCaml module for functional reactive programming
 (FRP) based on React. It adds support to incremental changes in data
 structures by reasoning on patches instead of absolute values.
 .
 This package contains dynamically loadable plugins of ReactiveData.
