Package: treeline
Version: 2.0.2-2
Architecture: all
Maintainer: Miriam Ruiz <miriam@debian.org>
Installed-Size: 1912
Depends: python3:any (>= 3.3.2-2~), python3-pyqt4
Recommends: aspell | ispell
Section: utils
Priority: optional
Homepage: http://treeline.bellz.org/
Description: versatile tree-like structured custom data manager
 TreeLine is a versatile tool for working with all kind of information
 that fits into a tree-like structure.
 .
 It can be used to edit bookmark files, create mini-databases (e.g., for
 addresses, tasks, records, CDs, etc.), outline documents, or just
 collect ideas. It can also be used as a generic editor for XML files.
 .
 The data schemas for any node in the data tree can be customized and
 new types of nodes can be defined. The way data is presented on the
 screen, exported to HTML, or printed can be defined with HTML-like
 templates. Plug-ins can be written to load and save data from and to
 custom file formats or external data sources and extend the
 functionality of TreeLine.
