Package: php-crypt-gpg
Version: 1.6.0-1
Architecture: all
Maintainer: Debian PHP PEAR Maintainers <pkg-php-pear@lists.alioth.debian.org>
Installed-Size: 377
Depends: gnupg2, php-cli, php-common, php-console-commandline (>= 1.1.10), php-mbstring
Section: php
Priority: optional
Homepage: http://pear.php.net/package/Crypt_GPG
Description: PHP PEAR module for encrypting and decrypting with GnuPG
 Crypt/GPG.php provides an object oriented interface to GNU Privacy
 Guard (GnuPG).  This PEAR package is intended to facilitate
 public-key cryptography.
