Package: libparse-binary-perl
Version: 0.11-1
Architecture: all
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Installed-Size: 63
Depends: perl
Section: perl
Priority: optional
Homepage: https://metacpan.org/release/Parse-Binary
Description: Binary data structure parser
 Parse::Binary makes parsing binary data structures much easier, by serving as
 a base class for classes that represents the binary data, which may contain
 objects of other classes to represent parts of itself.
 .
 Documentation is unfortunately a bit lacking at this moment. Please read the
 tests and source code of Parse::AFP and Win32::Exe for examples of using this
 module.
