Package: breeze-icon-theme
Source: breeze-icons
Version: 4:5.49.0-1
Architecture: all
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Installed-Size: 28684
Depends: hicolor-icon-theme
Section: kde
Priority: optional
Multi-Arch: foreign
Homepage: https://projects.kde.org/projects/kde/frameworks/breeze-icons
Description: Default Plasma icon theme
 This is the default icon theme for the KDE Plasma 5 desktop.
 .
 This package is part of the Breeze theme module.
