Package: libncl-dev
Source: libncl
Version: 2.1.21+git20180827.c71b264-1
Architecture: amd64
Maintainer: Debian Med Packaging Team <debian-med-packaging@lists.alioth.debian.org>
Installed-Size: 3970
Depends: libncl2 (= 2.1.21+git20180827.c71b264-1)
Section: libdevel
Priority: optional
Homepage: https://github.com/mtholder/ncl
Description: NEXUS Class Library (static lib and header files)
 The NEXUS Class Library is a C++ library for parsing NEXUS files.
 .
 The NEXUS file format is widely used in bioinformatics. Several popular
 phylogenetic programs such as Paup, MrBayes, Mesquite, and MacClade use
 this format.
 .
 This package contains the static library and header files of the NEXUS
 library.
