Package: pcf2bdf
Source: pcf2bdf (1.05-1)
Version: 1.05-1+b2
Architecture: amd64
Maintainer: Jonas Smedegaard <dr@jones.dk>
Installed-Size: 42
Depends: libc6 (>= 2.4), libgcc1 (>= 1:3.0), libstdc++6 (>= 4.9)
Section: x11
Priority: optional
Homepage: https://github.com/ganaware/pcf2bdf
Description: convert X11 font from PCF to BDF format
 Pcf2bdf is a font de-compiler.  It converts an X11 font from Portable
 Compiled Format (PCF) to Bitmap Distribution Format (BDF).
 .
 FONTBOUNDINGBOX in a BDF file is not used by bdftopcf, so pcf2bdf
 generates irresponsible values.
