Package: libtimingframework-java-doc
Source: timingframework
Version: 1.0-1
Architecture: all
Maintainer: Andrew Ross <ubuntu@rossfamily.co.uk>
Installed-Size: 884
Recommends: default-jdk-doc
Section: doc
Priority: optional
Homepage: https://timingframework.dev.java.net/
Description: A Java framework for timing and animations (documentation)
 The code serves as a tutorial on how to use timers, as well as a
 framework for doing more powerful things with timers.
 .
 This package contains the documentation.
