Package: golang-github-franela-goreq-dev
Source: golang-github-franela-goreq
Version: 0.0~git20160121.0.3ddeded-2
Architecture: all
Maintainer: Debian Go Packaging Team <pkg-go-maintainers@lists.alioth.debian.org>
Installed-Size: 71
Depends: golang-go, golang-gomega-dev | golang-github-onsi-gomega-dev, golang-github-franela-goblin-dev
Section: devel
Priority: extra
Homepage: https://github.com/franela/goreq
Description: minimal and simple request library for Go language
 GoReq Simple and sane HTTP request library for Go language.
