Package: sng
Source: sng (1.1.0-1)
Version: 1.1.0-1+b1
Architecture: amd64
Maintainer: Reiner Herrmann <reiner@reiner-h.de>
Installed-Size: 88
Depends: libc6 (>= 2.14), libpng16-16 (>= 1.6.2-1)
Section: graphics
Priority: optional
Homepage: http://sng.sourceforge.net/
Description: specialized markup language for representing PNG contents
 SNG (Scriptable Network Graphics) is a minilanguage designed
 specifically to represent the entire contents of a PNG (Portable
 Network Graphics) file in an editable form. Thus, SNGs representing
 elaborate graphics images and ancillary chunk data can be readily
 generated or modified using only text tools.
 .
 SNG is implemented by a compiler/decompiler called sng that
 losslessly translates between SNG and PNG.
