Package: icmpinfo
Version: 1.11-12
Architecture: amd64
Maintainer: Raphael Mota Ramos <raphaelmota.ti@gmail.com>
Installed-Size: 39
Depends: libc6 (>= 2.7)
Section: net
Priority: optional
Homepage: http://www.demailly.com/~dl/softs.html
Description: interpret ICMP messages
 Icmpinfo is a tool for looking at the ICMP messages received on the running
 host. It can be used to detect and record 'bombs' as well as various network
 problems.
 .
 Icmpinfo is useful for network security tests.
