Package: python-fonttools
Source: fonttools
Version: 3.33.0-1
Architecture: all
Maintainer: Debian Fonts Task Force <debian-fonts@lists.debian.org>
Installed-Size: 2557
Depends: gir1.2-atk-1.0, gir1.2-gtk-3.0, python-brotli (>= 1.0.7), python-gi, python-numpy, python-pkg-resources, python-reportlab, python-scipy (>= 1.1.0), python-sympy, python-fs (>= 2.1.2), python:any (<< 2.8), python:any (>= 2.7~)
Breaks: fonttools (<< 3.15.1-1)
Replaces: fonttools (<< 3.15.1-1)
Section: python
Priority: optional
Homepage: https://github.com/fonttools/fonttools
Description: Converts OpenType and TrueType fonts to and from XML (Python 2 Library)
 FontTools/TTX is a library to manipulate font files from Python.
 It supports reading and writing of TrueType/OpenType fonts, reading
 and writing of AFM files, reading (and partially writing) of PS Type 1
 fonts.  It also contains a tool called "TTX" which converts
 TrueType/OpenType fonts to and from an XML-based format.
 .
 This is the Python 2 version of the fontTools package.
