Package: libelf-freebsd-1
Source: freebsd-libs
Version: 10.3~svn296373-10
Architecture: amd64
Maintainer: GNU/kFreeBSD Maintainers <debian-bsd@lists.debian.org>
Installed-Size: 138
Depends: libbsd0 (>= 0.0), libc6 (>= 2.14)
Section: libs
Priority: optional
Description: library to read and write ELF files
 The libelf package provides a shared library which allows reading and
 writing ELF files on a high level.
