Package: gsutil
Version: 3.1-1
Architecture: all
Maintainer: Julien Danjou <acid@debian.org>
Installed-Size: 88
Depends: perl, libhtml-form-perl | libwww-perl (<< 6)
Section: admin
Priority: extra
Description: configure and manage Grandstream BudgeTone 100 VOIP and GX2000 phones
 GsUtil is a short program written to dump and restore the data
 from randstream BudgeTone 100 VOIP and GX2000 phone.
 Since a reboot is required to make the configuration change effective,
 this program does that too.
