Package: 389-dsgw
Source: 389-dsgw (1.1.11-2)
Version: 1.1.11-2+b4
Architecture: amd64
Maintainer: Debian 389ds Team <pkg-fedora-ds-maintainers@lists.alioth.debian.org>
Installed-Size: 4799
Depends: libadminutil0 (>= 1.1.8), libc6 (>= 2.14), libicu60 (>= 60.1-1~), libldap-2.4-2 (>= 2.4.25), libnspr4 (>= 2:4.10.9), libnss3 (>= 2:3.13.4-2~), libsasl2-2, 389-admin, libmozilla-ldap-perl
Section: net
Priority: extra
Homepage: http://directory.fedoraproject.org
Description: 389 Directory Server Gateway
 389 Directory Server Gateway is a collection of 3 web applications
 that run on top of the Administration Server used by the Directory
 Server.  These 3 applications are:
 .
  - phonebook:
    a simple phonebook application geared towards end users, with simple search
    screens and simple self-service management
  - orgchart:
    an organization chart viewer
  - gateway:
    a more advanced search interface that allows admins to create and edit user
    entries, and allows creation of templates for different types of user and
    group entries
