Package: ruby-rsvg2
Source: ruby-gnome2
Version: 3.2.9-1
Architecture: all
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Installed-Size: 45
Depends: gir1.2-rsvg-2.0, ruby | ruby-interpreter, ruby-glib2 (>= 3.2.9-1), ruby-gio2 (>= 3.2.9-1), ruby-gdk-pixbuf2 (>= 3.2.9-1), ruby-cairo-gobject (>= 3.2.9-1), ruby-pango (>= 3.2.9-1)
Section: ruby
Priority: optional
Multi-Arch: foreign
Homepage: http://ruby-gnome2.osdn.jp/
Description: RSVG renderer bindings for the Ruby language
 The rsvg library is an efficient renderer for Scalable Vector Graphics (SVG)
 pictures.
 .
 This package contains libraries for using RSVG with the Ruby programming
 language.
Ruby-Versions: all
