Package: urlview
Version: 0.9-21
Architecture: amd64
Maintainer: Emanuele Rocca <ema@debian.org>
Installed-Size: 74
Depends: libc6 (>= 2.14), libncurses6 (>= 6), libtinfo6 (>= 6), sensible-utils
Recommends: elinks | www-browser
Suggests: mutt, ncftp | lftp, wget | snarf
Section: misc
Priority: optional
Description: Extracts URLs from text
 This utility is used to extract URL from text files, especially from mail
 messages in order to launch some browser to view them. This used to be a
 part of mutt but has now become an independent tool.
