Package: libghc-unordered-containers-prof
Source: haskell-unordered-containers
Version: 0.2.9.0-1
Architecture: amd64
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Installed-Size: 2745
Depends: libghc-unordered-containers-dev (= 0.2.9.0-1), libghc-base-prof-4.10.1.0-35a7f, libghc-deepseq-prof-1.4.3.0-38379, libghc-hashable-prof-1.2.7.0-6cb51
Provides: libghc-unordered-containers-prof-0.2.9.0-d1c8f
Section: haskell
Priority: optional
Homepage: https://github.com/tibbe/unordered-containers
Description: Efficient hashing-based container types; profiling libraries
 It contains efficient hashing-based container types. The containers
 have been optimized for performance critical use, both in terms of
 large data quantities and high speed.
 .
 The declared cost of each operation is either worst-case or
 amortized, but remains valid even if structures are shared.
 .
 This package provides a library for the Haskell programming language, compiled
 for profiling.  See http://www.haskell.org/ for more information on Haskell.
