Package: android-libsepol-dev
Source: android-platform-external-libselinux
Version: 8.1.0+r23-2
Architecture: amd64
Maintainer: Android Tools Maintainers <android-tools-devel@lists.alioth.debian.org>
Installed-Size: 65
Depends: android-libsepol (= 8.1.0+r23-2)
Section: libdevel
Priority: optional
Homepage: https://android.googlesource.com/platform/external/selinux
Description: Security-Policy Linux for Android - Development files
 This library provides an API for setting, checking sepolicy.
 .
 This package provides the development files.
