Package: cod-tools
Version: 2.2+dfsg-3
Architecture: amd64
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Installed-Size: 3068
Depends: curl, gawk, libcapture-tiny-perl, libcarp-assert-perl, libclone-perl, libcod-cif-parser-bison-perl, libcod-cif-parser-yapp-perl, libcod-precision-perl, libcod-usermessage-perl, libdate-calc-perl, libdatetime-format-rfc3339-perl, libdbd-mysql-perl, libdbd-sqlite3-perl, libdbi-perl, libdigest-sha-perl, libhtml-parser-perl, libjson-perl, liblist-moreutils-perl, libwww-curl-perl, libxml-simple-perl, openbabel, perl (>= 5.26.2-6), perlapi-5.26.2, libc6 (>= 2.14), libsymspg1 (>= 1.10.3)
Section: science
Priority: optional
Homepage: http://wiki.crystallography.net/cod-tools
Description: tools for manipulating CIF format files
 cod-tools is a set of Perl modules and command line tools for
 manipulating Crystallographic Information Format (CIF) v1.1 and v2.0
 files.
