Package: ruby-actionpack-action-caching
Version: 1.2.0-1
Architecture: all
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Installed-Size: 37
Depends: ruby | ruby-interpreter, ruby-actionpack (<< 2:5.0), ruby-actionpack (>= 2:4.0.0)
Section: ruby
Priority: optional
Homepage: https://github.com/rails/actionpack-action_caching
Description: action caching for Action Pack
 This package provides the functionality of caching the results of Rails
 controller actions, which was removed from the Rails core with the 4.0
 release series.
Ruby-Versions: all
