Package: mkdocs-doc
Source: python-mkdocs
Version: 0.17.5+dfsg-1
Architecture: all
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Installed-Size: 1084
Depends: fonts-font-awesome, libjs-bootstrap, libjs-bootswatch, libjs-highlight.js, libjs-jquery, libjs-mustache, libjs-requirejs, libjs-requirejs-text
Section: doc
Priority: optional
Homepage: https://www.mkdocs.org/
Description: Static site generator (documentation)
 MkDocs is a fast, simple and downright gorgeous static site generator
 that's geared towards building project documentation. Documentation
 source files are written in Markdown, and configured with a single YAML
 configuration file.
 .
 This package contains the HTML documentation.
