Package: libghc-profunctors-prof
Source: haskell-profunctors (5.2.2-3)
Version: 5.2.2-3+b1
Architecture: amd64
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Installed-Size: 3542
Depends: libghc-profunctors-dev (= 5.2.2-3+b1), libghc-base-prof-4.11.1.0-5dd74, libghc-base-orphans-prof-0.7-66f93, libghc-bifunctors-prof-5.5.3-42456, libghc-comonad-prof-5.0.4-f8103, libghc-contravariant-prof-1.4.1-de006, libghc-distributive-prof-0.5.3-f2540, libghc-semigroups-prof-0.18.5-df031, libghc-tagged-prof-0.8.5-16742, libghc-transformers-prof-0.5.5.0-b5d2f
Provides: libghc-profunctors-prof-5.2.2-d6b03
Section: haskell
Priority: optional
Homepage: http://github.com/ekmett/profunctors/
Description: Haskell 98 Profunctors; profiling libraries
 Profunctors are a generalization of relations and also of bimodules.
 They are related to the notion of correspondences.
 .
 This package provides a library for the Haskell programming language, compiled
 for profiling.  See http://www.haskell.org/ for more information on Haskell.
