Package: libghc-rsa-prof
Source: haskell-rsa
Version: 2.3.0-2
Architecture: amd64
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Installed-Size: 767
Depends: libghc-rsa-dev (= 2.3.0-2), libghc-sha-prof-1.6.4.4-23467, libghc-base-prof-4.10.1.0-35a7f, libghc-binary-prof-0.8.5.1-efb65, libghc-bytestring-prof-0.10.8.2-4a9e2, libghc-crypto-api-prof-0.13.3-81c97, libghc-crypto-pubkey-types-prof-0.4.3-89bd4
Provides: libghc-rsa-prof-2.3.0-433f9
Section: haskell
Priority: optional
Homepage: http://hackage.haskell.org/package/RSA
Description: implementation of RSA, using padding schemes of PKCS#1; profiling libraries
 This library implements the RSA encryption and signature algorithms for
 arbitrarily-sized ByteStrings. While the implementations work, they are not
 necessarily the fastest ones on the planet. Particularly key generation. The
 algorithms included are based of RFC 3447, or the Public-Key Cryptography
 Standard for RSA, version 2.1 (a.k.a, PKCS#1 v2.1).
 .
 This package provides a library for the Haskell programming language, compiled
 for profiling.  See http://www.haskell.org/ for more information on Haskell.
