Package: librelion-dev-common
Source: relion
Version: 1.4+dfsg-4
Architecture: all
Maintainer: Debian Med Packaging Team <debian-med-packaging@lists.alioth.debian.org>
Installed-Size: 792
Section: libdevel
Priority: optional
Homepage: http://www2.mrc-lmb.cam.ac.uk/relion/index.php/Main_Page
Description: C++ API for RELION (3D reconstructions in cryo-electron microscopy)
 RELION (for REgularised LIkelihood OptimisatioN) is a stand-alone
 computer program for Maximum A Posteriori refinement of (multiple) 3D
 reconstructions or 2D class averages in cryo-electron microscopy.
 .
 RELION provides a GUI, several command-line tools in parallel (MPI) and serial
 versions as well as a C++ API.
 .
 This is the developers API package including only the common header files.
