Package: python-pymc-doc
Source: pymc
Version: 2.2+ds-1.1
Architecture: all
Maintainer: NeuroDebian Team <team@neuro.debian.net>
Installed-Size: 1894
Depends: libjs-jquery, libjs-underscore
Section: doc
Priority: extra
Homepage: http://pymc-devs.github.com/pymc/
Description: Bayesian statistical models and fitting algorithms
 PyMC is a Python module that implements Bayesian statistical models
 and fitting algorithms, including Markov chain Monte Carlo. Its
 flexibility and extensibility make it applicable to a large suite of
 problems. Along with core sampling functionality, PyMC includes
 methods for summarizing output, plotting, goodness-of-fit and
 convergence diagnostics.
 .
 This package provides the documentation in HTML format.
