Package: libglobus-gsi-callback0
Source: globus-gsi-callback
Version: 6.0-1
Architecture: amd64
Maintainer: Mattias Ellert <mattias.ellert@physics.uu.se>
Installed-Size: 111
Depends: libc6 (>= 2.14), libglobus-common0 (>= 17), libglobus-gsi-cert-utils0 (>= 8), libglobus-gsi-openssl-error0 (>= 2), libglobus-gsi-sysconfig1 (>= 8), libssl1.1 (>= 1.1.0)
Section: libs
Priority: optional
Multi-Arch: same
Homepage: https://github.com/gridcf/gct/
Description: Grid Community Toolkit - Globus GSI Callback Library
 The Grid Community Toolkit (GCT) is an open source software toolkit used for
 building grid systems and applications. It is a fork of the Globus Toolkit
 originally created by the Globus Alliance. It is supported by the Grid
 Community Forum (GridCF) that provides community-based support for core
 software packages in grid computing.
 .
 The libglobus-gsi-callback0 package contains:
 Globus GSI Callback Library
