Package: gamgi
Version: 0.17.3-1
Architecture: amd64
Maintainer: Debichem Team <debichem-devel@lists.alioth.debian.org>
Installed-Size: 2942
Depends: ttf-dejavu, libc6 (>= 2.14), libexpat1 (>= 2.0.1), libfreetype6 (>= 2.2.1), libgl1, libglib2.0-0 (>= 2.12.0), libglu1-mesa | libglu1, libgtk2.0-0 (>= 2.20.0), libgtkglext1
Suggests: gamgi-data, gamgi-doc
Section: science
Priority: optional
Homepage: http://www.gamgi.org/
Description: General Atomistic Modelling Graphic Interface (GAMGI)
 The General Atomistic Modelling Graphic Interface (GAMGI) provides
 a graphical interface to build, view and analyze atomic structures.
 The program is aimed at the scientific community and provides a
 graphical interface to study atomic structures and to prepare images
 for presentations, and for teaching the atomic structure of matter.
