Package: oar-doc
Source: oar
Version: 2.5.8~rc8-3
Architecture: all
Maintainer: Pierre Neyron <pierre.neyron@free.fr>
Installed-Size: 6547
Depends: libjs-jquery, libjs-underscore
Section: doc
Priority: optional
Homepage: http://oar.imag.fr/
Description: OAR batch scheduler documentation package
 OAR is a versatile resource and task manager (also called a batch scheduler)
 for clusters and other computing infrastructures
 .
 This package install some documentation for OAR batch scheduler
