Package: r-cran-int64
Source: r-cran-int64 (1.1.2-4)
Version: 1.1.2-4+b2
Architecture: amd64
Maintainer: Dirk Eddelbuettel <edd@debian.org>
Installed-Size: 548
Depends: libc6 (>= 2.14), libgcc1 (>= 1:3.0), libstdc++6 (>= 5.2), r-base-core (>= 3.5.0-5), r-api-3.5
Section: gnu-r
Priority: optional
Description: GNU R package for 64 bit integer types
 This package provides 64 bit integer types thereby allowing for
 indexing of much larger objects than with the standard 32-bit
 integers in R.
 .
 This package was developed with support from the Google Open Source
 Programs Office
