Package: tesseract-ocr-enm
Source: tesseract-lang
Version: 1:4.00~git30-7274cfa-1
Architecture: all
Maintainer: Alexander Pozdnyakov <almipo@mail.ru>
Installed-Size: 3044
Recommends: tesseract-ocr (>= 3.99)
Breaks: tesseract-ocr (<< 3.99)
Replaces: tesseract-ocr-data (<< 2)
Provides: tesseract-ocr-lang, tesseract-ocr-language
Section: graphics
Priority: optional
Multi-Arch: foreign
Homepage: https://github.com/tesseract-ocr/
Description: tesseract-ocr language files for English, Middle (1100-1500)
 Tesseract is an open source Optical Character Recognition (OCR)
 Engine. It can be used directly, or (for programmers) using an API to
 extract printed text from images. This package contains the data
 needed for processing images in English, Middle (1100-1500) language.
