Package: trayer
Version: 1.1.8-2
Architecture: amd64
Maintainer: HIGUCHI Daisuke (VDR dai) <dai@debian.org>
Installed-Size: 71
Depends: libatk1.0-0 (>= 1.12.4), libc6 (>= 2.14), libcairo2 (>= 1.2.4), libfontconfig1 (>= 2.12.6), libfreetype6 (>= 2.2.1), libfribidi0 (>= 0.19.2), libgdk-pixbuf2.0-0 (>= 2.22.0), libglib2.0-0 (>= 2.16.0), libgtk2.0-0 (>= 2.24.32), libpango-1.0-0 (>= 1.14.0), libpangocairo-1.0-0 (>= 1.14.0), libpangoft2-1.0-0 (>= 1.14.0), libx11-6
Section: x11
Priority: optional
Homepage: https://github.com/sargon/trayer-srg
Description: Lightweight GTK2-based systray for UNIX desktop
 trayer is a small program designed to provide systray functionality
 present in GNOME/KDE desktop environments for window managers which
 do not support that function. System tray is a place, where various
 applications put their icons, so they are always visible presenting
 status of applications and allowing user to control programs.
 .
 The code started out as an extraction from fbpanel.
