Package: games-programming
Source: debian-games
Version: 2.4
Architecture: all
Maintainer: Debian Games Team <pkg-games-devel@lists.alioth.debian.org>
Installed-Size: 24
Depends: games-tasks (= 2.4)
Recommends: colobot, laby, robocode
Section: metapackages
Priority: optional
Homepage: https://blends.debian.org/games/tasks/
Description: Debian's programming games
 This metapackage will install programming games aiming to teach programming
 through entertainment.
