Package: libtext-unicode-equivalents-perl
Version: 0.05-1
Architecture: all
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Installed-Size: 28
Depends: perl
Section: perl
Priority: optional
Homepage: https://metacpan.org/release/Text-Unicode-Equivalents
Description: module to build Unicode canonically equivalent strings
 Text::Unicode::Equivalents offers a method which takes an arbitrary string
 and returns a reference to an unsorted array of all unique strings that are
 canonically equivalent to the argument.
