Package: libgdal-dev
Source: gdal
Version: 2.3.1+dfsg-3
Architecture: amd64
Maintainer: Debian GIS Project <pkg-grass-devel@lists.alioth.debian.org>
Installed-Size: 45915
Depends: libgdal20 (= 2.3.1+dfsg-3), libc6-dev, libarmadillo-dev, libcharls-dev, libcurl4-gnutls-dev | libcurl-ssl-dev, libdap-dev, libepsilon-dev, libexpat1-dev, libfreexl-dev, libfyba-dev, libgeos-dev, libgeotiff-dev, libgif-dev, libhdf4-alt-dev, libhdf5-dev, libjpeg-dev, libjson-c-dev, libkml-dev, libltdl-dev, liblzma-dev, default-libmysqlclient-dev, libnetcdf-dev, libogdi3.2-dev, libopenjp2-7-dev, libpcre3-dev, libpng-dev, libpoppler-private-dev, libpq-dev, libproj-dev, libqhull-dev, libspatialite-dev, libsqlite3-dev, libtiff-dev, liburiparser-dev, libwebp-dev, libxerces-c-dev, libxml2-dev, libzstd-dev, unixodbc-dev
Suggests: libgdal-doc
Section: libdevel
Priority: optional
Homepage: http://www.gdal.org/
Description: Geospatial Data Abstraction Library - Development files
 GDAL is a translator library for raster geospatial data formats.
 As a library, it presents a single abstract data model to the
 calling application for all supported formats. The related OGR
 library (which lives within the GDAL source tree) provides
 a similar capability for simple features vector data.
 .
 GDAL supports many popular data formats, including commonly used
 ones (GeoTIFF, JPEG, PNG and more) as well as the ones used in
 GIS and remote sensing software packages (ERDAS Imagine,
 ESRI Arc/Info, ENVI, PCI Geomatics). Also supported many remote
 sensing and scientific data distribution formats such as HDF,
 EOS FAST, NOAA L1B, NetCDF, FITS.
 .
 OGR library supports popular vector formats like ESRI Shapefile,
 TIGER data, S57, MapInfo File, DGN, GML and more.
 .
 This package contains the files needed to develop a software that
 will use the GDAL/OGR (headers, static objects, configuration script).
