Package: cmdtest
Version: 0.32-1
Architecture: all
Maintainer: Lars Wirzenius <liw@liw.fi>
Installed-Size: 96
Depends: python (<< 2.8), python (>= 2.7), python:any (>= 2.6.6-7~), python-cliapp, python-ttystatus, python-markdown
Provides: yarn
Section: devel
Priority: optional
Homepage: http://liw.fi/cmdtest/
Description: blackbox testing of Unix command line programs
 cmdtest black box tests Unix command line tools. Roughly, it is given a
 a script, its input files, and its expected output files. cmdtest runs
 the script, and checks the output is as expected.
 .
 cmdtest is aimed specifically at testing non-interactive Unix command
 line programs, and tries to make that as easy as possible.
 .
 Also included is a "scenario testing" tool, yarn.
