Package: libglobus-xio-net-manager-driver-dev
Source: globus-net-manager
Version: 0.18-1
Architecture: amd64
Maintainer: Mattias Ellert <mattias.ellert@physics.uu.se>
Installed-Size: 17
Depends: libglobus-xio-net-manager-driver (= 0.18-1), libglobus-net-manager-dev (= 0.18-1)
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: http://toolkit.globus.org/
Description: Globus Toolkit - Globus XIO Network Manager Driver Development Files
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-xio-net-manager-driver-dev package contains:
 Globus XIO Network Manager Driver Development Files
