Package: golang-github-gdamore-encoding-dev
Source: golang-github-gdamore-encoding
Version: 0.0~git20151215.b23993c-1
Architecture: all
Maintainer: Debian Go Packaging Team <pkg-go-maintainers@lists.alioth.debian.org>
Installed-Size: 46
Depends: golang-github-smartystreets-goconvey-dev, golang-x-text-dev
Section: devel
Priority: optional
Homepage: https://github.com/gdamore/encoding
Description: Various character map encodings missing from golang.org/x/net/encoding
 Package encoding provides a number of encodings that are missing from
 the standard Go encoding package.
 .
 The UTF8 Encoder is also useful for situations where valid UTF-8 might be
 carried in streams that contain non-valid UTF. One use case is helping to
 cope with terminals that embed escape sequences in otherwise valid UTF-8.
