Package: libao-ocaml
Source: ocaml-ao (0.2.0-2)
Version: 0.2.0-2+b1
Architecture: amd64
Maintainer: Debian OCaml Maintainers <debian-ocaml-maint@lists.debian.org>
Installed-Size: 29
Depends: ocaml-base-nox-4.05.0, libao4 (>= 1.1.0), libc6 (>= 2.14)
Provides: libao-ocaml-ezwb8
Section: ocaml
Priority: optional
Description: OCaml bindings for libao -- runtime files
 OCaml bindings for the cross platform audio output library.
 .
 Libao is a cross-platform audio library that allows programs to output audio
 using a simple API on a wide variety of platforms.
 .
 This package contains only the shared runtime stub libraries.
