Package: wesnoth-core
Source: wesnoth-1.14
Version: 1:1.14.5-1
Architecture: all
Maintainer: Debian Games Team <pkg-games-devel@lists.alioth.debian.org>
Installed-Size: 6
Depends: wesnoth-1.14-core (>= 1:1.14.5-1), wesnoth-1.14-data (= 1:1.14.5-1)
Suggests: wesnoth
Section: games
Priority: optional
Homepage: http://wesnoth.org/
Description: fantasy turn-based strategy game (metapackage)
 This metapackage pulls in the core wesnoth package which allows you to play
 using the latest stable version.
 .
 Battle for control of villages, using variety of units which have advantages
 and disadvantages in different types of terrains and against different types
 of attacks.  Units gain experience and advance levels, and are carried over
 from one scenario to the next in a campaign.
