Package: libpiano0
Source: pianobar
Version: 2018.06.22-1
Architecture: amd64
Maintainer: Luke Faraone <lfaraone@debian.org>
Installed-Size: 54
Depends: libc6 (>= 2.14), libcurl3-gnutls (>= 7.16.2), libgcrypt20 (>= 1.8.0), libjson-c3 (>= 0.10)
Section: libs
Priority: optional
Multi-Arch: same
Homepage: https://6xq.net/pianobar/
Description: library to interface with Pandora radio -- runtime files
 libpiano is a cross-platform library to interface with the personalized
 web radio Pandora, supporting all important features the official Flash™
 client has:
 .
    * Create, delete, rename stations and add more music
    * Rate and temporary ban tracks as well as move them to another station
    * “Shared stations”
 .
 and some that it does not have (yet):
 .
    * last.fm scrobbling
    * Proxy support for use in areas not supported by Pandora (outside the USA)
 .
 You need an account in order to use this player, so please consider
 create one for free before using pianobar at https://pandora.com.
 .
 This package provides the runtime files used to run application
 built against libpiano.
