Package: python3-twilio
Source: python-twilio
Version: 6.8.2-1
Architecture: all
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Installed-Size: 4005
Depends: python3-jwt, python3-six, python3-tz, python3:any (>= 3.3.2-2~)
Section: python
Priority: optional
Homepage: https://github.com/twilio/twilio-python
Description: Twilio API client and TwiML generator (Python 3)
 This package contains a Twilio helper library. The Twilio REST SDK simplifies
 the process of making calls using the Twilio REST API. The Twilio REST API
 lets to you initiate outgoing calls, list previous calls, and much more.
 .
 This package installs the library for Python 3.
