Package: libportmidi-dev
Source: portmidi
Version: 1:217-6
Architecture: amd64
Maintainer: Paul Brossier <piem@debian.org>
Installed-Size: 229
Depends: libportmidi0 (= 1:217-6)
Section: libdevel
Priority: optional
Homepage: http://portmedia.sourceforge.net/
Description: library for real-time MIDI input/output
 PortMidi is a platform independent library for MIDI input/output.
 This package provides the header files for PortMidi and PortTime.
