Package: pybridge-server
Source: pybridge
Version: 0.3.0-7.2
Architecture: all
Maintainer: David Watson <dwatson@debian.org>
Installed-Size: 96
Depends: python (>= 2.7), python (<< 2.8), pybridge-common (>= 0.3), python-sqlobject (>= 0.7), python-configobj (>= 4.0)
Suggests: pybridge (>= 0.3), python-pysqlite2
Section: games
Priority: optional
Homepage: http://pybridge.sourceforge.net/
Description: Server files for pybridge
 PyBridge lets you play the card game of contract bridge, with human
 players, over the Internet or a local network. The PyBridge project aims
 to provide a featureful cross-platform alternative to existing online bridge
 services.
 .
 This package provides a console server to which PyBridge users can connect.
