Package: libnvtt-dev
Source: nvidia-texture-tools (2.0.8-1+dfsg-8.1)
Version: 2.0.8-1+dfsg-8.1+b3
Architecture: amd64
Maintainer: Lennart Weller <lhw@ring0.de>
Installed-Size: 23
Depends: libnvtt2 (= 2.0.8-1+dfsg-8.1+b3)
Section: libdevel
Priority: extra
Homepage: https://github.com/castano/nvidia-texture-tools
Description: NVIDIA Texture Tools (Header)
 NVIDIA Texture Tools is a collection of image processing and texture
 manipulation tools, designed to be integrated in game tools and asset
 conditioning pipelines.  The primary features of the library are mipmap and
 normal map generation, format conversion and DXT compression.
 .
 This package contains the header and development files needed to build
 programs and packages using libnvtt.
