Package: libparpack2-dev
Source: arpack
Version: 3.6.3-1
Architecture: amd64
Maintainer: Debian Science Team <debian-science-maintainers@lists.alioth.debian.org>
Installed-Size: 652
Depends: libparpack2 (= 3.6.3-1), libblas-dev | libblas.so, liblapack-dev | liblapack.so, mpi-default-dev
Replaces: libarpack2-dev
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: https://github.com/opencollab/arpack-ng
Description: Parallel subroutines to solve large scale eigenvalue problems (development)
 ARPACK software is capable of solving large scale symmetric,
 nonsymmetric, and generalized eigenproblems from significant
 application areas. The software is designed to compute a few (k)
 eigenvalues with user specified features such as those of largest
 real part or largest magnitude. Storage requirements are on the order
 of n*k locations. No auxiliary storage is required. A set of Schur
 basis vectors for the desired k-dimensional eigen-space is computed
 which is numerically orthogonal to working precision. Numerically
 accurate eigenvectors are available on request.
 .
 This package contains the static libraries and the documentation for
 development with libparpack (including examples).
