Package: python-pydispatch-doc
Source: pydispatcher
Version: 2.0.5-1
Architecture: all
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Installed-Size: 119
Section: doc
Priority: optional
Homepage: http://pydispatcher.sourceforge.net/
Description: documentation for python-pydispatch
 PyDispatcher provides the Python programmer with a
 multiple-producer-multiple-consumer signal-registration and routing
 infrastructure for use in multiple contexts. The mechanism of PyDispatcher
 started life as a highly rated recipe in the Python Cookbook. The project
 aims to include various enhancements to the recipe developed during use in
 various applications.
 .
 This package contains the documentation for PyDispatcher. It covers both
 the Python 2 and Python 3 versions.
