Package: sunclock
Version: 3.57-9
Architecture: amd64
Maintainer: Roland Rosenfeld <roland@debian.org>
Installed-Size: 462
Depends: sunclock-maps, libc6 (>= 2.14), libjpeg62-turbo (>= 1.3.1), libpng16-16 (>= 1.6.2-1), libx11-6, libxpm4
Suggests: imagemagick
Section: x11
Priority: optional
Homepage: https://github.com/mdoege/Sunclock
Description: fancy clock showing time and geographical data
 sunclock is an X11 application that displays a map of the Earth and
 indicates the illuminated portion of the globe by drawing sunlit
 areas dark on light, night areas as light on dark.  In addition to
 providing local time for the default timezone, it also displays GMT
 time, legal and solar time of major cities, their latitude and
 longitude, and the mutual distances of arbitrary locations on Earth.
 Sunclock can display meridians, parallels, tropics and arctic
 circles.  It has builtin functions that accelerate the speed of time
 and show the evolution of seasons.
