Package: libghc-monadlib-doc
Source: haskell-monadlib
Version: 3.7.3-5
Architecture: all
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Installed-Size: 1102
Depends: haddock-interface-33
Recommends: ghc-doc, libjs-mathjax
Section: doc
Priority: optional
Homepage: http://wiki.github.com/yav/monadlib
Description: collection of monad transformers; documentation
 A collection of monad transformers.
 .
 This package provides the documentation for a library for the Haskell
 programming language.
 See http://www.haskell.org/ for more information on Haskell.
