Package: libminpack1
Source: minpack
Version: 19961126+dfsg1-5
Architecture: amd64
Maintainer: Debian Science Team <debian-science-maintainers@lists.alioth.debian.org>
Installed-Size: 64
Depends: libc6 (>= 2.4), libgcc1 (>= 1:3.0), libgfortran5 (>= 8), libquadmath0 (>= 4.6)
Section: libs
Priority: optional
Multi-Arch: same
Homepage: https://www.netlib.org/minpack/
Description: nonlinear equations and nonlinear least squares shared library
 Minpack includes software for solving nonlinear equations and
 nonlinear least squares problems.  Five algorithmic paths each include
 a core subroutine and an easy-to-use driver.  The algorithms proceed
 either from an analytic specification of the Jacobian matrix or
 directly from the problem functions.  The paths include facilities for
 systems of equations with a banded Jacobian matrix, for least squares
 problems with a large amount of data, and for checking the consistency
 of the Jacobian matrix with the functions.
 .
 This package provides the shared library.
