Package: libkemoticons4
Source: kde4libs
Version: 4:4.14.38-2
Architecture: amd64
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Installed-Size: 264
Depends: libc6 (>= 2.14), libkdecore5 (= 4:4.14.38-2), libkio5 (= 4:4.14.38-2), libqtcore4 (>= 4:4.8.0), libqtgui4 (>= 4:4.8.0), libstdc++6 (>= 5)
Section: libs
Priority: optional
Homepage: http://www.kde.org/
Description: utility classes to deal with emoticon themes
 This library provides utility classes to deal with emoticon
 themes in KDE applications. It provides classes to load emoticon
 themes from various sources as well as install new themes.
 .
 This package is part of the KDE Development Platform libraries module.
