Package: golang-redoctober
Source: golang-github-cloudflare-redoctober (0.0~git20161017.0.78e9720-2)
Version: 0.0~git20161017.0.78e9720-2+b1
Architecture: amd64
Maintainer: Debian Go Packaging Team <pkg-go-maintainers@lists.alioth.debian.org>
Installed-Size: 10004
Depends: libc6 (>= 2.3.2)
Built-Using: golang-1.10 (= 1.10-1), golang-github-beorn7-perks (= 0.0~git20160804.0.4c0e845-1), golang-github-coreos-go-systemd (= 14-1), golang-github-prometheus-client-golang (= 0.8.0-2), golang-github-prometheus-client-model (= 0.0.2+git20150212.12.fa8ad6f-2), golang-github-prometheus-common (= 0+git20180110.89604d1-1), golang-go.crypto (= 1:0.0~git20170629.0.5ef0053-2), golang-goprotobuf (= 0.0~git20170808.0.1909bc2-1), golang-procfs (= 0+git20170703.e645f4e-1), golang-protobuf-extensions (= 1.0.0-2)
Section: devel
Priority: extra
Homepage: https://github.com/cloudflare/redoctober
Description: Software-based two-man rule style encryption and decryption server
 Red October is a software-based two-man rule style encryption and
 decryption server.  The two-man rule is a control mechanism designed
 to achieve a high level of security by requiring the presence of two
 authorized people at all times. In the case of Red October the
 two-man rule is implemented by encrypting data in such as way as to
 require two authorised key-holds to decrypt it.
 .
 This package contains the server and command-line client.
