Package: musepack-tools
Source: libmpc (2:0.1~r495-1)
Version: 2:0.1~r495-1+b2
Architecture: amd64
Maintainer: Debian Multimedia Maintainers <pkg-multimedia-maintainers@lists.alioth.debian.org>
Installed-Size: 336
Depends: libc6 (>= 2.27), libcue2, libmpcdec6 (>= 1:0.1~r435), libreplaygain1 (>= 1.0~r412)
Section: sound
Priority: optional
Homepage: http://www.musepack.net
Description: MusePack commandline utilities
 Musepack is an audio compression format with a strong emphasis on
 high quality. It's not lossless, but it is designed for transparency,
 so that you won't be able to hear differences between the original
 wave file and the much smaller MPC file.
 .
 It is based on the MPEG-1 Layer-2 / MP2 algorithms, but since 1997
 it has rapidly developed and vastly improved and is now at an advanced
 stage in which it contains heavily optimized and patentless code.
 .
 This package contains various commandline  utilities for MusePack files:
  - mpcenc (encoder)
  - mpcdec (decoder)
  - mpccut (cut MPC files without reencoding)
  - mpcgain (gain calculation)
  - mpc2sv8 (conversion to MusePack SV8 from older SV)
