Package: libpam-ccreds
Version: 10-7
Architecture: amd64
Maintainer: Guido Günther <agx@sigxcpu.org>
Installed-Size: 98
Depends: libc6 (>= 2.14), libdb5.3, libgcrypt20 (>= 1.8.0), libpam0g (>= 0.99.7.1)
Suggests: nss-updatedb
Section: admin
Priority: optional
Homepage: http://www.padl.com/OSS/pam_ccreds.html
Description: Pam module to cache authentication credentials
 This package provides the means for Linux workstations to locally
 authenticate using an enterprise identity when the network is unavailable.
 Used in conjunction with the nss_updatedb utility, it provides a mechanism for
 disconnected use of network directories. They are designed to work with
 libpam-ldap and libnss-ldap.
