Package: liburi-namespacemap-perl
Version: 1.06-1
Architecture: all
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Installed-Size: 47
Depends: perl, libiri-perl, libnamespace-autoclean-perl, libmoo-perl, libsub-quote-perl | libmoo-perl (<< 2.003000), libtry-tiny-perl, libtypes-uri-perl, liburi-perl
Recommends: librdf-ns-curated-perl, librdf-ns-perl, librdf-prefixes-perl, libxml-commonns-perl
Section: perl
Priority: optional
Homepage: https://metacpan.org/release/URI-NamespaceMap
Description: namespace URI management classes for Perl
 URI::NamespaceMap provides classes for autoloading methods to help create and
 manage namespace URIs as well as manage collections of them.
