Package: libkf5package5
Source: kpackage
Version: 5.49.0-1
Architecture: amd64
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Installed-Size: 213
Depends: libkf5package-data (= 5.49.0-1), libc6 (>= 2.14), libkf5archive5 (>= 4.96.0), libkf5coreaddons5 (>= 5.16.0), libkf5i18n5 (>= 4.97.0), libqt5core5a (>= 5.11.0~rc1), libstdc++6 (>= 4.1.1)
Recommends: kpackagetool5 (>= 5.49.0-1)
Breaks: kpackagelauncherqml (<< 5.49), libkf5declarative5 (<< 5.49), libkf5kcmutils5 (<< 5.42), libkf5plasma5 (<< 5.49), libkf5plasmaquick5 (<< 5.49), libkf5quickaddons5 (<< 5.49), libkf5runner5 (<< 5.42), plasma-framework (<< 5.49), qml-module-org-kde-runnermodel (<< 5.42)
Section: libs
Priority: optional
Multi-Arch: same
Homepage: https://projects.kde.org/projects/frameworks/kpackage
Description: non-binary asset management framework
 KPackage provides classes for applications to manage user installable packages
 of non-binary assets.
 .
 This package is part of KDE Frameworks 5.
