Package: kio-gdrive
Version: 1.2.4-1
Architecture: amd64
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Installed-Size: 369
Depends: kio, libaccounts-qt5-1 (>= 1.13), libc6 (>= 2.4), libkaccounts1 (>= 0.0), libkf5coreaddons5 (>= 4.97.0), libkf5i18n5 (>= 4.97.0), libkf5kiocore5 (>= 4.96.0), libkf5kiowidgets5 (>= 4.96.0), libkf5notifications5 (>= 4.96.0), libkpimgapicore5 (>= 17.12.2), libkpimgapidrive5 (>= 17.12.2), libqt5core5a (>= 5.10.0), libqt5widgets5 (>= 5.2.0~), libstdc++6 (>= 4.1.1), kaccounts-integration
Enhances: dolphin
Section: kde
Priority: optional
Homepage: https://community.kde.org/KIO_GDrive
Description: KIO access for GDrive
 KIO GDrive enables KIO-aware applications (such as Dolphin, Kate
 or Gwenview) to access and edit Google Drive files in the cloud.
