Package: fonts-cwtex-yen
Source: fonts-cwtex
Version: 1.0-3
Architecture: all
Maintainer: Debian Fonts Task Force <pkg-fonts-devel@lists.alioth.debian.org>
Installed-Size: 7709
Suggests: fonts-cwtex-docs (= 1.0-3)
Section: fonts
Priority: optional
Multi-Arch: foreign
Description: TrueType Font from cwTeX - Yen
 These cwttf TrueType fonts are transformed from cwTeX Traditional
 Chinese Type 1 fonts, and merge Alexej Kryukov's CM-LGC font and
 Koanughi Un's Un-Fonts.
