Package: libghc-base64-bytestring-doc
Source: haskell-base64-bytestring
Version: 1.0.0.1-9
Architecture: all
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Installed-Size: 216
Depends: haddock-interface-31
Recommends: ghc-doc, libjs-mathjax
Section: doc
Priority: optional
Homepage: https://github.com/bos/base64-bytestring
Description: fast base64 encoding/deconding for ByteStrings; documentation
 This package provides the documentation for a library for the Haskell
 programming language.
 See http://www.haskell.org/ for more information on Haskell.
