Package: hscolour
Version: 1.24.4-1
Architecture: amd64
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Installed-Size: 1498
Depends: libc6 (>= 2.27), libffi6 (>= 3.0.4), libgmp10
Section: haskell
Priority: optional
Homepage: http://code.haskell.org/~malcolm/hscolour/
Description: Haskell program to colourise Haskell code
 HsColour currently has five output formats: ANSI terminal codes, HTML 3.2
 with <font> tags, HTML 4.01 with CSS, LaTeX, and mIRC chat client
 codes.
