Package: ledger-wallets-udev
Version: 0.2
Architecture: all
Maintainer: Debian Security Tools <team+pkg-security@tracker.debian.org>
Installed-Size: 16
Depends: udev
Section: net
Priority: optional
Description: udev rules for Ledger wallets
 This package provides udev rules for the following models
 of hardware wallets:
 .
  * Ledger Nano S
  * Ledger Blue
  * Ledger hw2
