Package: libghc-crypto-random-dev
Source: haskell-crypto-random (0.0.9-7)
Version: 0.0.9-7+b1
Architecture: amd64
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Installed-Size: 531
Depends: libghc-base-dev-4.10.1.0-35a7f, libghc-bytestring-dev-0.10.8.2-4a9e2, libghc-securemem-dev-0.1.10-b0fd3, libghc-unix-dev-2.7.2.2-1e3ca, libghc-vector-dev-0.12.0.1-c53f0, libc6 (>= 2.14), libgmp10
Suggests: libghc-crypto-random-doc, libghc-crypto-random-prof
Provides: libghc-crypto-random-dev-0.0.9-79467
Section: haskell
Priority: optional
Homepage: http://github.com/vincenthz/hs-crypto-random
Description: simple cryptographic random related types
 Simple cryptographic random related types: a safe abstraction for
 CPRNGs.
 .
 This package provides a library for the Haskell programming language.
 See http://www.haskell.org/ for more information on Haskell.
Ghc-Package: crypto-random-0.0.9-E8KD1KiJpX87CC0Ng8KYUP
