Package: atfs-dev
Source: shapetools
Version: 1.4pl6-14
Architecture: amd64
Maintainer: Matthias Klose <doko@debian.org>
Installed-Size: 2032
Depends: atfs (= 1.4pl6-14)
Section: libdevel
Priority: optional
Homepage: http://swt.cs.tu-berlin.de/~shape/index.html
Description: Attributed File System (AtFS development libraries)
 AtFS is a storage system supporting multiple versions of files and
 associating an arbitrary number of application defined attributes
 of the form "name=value" with each version. It is part of ShapeTools, a
 software configuration management system.
 .
 This package contains the development files needed to compile and link
 programs with AtFS.
