Package: libghc-intervals-prof
Source: haskell-intervals
Version: 0.8.1-2
Architecture: amd64
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Installed-Size: 2749
Depends: libghc-intervals-dev (= 0.8.1-2), libghc-array-prof-0.5.2.0-26dc0, libghc-base-prof-4.10.1.0-35a7f, libghc-distributive-prof-0.5.3-f3f15, libghc-ghc-prim-prof-0.5.1.1-c8f3d
Provides: libghc-intervals-prof-0.8.1-3978c
Section: haskell
Priority: optional
Homepage: http://github.com/ekmett/intervals
Description: Haskell data type for intervals; profiling libraries
 A Numeric.Interval.Interval is a closed, convex set of floating point
 values.
 .
 This package does not control the rounding mode of the end points of the
 interval when using floating point arithmetic, so be aware that in order
 to get precise containment of the result, you will need to use an
 underlying type with both lower and upper bounds like CReal.
 .
 This package provides a library for the Haskell programming language, compiled
 for profiling.  See http://www.haskell.org/ for more information on Haskell.
