Package: libbudgie-private0
Source: budgie-desktop
Version: 10.4+git20180830.01.f2dbc215fdb-3
Architecture: amd64
Maintainer: David Mohammed <fossfreedom@ubuntu.com>
Installed-Size: 79
Depends: libbudgie-plugin0 (>= 10.4), libc6 (>= 2.4), libglib2.0-0 (>= 2.57), libgtk-3-0 (>= 3.21.4)
Section: libs
Priority: optional
Homepage: https://solus-project.com/budgie/
Description: Budgie Private library for budgie-desktop
 Budgie-Desktop is a GTK+ based desktop environment which focuses on
 simplicity and elegance.  It provides a traditional desktop metaphor
 based interface utilising customisable panel based menu driven system.
 Budgie-Desktop is written from scratch utilising many GNOME based
 sub-systems such as GNOME-Session and Mutter.
 .
 This provides a private ABI for raven and the budgie panel
