Package: wfuzz
Version: 2.2.11-1.1
Architecture: all
Maintainer: Debian Security Tools <team+pkg-security@tracker.debian.org>
Installed-Size: 1456
Depends: python-pycurl, python-pyparsing, python:any (<< 2.8), python:any (>= 2.7~), python-pkg-resources
Section: utils
Priority: optional
Homepage: http://www.edge-security.com/wfuzz.php
Description: Web application bruteforcer
 Wfuzz is a tool designed for bruteforcing Web Applications,
 it can be used for finding resources not linked
 directories, servlets, scripts, etc, bruteforce GET and
 POST parameters for checking different kind of injections
 (SQL, XSS, LDAP,etc), bruteforce Forms parameters
 (User/Password), Fuzzing, etc.
