Package: dvd+rw-tools
Version: 7.1-12
Architecture: amd64
Maintainer: Optical Media Tools Team <pkg-opt-media-team@lists.alioth.debian.org>
Installed-Size: 312
Depends: genisoimage, growisofs (>= 7.1-9), libc6 (>= 2.4), libgcc1 (>= 1:3.0), libstdc++6 (>= 5)
Suggests: cdrskin
Section: video
Priority: optional
Homepage: http://fy.chalmers.se/~appro/linux/DVD+RW/
Description: DVD+-RW/R tools
 The dvd+rw-tools suite makes it possible to burn DVD images created by
 dvdauthor or genisoimage to DVD+R, DVD+RW, DVD-R, and DVD-RW disks,
 replacing cdrecord-proDVD in many cases.
 .
 This package contains dvd+rw-mediainfo (to give details about DVD
 disks), and some programs to control the write speed and obtain
 information from DVD-RAM.
 .
 Additionally, it depends on the growisofs package to provide the main
 front-end for burning DVD-like media.
