Package: libguestfs-xfs
Source: libguestfs
Version: 1:1.38.4-1
Architecture: amd64
Maintainer: Debian Libvirt Maintainers <pkg-libvirt-maintainers@lists.alioth.debian.org>
Installed-Size: 1122
Depends: libguestfs0 (= 1:1.38.4-1), xfsprogs
Section: libs
Priority: optional
Multi-Arch: same
Homepage: http://libguestfs.org
Description: guest disk image management system - XFS support
 The libguestfs library allows accessing and modifying guest disk
 images.
 .
 This package contains appliance fragments for XFS support.
