Package: ruby-rest-client
Version: 2.0.2-3
Architecture: all
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Installed-Size: 126
Depends: ruby | ruby-interpreter, ruby-http-cookie (<< 2.0), ruby-http-cookie (>= 1.0.2), ruby-mime-types (<< 4.0), ruby-mime-types (>= 1.16), ruby-netrc (>= 0.8)
Section: ruby
Priority: optional
Homepage: https://github.com/rest-client/rest-client
Description: simple REST client for Ruby
 A simple HTTP and REST client for Ruby, inspired by the Sinatra microframework
 style of specifying actions: get, put, post, delete.
 The package also includes the program restclient, it can be used to easily test
 REST APIs.
Ruby-Versions: all
