Package: ruby-password
Source: ruby-password (0.5.3-4)
Version: 0.5.3-4+b8
Architecture: amd64
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Installed-Size: 52
Depends: libc6 (>= 2.4), libcrack2 (>= 2.8.12), libgmp10, libruby2.5 (>= 2.5.0~preview1), ruby (>= 1:2.5~0), ruby (<< 1:2.6~), ruby-termios
Section: ruby
Priority: optional
Homepage: http://www.caliban.org/ruby/ruby-password.shtml
Description: Ruby library for handling passwords
 This package is a suite of password handling methods. Specifically, it
 handles manual entry of passwords from the keyboard in both buffered and
 unbuffered modes, password strength checking, random password generation,
 phonemic password generation, and encryption of passwords.
 .
 The common CrackLib library is used to perform password strength checking.
Ruby-Versions: ruby2.5
