Package: libdatetime-timezone-systemv-perl
Version: 0.010-1
Architecture: all
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Installed-Size: 42
Depends: perl, libdate-iso8601-perl, libparams-classify-perl
Section: perl
Priority: optional
Homepage: https://metacpan.org/release/DateTime-TimeZone-SystemV
Description: System V and POSIX timezone strings
 An instance of this class represents a timezone that was specified by means
 of a System V timezone string or the POSIX extended form of the same syntax.
 These can express a plain offset from Universal Time, or a system of two
 offsets (standard and daylight saving time) switching on a yearly cycle
 according to certain types of rule.
 .
 DateTime::TimeZone::SystemV implements the DateTime::TimeZone interface, so
 that its instances can be used with DateTime objects.
