Package: kicad-symbols
Version: 5.0.0-2
Architecture: all
Maintainer: Debian Electronics Team <pkg-electronics-devel@alioth-lists.debian.net>
Installed-Size: 20709
Recommends: kicad (>= 5.0.0~rc1+dfsg1-1~)
Breaks: kicad (<< 5.0.0~rc1+dfsg1-1~), kicad-common (<< 5.0.0~rc1+dfsg1-1~)
Replaces: kicad (<< 5.0.0~rc1+dfsg1-1~), kicad-common (<< 5.0.0~rc1+dfsg1-1~)
Section: electronics
Priority: optional
Multi-Arch: foreign
Homepage: https://kicad.github.io/symbols
Description: Schematic symbols for KiCad's Eeschema
 Eeschema is a powerful schematic capture software distributed as part of
 KiCad which get it's great and powerful efficiency from the usage of
 prepared schematics for the various needed schematic symbols.
 .
 This package is providing this schematic symbols for Eeschema usable with
 KiCad >= 5.0.0.
