Package: libopsin-java
Source: opsin
Version: 2.3.1-1
Architecture: all
Maintainer: Debichem Team <debichem-devel@lists.alioth.debian.org>
Installed-Size: 2657
Depends: default-jre | java7-runtime | java8-runtime | java9-runtime | java10-runtime | java11-runtime, junit4, libautomaton-java, libcommons-cli-java, libcommons-io-java, libjaxen-java, liblog4j1.2-java, libmockito-java, libstax2-api-java, libwoodstox-java, libxom-java
Section: java
Priority: extra
Homepage: http://opsin.ch.cam.ac.uk/
Description: Chemical name to structure converter
 OPSIN (Open Parser for Systematic IUPAC Nomenclature) converts IUPAC compound
 names to semantic chemical information and outputs a structure either as
 CML (Chemical Markup Language), SMILES, or InChI.
 .
 This package contains the Java library.
