Package: libghc-shelly-doc
Source: haskell-shelly
Version: 1.8.1-1
Architecture: all
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Installed-Size: 2075
Depends: haddock-interface-33
Recommends: ghc-doc, libghc-async-doc, libghc-exceptions-doc, libghc-system-fileio-doc, libghc-system-filepath-doc, libghc-transformers-base-doc, libjs-mathjax
Section: doc
Priority: optional
Homepage: https://github.com/yesodweb/Shelly.hs
Description: shell-like (systems) programming in Haskell; documentation
 Shelly provides convenient systems programming in Haskell,
 similar in spirit to POSIX shells. Shelly:
 .
  * is aimed at convenience and getting things done rather than
    being a demonstration of elegance
  * has detailed and useful error messages
  * maintains its own environment, making it thread-safe
  * is modern, using Text and system-filepath/system-fileio
 .
 Shelly is originally forked from the Shellish package.
 .
 This package provides the documentation for a library for the Haskell
 programming language.
 See http://www.haskell.org/ for more information on Haskell.
