Package: libnet-ip-minimal-perl
Version: 0.06-1
Architecture: all
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Installed-Size: 53
Depends: perl
Section: perl
Priority: optional
Homepage: http://search.cpan.org/dist/Net-IP-Minimal/
Description: module to check if an IP address is version 4 or 6
 Net::IP::Minimal provides only three of the many functions that Net::IP
 offers, while using a lot less memory: ip_get_version(), ip_is_ipv4()
 and ip_is_ipv6().
