Package: libtotem-plparser18
Source: totem-pl-parser
Version: 3.26.1-2
Architecture: amd64
Maintainer: Debian GNOME Maintainers <pkg-gnome-maintainers@lists.alioth.debian.org>
Installed-Size: 215
Depends: libarchive13 (>= 3.0.4), libc6 (>= 2.8), libgcrypt20 (>= 1.8.0), libglib2.0-0 (>= 2.37.3), libgmime-3.0-0 (>= 3.0.0), libquvi-0.9-0.9.3, libxml2 (>= 2.7.4), libtotem-plparser-common
Section: libs
Priority: optional
Multi-Arch: same
Description: Totem Playlist Parser library - runtime files
 totem-pl-parser is a simple GObject-based library to parse a host of
 playlist formats, as well as save those.
 .
 This package contains the shared library.
