Package: python3-pykka
Source: python-pykka
Version: 1.2.1-4
Architecture: all
Maintainer: Stein Magnus Jodal <jodal@debian.org>
Installed-Size: 597
Depends: python3:any (>= 3.3.2-2~), libjs-sphinxdoc (>= 1.0)
Suggests: python3-gevent | python3-eventlet
Section: python
Priority: optional
Homepage: https://www.pykka.org/
Description: Actor model library (Python 3)
 Pykka is a Python implementation of the actor model. The actor model
 introduces some simple rules to control the sharing of state and cooperation
 between execution units, which makes it easier to build concurrent
 applications.
 .
 Pykka provides an actor API with multiple implementations: threading, gevent,
 and Eventlet.
 .
 This is the Python 3 version of the package.
