Package: node-load-json-file
Version: 2.0.0-1
Architecture: all
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Installed-Size: 15
Depends: nodejs, node-pify (>= 2.0.0~), node-strip-bom (>= 3.0.0~), node-graceful-fs (>= 3.0~), node-parse-json (>= 2.2.0~)
Section: web
Priority: optional
Homepage: https://github.com/sindresorhus/load-json-file#readme
Description: read and parse a JSON file
 .
 Node.js is an event-based server-side JavaScript engine.
