Package: python-mongoengine-doc
Source: python-mongoengine
Version: 0.10.6-1
Architecture: all
Maintainer: Janos Guljas <janos@resenje.org>
Installed-Size: 1477
Depends: libjs-jquery, libjs-underscore, libjs-modernizr
Section: doc
Priority: optional
Homepage: http://mongoengine.org/
Description: Python Document-Object Mapper for working with MongoDB (documentation)
 MongoEngine is a Document-Object Mapper (think ORM, but for document
 databases) for working with MongoDB from Python. It uses a simple declarative
 API, similar to the Django ORM.
 .
 This package contains the HTML documentation.
