Package: libgssdp-doc
Source: gssdp
Version: 1.0.2-2
Architecture: all
Maintainer: Debian GNOME Maintainers <pkg-gnome-maintainers@lists.alioth.debian.org>
Installed-Size: 163
Depends: lynx | www-browser
Section: doc
Priority: optional
Homepage: https://wiki.gnome.org/Projects/GUPnP
Description: GObject-based library for SSDP (documentation)
 A GObject-based API for doing SSDP (Simple Service Discovery Protocol)
 transparently.
 .
 This package contains the documentation.
