Package: clearcut
Version: 1.0.9-2
Architecture: amd64
Maintainer: Debian Med Packaging Team <debian-med-packaging@lists.alioth.debian.org>
Installed-Size: 1228
Depends: libc6 (>= 2.14)
Section: science
Priority: optional
Homepage: http://bioinformatics.hungry.com/clearcut/
Description: extremely efficient phylogenetic tree reconstruction
 Clearcut is the reference implementation for the Relaxed Neighbor Joining (RNJ)
 algorithm by J. Evans, L. Sheneman, and J. Foster from the Initiative
 for Bioinformatics and Evolutionary Studies (IBEST) at the University of
 Idaho.
