Package: golang-github-tendermint-go-event-meter-dev
Source: tendermint-go-event-meter
Version: 0.0~git20160420.0.c9240a5-2
Architecture: all
Maintainer: Debian Go Packaging Team <pkg-go-maintainers@lists.alioth.debian.org>
Installed-Size: 23
Depends: golang-github-gorilla-websocket-dev, golang-github-tendermint-go-common-dev, golang-github-tendermint-go-events-dev, golang-github-tendermint-go-logger-dev, golang-github-tendermint-go-rpc-dev, golang-github-rcrowley-go-metrics-dev
Section: devel
Priority: extra
Homepage: https://github.com/tendermint/go-event-meter
Description: publisher-subscriber pattern over websockets
 This package provides a generic library for Go programs
 to subscribe to events and record their frequency.
 .
 This package is used by Tendermint Core.
 .
 Tendermint Core is Byzantine Fault Tolerant (BFT) middleware
 that takes a state transition machine, written in any programming
 language, and replicates it on many machines.
