Package: fcode-utils
Source: fcode-utils (1.0.2-7)
Version: 1.0.2-7+b1
Architecture: amd64
Maintainer: Aurelien Jarno <aurel32@debian.org>
Installed-Size: 570
Depends: libc6 (>= 2.14)
Section: misc
Priority: optional
Homepage: http://www.openbios.org
Description: OpenBIOS FCode utilities
 FCode is a Forth programming language dialect compliant with ANS Forth.
 It can exist in two forms; source code and a compiled version, known as
 bytecode. It is of interest mainly for its use in OpenFirmware.
 .
 This package provides a set of FCode utilities:
  - the tokenizer toke
  - the detokenizer detok
  - a PCI rom header utility
  - a portable implementation of Forth local values
