Package: pdmenu
Source: pdmenu (1.3.4)
Version: 1.3.4+b1
Architecture: amd64
Maintainer: Debian QA Group <packages@qa.debian.org>
Installed-Size: 152
Depends: libc6 (>= 2.14), libgpm2 (>= 1.20.4), libslang2 (>= 2.2.4)
Suggests: menu (>= 2.1.29)
Conflicts: menu (<< 2.0.0-5)
Section: shells
Priority: optional
Homepage: https://joeyh.name/code/pdmenu/
Description: simple console menu program
 A full screen console menu program, intended to be comfortable login shell
 for inexperienced users.
 .
 Pdmenu interfaces with Debian's menu system, to provide
 automatically-generated lists of installed programs.
