Package: libpff-dbg
Source: libpff
Version: 20120802-5.1
Architecture: amd64
Maintainer: Debian Forensics <forensics-devel@lists.alioth.debian.org>
Installed-Size: 1155
Depends: libpff1 (= 20120802-5.1), libpff-dev (= 20120802-5.1)
Section: debug
Priority: extra
Homepage: https://github.com/libyal/libpff
Description: library to access various ms outlook files formats (debug)
 Libpff is a library to access Personal Folder File (PFF) and Offline Folder
 File (OFF) formats. Those files formats are used by MS Outlook in PAB
 (Personal Address Book), PST (Personal Storage Table) and OST
 (Offline Storage Table) files.
 .
 This package contains the debugging symbols.
Build-Ids: 48a53acec27286b28ff4cd565d0525eb57a1ffc9 98a782de389dbe2eb35f02494893b46df0499d6e e06e67a74ebb03d1d57d606736cdfc58c70472bb
