Package: libghc-network-doc
Source: haskell-network
Version: 2.6.3.5-1
Architecture: all
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Installed-Size: 1558
Depends: haddock-interface-31
Recommends: ghc-doc, libjs-mathjax
Section: doc
Priority: optional
Homepage: https://github.com/haskell/network
Description: Haskell low-level network library; documentation
 Library `network' provides means to perform network
 operations on level of ByteString's and sockets.
 .
 This package provides the documentation for a library for the Haskell
 programming language.
 See http://www.haskell.org/ for more information on Haskell.
