Package: python-pisock-dbg
Source: pilot-link (0.12.5-dfsg-2)
Version: 0.12.5-dfsg-2+b3
Architecture: amd64
Maintainer: Ludovic Rousseau <rousseau@debian.org>
Installed-Size: 621
Depends: python-pisock (= 0.12.5-dfsg-2+b3), python-dbg, libc6 (>= 2.14), libpisock9
Section: debug
Priority: extra
Homepage: http://www.pilot-link.org/
Description: Python module to communicate with PalmOS PDA (debug extension)
 This package provides the pisock module built for the Python debug
 interpreter, which provides Python programs with means of
 communicating directly with a PalmOS device.
Build-Ids: 0c9689eae8d23e36a70541757e22688050c2d93a
