Package: grub-invaders
Source: invaders
Version: 1.0.0-13
Architecture: amd64
Maintainer: Debian Games Team <pkg-games-devel@lists.alioth.debian.org>
Installed-Size: 53
Section: kernel
Priority: optional
Homepage: http://www.erikyyy.de/invaders/
Description: multiboot compliant kernel game
 GRUB Invaders is a game that runs directly on a computer, without an operating
 system. It is meant to be started with the GRUB bootloader for PCs.
