Package: binutils-mips64-linux-gnuabin32-dbg
Source: binutils
Version: 2.31.1-11
Architecture: amd64
Maintainer: Matthias Klose <doko@debian.org>
Installed-Size: 47583
Depends: binutils-mips64-linux-gnuabin32 (= 2.31.1-11)
Section: debug
Priority: optional
Multi-Arch: foreign
Homepage: https://www.gnu.org/software/binutils/
Description: GNU binary utilities, for mips64-linux-gnuabin32 target (debug symbols)
 This package provides debug symbols for binutils-mips64-linux-gnuabin32.
