Package: libjs-moxie
Source: moxie.js
Version: 1.4.1~dfsg1-4
Architecture: all
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Installed-Size: 426
Recommends: javascript-common
Section: web
Priority: optional
Homepage: https://github.com/moxiecode/moxie
Description: pollyfills for XHR2 and File API
 mOxie provides pollyfills for the XHR2 and File API. It is the
 combined name for XHR2 and File API pollyfills from Plupload,
 which is a multi-runtime file uploader.
