Package: texlive-metapost-doc
Source: texlive-base
Version: 2018.20180824-1
Architecture: all
Maintainer: Debian TeX Maintainers <debian-tex-maint@lists.debian.org>
Installed-Size: 35174
Depends: tex-common (>= 6), texlive-base (>= 2018.20180416)
Section: doc
Priority: optional
Multi-Arch: foreign
Homepage: http://www.tug.org/texlive/
Description: TeX Live: Documentation files for texlive-metapost
 This package provides the documentation for texlive-metapost
