Package: libresid-builder-dev
Source: sidplay-libs
Version: 2.1.1-15
Architecture: amd64
Maintainer: Laszlo Boszormenyi (GCS) <gcs@debian.org>
Installed-Size: 264
Depends: libresid-builder0c2a (= 2.1.1-15)
Conflicts: libresid-dev (<= 2.1.0)
Replaces: libresid-dev (<= 2.1.0)
Section: libdevel
Priority: optional
Description: SID chip emulation class based on resid
 SID builder packages provide a chip emulator, to be used by libsidplay2.
 This package is an emulation based on the resid library, including hardsid
 support.
