Package: ivulncheck-doc
Source: ivulncheck
Version: 0.1.67-1.1
Architecture: all
Maintainer: Gaetan Egger <gaetan.egger@infomaniak.com>
Installed-Size: 102
Depends: libjs-sphinxdoc (>= 1.0)
Section: doc
Priority: optional
Homepage: https://salsa.debian.org/gegger-guest/ivulncheck
Description: reports cluster security vulnerabilities and fixes - Agent
 Ivulncheck is a security tool to centralize the search of vulnerabilities and
 fixes concerning packages on a cluster. It leverages already existing tools
 and services such as debsecan and the Debian and Ubuntu CVE trackers to create
 a centralized database of known vulnerabilities and updates.
 .
 This package provides ivulncheck documentation.
