Package: r-cran-pwt
Version: 7.1.1-6
Architecture: all
Maintainer: Debian R Packages Maintainers <r-pkg-team@alioth-lists.debian.net>
Installed-Size: 7430
Depends: r-base-core (>= 3.5.0-5), r-api-3.5
Suggests: r-cran-pwt8, r-cran-pwt9
Section: gnu-r
Priority: optional
Homepage: https://cran.r-project.org/package=pwt
Description: GNU R package for the Penn World Tables (version 5.6 to 7.1)
 This package contains the Penn World Tables (PWT), which provide purchasing
 power parity (PPP) and national income accounts converted to international
 prices for 189 countries for some or all the years 1950-2010. The data are
 developed and maintained by scholars at the Center for International
 Comparisons of Production, Income and Prices (CIC) from the University of
 Pennsylvania.
 .
 The package contains all the releases of the PWT from version 5.6 to 7.1,
 which were created by the University of Pennsylvania. Note that more recent
 versions of the PWT have been created by the University of California, Davis
 and the University of Groningen, and are available in the r-cran-pwt8 and
 r-cran-pwt9 packages.
