Package: gsfonts
Version: 1:8.11+urwcyr1.0.7~pre44-4.4
Architecture: all
Maintainer: Masayuki Hatta (mhatta) <mhatta@debian.org>
Installed-Size: 4439
Conflicts: gs (<< 5.50-5), gs-aladdin (<< 6.50-4), gsfonts-x11 (<< 0.13)
Section: text
Priority: optional
Multi-Arch: foreign
Homepage: http://www.ghostscript.com/
Description: Fonts for the Ghostscript interpreter(s)
 These are free look-alike fonts of the Adobe PostScript fonts.
 Recommended for all flavors of Ghostscript (gs-gpl, gs-afpl and gs-esp).
