Package: libgctp-dev
Source: libgctp
Version: 2.0.0-4
Architecture: amd64
Maintainer: Alastair McKinstry <mckinstry@debian.org>
Installed-Size: 431
Depends: libgctp-2.0.0 (= 2.0.0-4)
Recommends: pkg-config
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: https://github.com/OkoSanto/GCTP
Description: General Cartographic Transformation Package - development files
 This package contains the static library, pkg-config files and include files
 needed to build with the General Cartographic Transformation Package library.
