Package: go-dep
Version: 0.5.0-1
Architecture: amd64
Maintainer: Debian Go Packaging Team <pkg-go-maintainers@lists.alioth.debian.org>
Installed-Size: 8536
Depends: libc6 (>= 2.3.2)
Built-Using: golang-1.10 (= 1.10.3-1), golang-github-armon-go-radix (= 0.0~git20150602.0.fbd82e8-2), golang-github-boltdb-bolt (= 1.3.1-5), golang-github-masterminds-vcs-dev (= 1.12.0-4), golang-github-nightlyone-lockfile (= 0.0~git20170804.6a197d5-1), golang-github-pelletier-go-toml (= 1.1.0-1), golang-github-pkg-errors (= 0.8.0+git20180311.816c908-1), golang-golang-x-net-dev (= 1:0.0+git20180124.0ed95ab+dfsg-2), golang-golang-x-sync (= 0.0~git20171101.fd80eb9-1), golang-goprotobuf (= 0.0~git20170808.0.1909bc2-2), golang-yaml.v2 (= 2.2.1-1)
Section: devel
Priority: optional
Homepage: https://github.com/golang/dep
Description: Go dependency management tool
 dep is a prototype dependency management tool for the Go programming
 language.
