Package: libjs-jac
Source: jsjac
Version: 1.3.4+dfsg-2
Architecture: all
Maintainer: Debian XMPP Maintainers <pkg-xmpp-devel@lists.alioth.debian.org>
Installed-Size: 1187
Recommends: javascript-common
Suggests: ejabberd
Section: web
Priority: optional
Homepage: http://zeank.in-berlin.de/jsjac/
Description: JavaScript Jabber Client Library
 JSJaC is a jabber client library written in JavaScript to ease implementation
 of web based jabber clients. For communication with a jabber server it needs
 to support either HTTP Polling or HTTP Binding.
 .
 JSJaC has an object oriented design which should be quite easy to use.
 Communication is done by using the XML HTTP Request object also refered
 to as AJAX technology. Your browser must support this.
