Package: renpy-demo
Source: renpy
Version: 7.1.0+dfsg-1
Architecture: all
Maintainer: Debian Games Team <pkg-games-devel@lists.alioth.debian.org>
Installed-Size: 27563
Depends: renpy (= 7.1.0+dfsg-1)
Section: games
Priority: optional
Homepage: http://www.renpy.org/
Description: framework for developing visual-novel type games - demo
 Ren'Py is a programming language and runtime, intended to ease the creation
 of visual-novel type games. It contains features that make it easy to
 display thoughts, dialogue, and menus; to display images to the user; to
 write game logic; and to support the saving and loading of games.
 .
 This package includes a full playable example showing the features of the
 framework.
