Package: python3-enzyme
Source: enzyme
Version: 0.4.1-1
Architecture: all
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Installed-Size: 145
Depends: python3:any (>= 3.3.2-2~)
Section: python
Priority: optional
Homepage: https://github.com/Diaoul/enzyme
Description: video metadata parser (Python 3)
 Python module to parse metadata in video files.
 .
 enzyme extracts metadata such as the type and encoding of video streams, type,
 encoding and language of audio streams, chapters, tags and subtitle tracks
 from video files.
 .
 This package contains the Python 3 module.
