Package: libclalsadrv-dev
Source: clalsadrv
Version: 2.0.0-3
Architecture: all
Maintainer: Debian Multimedia Maintainers <pkg-multimedia-maintainers@lists.alioth.debian.org>
Installed-Size: 68
Depends: libclalsadrv2 (>= 2.0.0-3), libclalsadrv2 (<< 2.0.0+1~), libasound2-dev
Section: libdevel
Priority: optional
Homepage: http://www.kokkinizita.net/linuxaudio/
Description: ALSA driver C++ access library (development files)
 C++ wrapper around the ALSA API.
 .
 This package includes the development tools.
