Package: python-urwid-satext
Source: urwid-satext
Version: 0.7.0d-1
Architecture: all
Maintainer: Debian XMPP Maintainers <pkg-xmpp-devel@lists.alioth.debian.org>
Installed-Size: 123
Depends: python (<< 2.8), python (>= 2.7), python-urwid (>= 1.2), python:any (>= 2.6.6-7~)
Section: python
Priority: extra
Homepage: http://wiki.goffi.org/wiki/Urwid-satext/en
Description: collection of urwid widgets
 Urwid-satext is a Python library providing a set of widgets based on top of
 Urwid: buttons, text fields, frames, etc. Please refer to the official web
 page for the complete list of features.
