Package: golang-objx-dev
Source: golang-objx
Version: 0.0~git20150928.0.1a9d0bb-3
Architecture: all
Maintainer: pkg-go <pkg-go-maintainers@lists.alioth.debian.org>
Installed-Size: 9
Depends: golang-github-stretchr-objx-dev
Section: oldlibs
Priority: extra
Homepage: https://github.com/stretchr/objx
Description: Transitional package for golang-github-stretchr-objx-dev
 This is a transitional package to ease upgrades to the
 golang-github-stretchr-objx-dev package. It can safely be removed.
