Package: moonshot-trust-router-dbg
Source: moonshot-trust-router (1.4.1-1)
Version: 1.4.1-1+b1
Architecture: amd64
Maintainer: Sam Hartman <hartmans@debian.org>
Installed-Size: 160
Depends: moonshot-trust-router (= 1.4.1-1+b1) | libtr-tid2 (= 1.4.1-1+b1)
Section: debug
Priority: extra
Homepage: http://www.project-moonshot.org/
Description: Trust Router Debugging Symbols
 This package includes debugging symbols for trust router libraries
 and binaries.
Build-Ids: 4d5f50fe2f422362682514edecc1be7fe46abb03 7fdcf1c61114768c5ffe5ac3cd5c289f30344ec6 cc400164245e83f07c5919029ddb46cadda0d0c6
