Package: libmoox-role-cloneset-perl
Version: 0.1.0-3
Architecture: all
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Installed-Size: 26
Depends: perl, libmoo-perl (>= 1.006), libnamespace-clean-perl (>= 0.25)
Recommends: libmoox-buildargs-perl
Section: perl
Priority: optional
Homepage: https://metacpan.org/release/MooX-Role-CloneSet
Description: Perl Moo role for creating updated copies of immutable objects
 MooX::Role::CloneSet is a role for immutable objects, providing an easy
 way to create a new object with some modified properties.  It provides
 the cset() method that creates a new object with the specified changes,
 shallowly copying all the rest of the original object's properties.
