Package: r-cran-plotrix
Version: 3.7-4-1
Architecture: all
Maintainer: Debian R Packages Maintainers <r-pkg-team@alioth-lists.debian.net>
Installed-Size: 1129
Depends: r-base-core (>= 3.5.1-1), r-api-3.5
Section: gnu-r
Priority: optional
Homepage: https://cran.r-project.org/package=plotrix
Description: GNU R package providing various plotting functions
 This R package provides lots of plots, various labeling, axis and color scaling
 functions.  Some of them are:
 .
  arctext:          Display text on a circular arc.
  barhier:          Display a set of hierarchically associated variables
  barp:             A bar plotting routine
  bin.wind.records: Classify wind direction and speed records.
  centipede.plot:   Display a centipede plot
  clock24.plot:     Plot values on a 24 hour "clockface".
  color.legend:     Legend matching categories or values to colors
  dotplot.mtb:      Minitab style dotplots.
  gantt.chart:      Display a Gantt chart
  intersectDiagram: Display set intersections
  multhist:         Plot a multiple histogram, as a barplot
  polar.plot:       Plot values on a circular grid of 0 to 360 degrees.
  vectorField:      Display magnitude/direction vectors
  weighted.hist:    Display a weighted histogram
 .
 and many more.  Read more about this package at
 http://cran.r-project.org/web/packages/plotrix/plotrix.pdf
