Package: homebank-data
Source: homebank
Version: 5.2.2-1
Architecture: all
Maintainer: Francesco Namuri <franam@debian.org>
Installed-Size: 2994
Recommends: homebank (>= 5.2.2-1)
Section: gnome
Priority: optional
Homepage: http://homebank.free.fr/
Description: Data files for homebank
 HomeBank is a fast, simple and easy to use program to manage your personal
 accounting.
 It has a lot of features such as easy analysis with  graphical charts
 (statistics, budget, overdrawn, car cost), useful reports ("Where your
 money goes", "Trend Time Report" ), multi-accounts  support, budget
 management, reminder, import from  OFX/QFX-CSV files, visual status of
 operations. It is based on GTK2.
 .
 This package contains the architecture independent portions of homebank
