Package: signon-plugin-oauth2-dev
Source: signon-plugin-oauth2
Version: 0.22-1
Architecture: amd64
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Installed-Size: 22
Depends: signon-plugin-oauth2
Section: utils
Priority: optional
Homepage: https://gitlab.com/accounts-sso/signon-plugin-oauth2
Description: oauth2 plugin for accounts single sign on framework - headers
 Plugin for signond accounts-sso component to provide a
 mechanism to approve oauth2 authentication requests.
 .
 This contains development headers.
