Package: wise-doc
Source: wise
Version: 2.4.1-20
Architecture: all
Maintainer: Debian Med Packaging Team <debian-med-packaging@lists.alioth.debian.org>
Installed-Size: 1286
Recommends: wise (= 2.4.1-20), xpdf-reader | pdf-viewer
Section: doc
Priority: optional
Homepage: http://www.ebi.ac.uk/~birney/wise2/
Description: documentation for the wise package
 This package contains the documentation for Wise2, a package focused on
 comparisons of biopolymers, commonly DNA and protein sequences.
