Package: golang-github-matryer-try-dev
Source: golang-github-matryer-try
Version: 1+git20161228.6.9ac251b-2
Architecture: all
Maintainer: Debian Go Packaging Team <pkg-go-maintainers@lists.alioth.debian.org>
Installed-Size: 18
Depends: golang-github-cheekybits-is-dev
Section: devel
Priority: optional
Homepage: https://github.com/matryer/try
Description: Simple idiomatic retry package for Go
 Idiomatic Go retry package.
 Thanks to @rowland (https://github.com/rowland) for code review.
 .
 Usage: Just call try.Do with the function you want to retry
 in the event of an error.
