Package: python-nose
Source: nose
Version: 1.3.7-4
Architecture: all
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Installed-Size: 553
Depends: python-pkg-resources, python:any (<< 2.8), python:any (>= 2.7.5-5~)
Suggests: python-coverage, python-nose-doc
Section: python
Priority: optional
Multi-Arch: foreign
Homepage: https://nose.readthedocs.io/en/latest/
Description: test discovery and running of Python's unittest
 nose provides an alternate test discovery and running process for
 unittest, one that is intended to mimic the behavior of py.test as
 much as is reasonably possible without resorting to too much magic
