Package: node-term-size
Version: 1.2.0+dfsg-2
Architecture: all
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Installed-Size: 17
Depends: nodejs, node-execa (>= 0.4.0)
Section: javascript
Priority: optional
Homepage: https://github.com/sindresorhus/term-size#readme
Description: Reliably get the terminal window size
 Because process.stdout.columns doesn't exist when run non-interactively, for
 example, in a child process or when piped.
 .
 Node.js is an event-based server-side JavaScript engine.
