Package: libpstoedit0c2a
Source: pstoedit (3.73-1)
Version: 3.73-1+b1
Architecture: amd64
Maintainer: Barak A. Pearlmutter <bap@debian.org>
Installed-Size: 1364
Depends: libc6 (>= 2.14), libemf1, libgcc1 (>= 1:3.0), libgd3 (>= 2.1.0~alpha~), libmagick++-6.q16-8, libmagickcore-6.q16-6 (>= 8:6.9.10.2), libmagickwand-6.q16-6 (>= 8:6.9.10.2), libplot2c2, libstdc++6 (>= 5.2), libzip4 (>= 0.10), zlib1g (>= 1:1.1.4)
Conflicts: libpstoedit0, libpstoedit0c2
Replaces: libpstoedit-dev (<= 3.32-3), libpstoedit0, libpstoedit0c2
Section: libs
Priority: optional
Homepage: http://www.pstoedit.net/
Description: PostScript to editable vector graphics library (runtime files)
 pstoedit is a framework for converting Postscript and PDF files to various
 editable vector graphic formats.
