Package: glom-doc
Source: glom
Version: 1.30.4-3
Architecture: all
Maintainer: Debian GNOME Maintainers <pkg-gnome-maintainers@lists.alioth.debian.org>
Installed-Size: 10339
Depends: doc-base, libjs-jquery, libjs-underscore
Section: doc
Priority: optional
Multi-Arch: foreign
Homepage: http://www.glom.org/
Description: database designer and user interface - documentation
 With Glom you can design table definitions and the relationships between
 them, plus arrange the fields on the screen. You can edit and search the
 data in those tables, and specify field values in terms of other fields.
 It's as easy as it should be.
 .
 The design is loosely based on FileMaker Pro, with the added advantage of
 separation between interface and data. Its simple framework should be enough
 to implement most database applications. Without Glom these systems normally
 consist of lots of repetitive, unmaintainable code.
 .
 This package contains the documentation and examples.
