Package: node-log-driver
Version: 1.2.7+git+20180219+bba1761737-2
Architecture: all
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Installed-Size: 19
Depends: nodejs
Section: javascript
Priority: optional
Homepage: https://github.com/cainus/logdriver
Description: simple logging framework in pure javascript
 This module implement logging to stdout and concatenate before
 every message the log level severity (configurable)
 date, time and local time zone. This modules allows ones
 to easily trace log event even.
 .
 In all the cases logs are redirected to stdout in order to allows one
 to pipe output to irc or logger  program
 .
 This modules is needed by tools like coveralls, a coverage tools
 for javascript program.
 .
 Node.js is an event-based server-side JavaScript engine.
