Package: libreactive-streams-java
Source: reactive-streams
Version: 1.0.2-1
Architecture: all
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Installed-Size: 30
Section: java
Priority: optional
Homepage: http://www.reactive-streams.org
Description: Standard for asynchronous stream processing with non-blocking backpressure
 Reactive Streams is an initiative to provide a standard for asynchronous
 stream processing with non-blocking back pressure. This encompasses efforts
 aimed at runtime environments (JVM and JavaScript) as well as network
 protocols.
