Package: libghc-xml-hamlet-prof
Source: haskell-xml-hamlet (0.5.0-4)
Version: 0.5.0-4+b1
Architecture: amd64
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Installed-Size: 2709
Depends: libghc-xml-hamlet-dev (= 0.5.0-4+b1), libghc-base-prof-4.11.1.0-5dd74, libghc-containers-prof-0.5.11.0-e0faa, libghc-parsec-prof-3.1.13.0-e94f4, libghc-shakespeare-prof-2.0.15-f996a, libghc-template-haskell-prof-2.13.0.0-87d93, libghc-text-prof-1.2.3.1-30bbe, libghc-xml-conduit-prof-1.8.0-af2a6
Provides: libghc-xml-hamlet-prof-0.5.0-69a78
Section: haskell
Priority: optional
Homepage: http://www.yesodweb.com/
Description: Hamlet-style quasiquoter for XML content; profiling libraries
 This library provides a type-safe tool for generating XML code. It works
 via Quasi-Quoting, and generates extremely efficient output code.
 .
 This package provides a library for the Haskell programming language, compiled
 for profiling.  See http://www.haskell.org/ for more information on Haskell.
