Package: libkf5activities-dev
Source: kactivities-kf5
Version: 5.51.0-2
Architecture: amd64
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Installed-Size: 85
Depends: libkf5activities5 (= 5.51.0-2), qtbase5-dev (>= 5.8.0~)
Recommends: libkf5activities-doc (= 5.51.0-2)
Section: libdevel
Priority: optional
Homepage: https://projects.kde.org/projects/frameworks/kactivities
Description: development files for kactivities.
 This library provides functionality for managing Activities.
 .
 Contains development files for kactivities.
