Package: libfabric1
Source: libfabric
Version: 1.6.1-5
Architecture: amd64
Maintainer: Debian HPC Team <debian-hpc@lists.debian.org>
Installed-Size: 1103
Depends: libc6 (>= 2.27), libibverbs1 (>= 1.1.6), libpsm-infinipath1 (>= 3.3+7.gec1d6d2), libpsm2-2 (>= 10.3-37), librdmacm1 (>= 1.0.19)
Breaks: libfabric-dev (<< 1.6.1-4)
Replaces: libfabric-dev (<< 1.6.1-4)
Section: libs
Priority: optional
Homepage: https://ofiwg.github.io/libfabric/
Description: libfabric communication library
 Libfabric is a communication library that exports interfaces for
 fabric services to applications.  Libfabric is the core component
 of the Open Fabrics Interfaces (OFI) framework.
 .
 This package contains the shared libraries.
