Package: aha
Version: 0.4.10.6-4
Architecture: amd64
Maintainer: Axel Beckert <abe@debian.org>
Installed-Size: 39
Depends: libc6 (>= 2.4)
Section: utils
Priority: optional
Homepage: https://github.com/theZiz/aha
Description: ANSI color to HTML converter
 aha (ANSI HTML Adapter) converts ANSI colors to HTML, e.g. if you
 want to publish the output of ls --color=yes, git diff, ccal or htop
 as static HTML somewhere.
