Package: node-browser-pack
Version: 6.1.0+ds-3
Architecture: all
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Installed-Size: 37
Depends: nodejs (>= 6), node-through2 (>= 2.0.0), node-umd (>= 3.0.0), node-combine-source-map (>= 0.8.0), node-defined (>= 1.0.0), node-safe-buffer (>= 5.1.1), node-jsonstream (>= 1.0.3)
Section: javascript
Priority: optional
Homepage: https://github.com/substack/browser-pack
Description: pack node-style source files from a json stream into a browser bundle
 This module takes a JSON files as input describing a set of javascript files
 and outputs a javascript function descripting source code and dependencies.
 .
 This modules is part of Browserify is a JavaScript tool that allows developers
 to write Node.js-style modules that compile for use in the browser.
 .
 Node.js is an event-based server-side JavaScript engine.
