Package: dibbler-doc
Source: dibbler
Version: 1.0.1-1
Architecture: all
Maintainer: Tomasz Mrugalski <thomson@klub.com.pl>
Installed-Size: 1181
Suggests: dibbler-server, dibbler-client, dibbler-relay
Section: doc
Priority: optional
Homepage: http://klub.com.pl/dhcpv6/
Description: documentation for Dibbler
 This package includes both user and developer documentation, covering all
 aspects of the Dibbler DHCPv6 implementation:
  - server, client and relay usage and configuration;
  - various tips and frequently asked questions;
  - internal structure/code description and hints for developers.
