Package: r-cran-irace
Version: 3.1-1
Architecture: all
Maintainer: Debian R Packages Maintainers <r-pkg-team@alioth-lists.debian.net>
Installed-Size: 1254
Depends: r-base-core (>= 3.5.1-1), r-api-3.5
Recommends: python
Suggests: r-cran-rmpi (>= 0.6.0), r-cran-knitr, r-cran-testthat
Section: gnu-r
Priority: optional
Homepage: https://cran.r-project.org/package=irace
Description: GNU R iterated racing for automatic algorithm configuration
 Iterated race is an extension of the Iterated F-race method for
 the automatic configuration of optimization algorithms, that is,
 (offline) tuning their parameters by finding the most appropriate
 settings given a set of instances of an optimization problem.
