Package: node-iscroll
Version: 5.2.0+dfsg1-1
Architecture: all
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Installed-Size: 410
Depends: nodejs
Section: web
Priority: optional
Multi-Arch: foreign
Homepage: http://iscrolljs.com/
Description: High performance, small footprint JavaScript scroller  NodeJS module
 iScroll is a high performance, small footprint, dependency free,
 multi-platform javascript scroller.
 .
 It works on desktop, mobile and smart TV. It has been vigorously
 optimized for performance and size so to offer the smoothest result
 on modern and old devices alike.
 .
 iScroll does not just scroll. It can handle any element that needs
 to be moved with user interaction. It adds scrolling, zooming,
 panning, infinite scrolling, parallax scrolling, carousels to your
 projects and manages to do that in just 4kb. Give it a broom and it
 will also clean up your office.
 .
 This package contains the NodeJS module which can be used from Browserify.
