Package: libjs-leaflet
Source: leaflet
Version: 0.7.7+20160312-1
Architecture: all
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Installed-Size: 413
Recommends: javascript-common
Section: web
Priority: extra
Homepage: http://leafletjs.com/
Description: JavaScript library for mobile-friendly interactive maps
 Leaflet is a modern JavaScript library for mobile-friendly interactive
 maps.  Weighing just about 27 KB of JS code, it has all the features
 most developers ever need for online maps.
 .
 Leaflet is designed with simplicity, performance and usability in mind.
 It works efficiently across all major desktop and mobile platforms out
 of the box, taking advantage of HTML5 and CSS3 on modern browsers while
 still being accessible on older ones. It can be extended with many
 plugins, has a beautiful, easy to use and well-documented API and a
 simple, readable source code that is a joy to contribute to.
