Package: empathy-common
Source: empathy
Version: 3.25.90+really3.12.14-1
Architecture: all
Maintainer: Debian Telepathy maintainers <pkg-telepathy-maintainers@lists.alioth.debian.org>
Installed-Size: 14790
Recommends: yelp
Conflicts: empathy-doc, libempathy-common, libempathy-gtk-common
Replaces: empathy (<< 2.27.92), empathy-doc, libempathy-common, libempathy-gtk-common
Provides: empathy-doc, libempathy-common, libempathy-gtk-common
Section: gnome
Priority: optional
Homepage: https://wiki.gnome.org/Apps/Empathy
Description: GNOME multi-protocol chat and call client (common files)
 Instant messaging program supporting text, voice, video, file transfers
 and inter-application communication over many different protocols,
 including: AIM, Windows Live (MSN), Google Talk (Jabber/XMPP), Yahoo!, Salut,
 Gadu-Gadu, Groupwise and ICQ.
 .
 This package contains the architecture independent files for Empathy
 IM application.
