Package: libgtkspell3-3-0
Source: gtkspell3
Version: 3.0.9-3
Architecture: amd64
Maintainer: Debian GNOME Maintainers <pkg-gnome-maintainers@lists.alioth.debian.org>
Installed-Size: 244
Depends: libc6 (>= 2.4), libenchant1c2a (>= 1.6.0), libglib2.0-0 (>= 2.37.3), libgtk-3-0 (>= 3.0.0)
Conflicts: libgtkspell-3-0
Replaces: libgtkspell-3-0
Section: libs
Priority: optional
Multi-Arch: same
Homepage: http://gtkspell.sourceforge.net/
Description: spell-checking addon for GTK+'s TextView widget
 GtkSpell provides Microsoft Word/OS X-style highlighting of misspelled
 words in a GtkTextView widget.  Right-clicking a misspelled word pops up a
 menu of suggested replacements.
