Package: libvorbis-ocaml-dev
Source: ocaml-vorbis
Version: 0.7.1-1
Architecture: amd64
Maintainer: Debian OCaml Maintainers <debian-ocaml-maint@lists.debian.org>
Installed-Size: 327
Depends: libogg-ocaml-dev-myib0, libvorbis-ocaml-ex9o0, ocaml-nox-4.05.0, libvorbis-dev, libvorbis-ocaml (= 0.7.1-1), libogg-ocaml-dev
Provides: libvorbis-ocaml-dev-ex9o0
Section: ocaml
Priority: optional
Homepage: http://savonet.sourceforge.net/
Description: OCaml bindings for the vorbis library
 This OCaml library interfaces the vorbis C library. It can be used to
 decode from or encode to the Ogg Vorbis compressed audio format as well
 as to get information about an Ogg Vorbis file.
 .
 Ogg Vorbis is a fully open, non-proprietary, patent-and-royalty-free,
 general-purpose compressed audio format for audio and music at fixed
 and variable bitrates from 16 to 128 kbps/channel.
 .
 This package contains all the development stuff you need to use ocaml-vorbis
 in your programs.
