Package: golang-github-nebulouslabs-ed25519-dev
Source: golang-github-nebulouslabs-ed25519
Version: 0.0~git20150728.0.0e573b1-1
Architecture: all
Maintainer: Debian Go Packaging Team <pkg-go-maintainers@lists.alioth.debian.org>
Installed-Size: 219
Depends: golang-go
Section: devel
Priority: extra
Homepage: https://github.com/nebulouslabs/ed25519
Description: Go implementation of the Ed25519 signature algorithm
 Ed25519 is a public-key signature system based on elliptic-curve
 cryptography, carefully engineered at several levels of design and
 implementation to achieve very high speeds without compromising security.
 .
 This package contains the NebulousLabs fork of the original Go implementation
 (see https://github.com/agl/ed25519 and the golang-ed25519-dev package).
