Package: cronic
Version: 3-2
Architecture: all
Maintainer: Daniel Lange <DLange@debian.org>
Installed-Size: 21
Depends: bash (>= 3.2)
Suggests: cron
Section: admin
Priority: optional
Homepage: https://habilis.net/cronic/
Description: Bash script for wrapping cron jobs to prevent excess email sending
 Cronic is a small shim shell script for wrapping cron jobs so that cron only
 sends email when an error has occurred. Cronic defines an error as any
 non-trace error output or a non-zero result code.
