Package: libprintsys-dev
Source: libprintsys
Version: 0.6-13
Architecture: amd64
Maintainer: A Mennucc1 <mennucc1@debian.org>
Installed-Size: 92
Depends: libprintsys, tdb-dev, libglib2.0-dev
Section: libdevel
Priority: optional
Description: printcap parser, helper for gnulpr's printfilters, dev files
 this package installs the libprintsys development files and static libraries
