Package: libzarith-ocaml-doc
Source: ocaml-zarith
Version: 1.7-1
Architecture: all
Maintainer: Debian OCaml Maintainers <debian-ocaml-maint@lists.debian.org>
Installed-Size: 213
Recommends: libzarith-ocaml-dev
Section: doc
Priority: optional
Homepage: https://github.com/ocaml/Zarith
Description: arithmetic and logical operations over arbitrary-precision integers (doc)
 The Zarith library implements arithmetic and logical operations over
 arbitrary-precision integers. It uses GMP to efficiently implement
 arithmetic over big integers. Small integers are represented as Caml
 unboxed integers, for speed and space economy.
 .
 This package provides the ocamldoc generated html files.
