Package: fonts-entypo
Source: ruby-entypo-rails
Version: 3.0.0-1
Architecture: all
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Installed-Size: 326
Pre-Depends: dpkg (>= 1.15.6~)
Section: ruby
Priority: optional
Multi-Arch: foreign
Homepage: https://github.com/lwe/entypo-rails
Description: icon fonts of dingbat style by Daniel Bruce
 Entypo is an icon font designed by Daniel Bruce http://www.entypo.com.
 It follows dingbat style.
 .
 This package contains ttf, eot, woff and svg format fonts. It is part of
 entypo-rails ruby gem.
