Package: libgrooveplayer-dev
Source: libgroove (4.3.0-4)
Version: 4.3.0-4+b1
Architecture: amd64
Maintainer: Debian Multimedia Maintainers <debian-multimedia@lists.debian.org>
Installed-Size: 48
Depends: libgrooveplayer4 (= 4.3.0-4+b1), libgroove-dev
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: https://github.com/andrewrk/libgroove
Description: audio device playback sink for libgroove (development files)
 This C library provides a GroovePlayer struct which attaches to a
 GroovePlaylist and sends audio frames to a sound device. It also includes
 dummy player which can simulate playback without actually having access
 to a sound device.
 .
 This package contains the development files.
