Package: libjs-leaflet-markercluster
Source: leaflet-markercluster
Version: 0.5.0~dfsg-2
Architecture: all
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Installed-Size: 176
Depends: libjs-leaflet (>= 0.7.1)
Recommends: javascript-common
Section: web
Priority: extra
Homepage: https://github.com/Leaflet/Leaflet.markercluster
Description: Provides Marker Clustering functionality for Leaflet
 Leaflet.markercluster is a plugin for the Leaflet JavaScript library.
 .
 It provides beautiful animated marker clustering functionality for Leaflet.
