Package: node-is-extendable
Version: 1.0.1-1
Architecture: all
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Installed-Size: 17
Depends: nodejs, node-is-plain-object (>= 2.0.4)
Section: javascript
Priority: optional
Homepage: https://github.com/jonschlinkert/is-extendable
Description: determine if a value can be extended
 Returns true if a value is any of the object types: array, regexp, plain
 object, function or date. This is useful for determining if a value can be
 extended, e.g. "can the value have keys?"
 .
 Node.js is an event-based server-side JavaScript engine.
