Package: libghc-sendfile-prof
Source: haskell-sendfile (0.7.9-10)
Version: 0.7.9-10+b2
Architecture: amd64
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Installed-Size: 345
Depends: libghc-sendfile-dev (= 0.7.9-10+b2), libghc-base-prof-4.11.1.0-5dd74, libghc-bytestring-prof-0.10.8.2-76891, libghc-network-prof-2.6.3.6-8da3e
Provides: libghc-sendfile-prof-0.7.9-76582
Section: haskell
Priority: optional
Homepage: http://hub.darcs.net/stepcut/sendfile
Description: Haskell portable sendfile library; profiling libraries
 This Haskell library exposes zero-copy sendfile functionality in a
 portable way. sendfile is a non standard system call that copies data
 between one file descriptor and another. This library uses the native
 implementations where possible (for example, under Linux or FreeBSD) and
 provides an Haskell replacement in other cases, thus providing a
 portable interface.
 .
 This package provides a library for the Haskell programming language, compiled
 for profiling.  See http://www.haskell.org/ for more information on Haskell.
