Package: libkf5sysguard5
Source: libksysguard
Version: 4:5.13.4-1
Architecture: all
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Installed-Size: 16
Depends: libkf5sysguard-bin (>= 4:5.13.4-1)
Section: oldlibs
Priority: optional
Homepage: https://projects.kde.org/projects/kde/workspace/libksysguard
Description: transitional dummy package
 This is a transitional dummy package. It can safely be removed.
