Package: ruby-fog-storm-on-demand
Version: 0.1.1-2
Architecture: all
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Installed-Size: 289
Depends: ruby | ruby-interpreter, ruby-fog-core, ruby-fog-json
Breaks: ruby-fog (<< 1.28.0-1~)
Replaces: ruby-fog (<< 1.28.0-1~)
Section: ruby
Priority: optional
Homepage: http://github.com/fog/fog-storm_on_demand
Description: module for the 'fog' library to support StormOnDemand
 This library can be used as a module for `fog` or as standalone provider
 to use the StormOnDemand in applications.
 .
 Fog supports all major cloud providers including AWS, Rackspace, Linode,
 Blue Box, StormOnDemand, and many others.
Ruby-Versions: all
