Package: hamfax
Source: hamfax (0.8.1-1)
Version: 0.8.1-1+b1
Architecture: amd64
Maintainer: Debian Hamradio Maintainers <debian-hams@lists.debian.org>
Installed-Size: 298
Depends: libasound2 (>> 1.0.24.1), libaudiofile1, libc6 (>= 2.2.5), libgcc1 (>= 1:4.1.1), libhamlib2 (>= 1.2.14), libqtcore4 (>= 4:4.7.0~beta1), libqtgui4 (>= 4:4.5.3), libstdc++6 (>= 4.2.1)
Section: hamradio
Priority: optional
Homepage: http://hamfax.sourceforge.net/
Description: Receive/send radio facsimile transmissions with Soundcard/PTC-II
 With this package you can send or receive radio facsimile transmissions
 using either a Linux-supported soundcard or an SCS PTC-II data controller.
 .
 Radio facsimile transmission are used most commonly by meteorological
 bureaus to provide weather maps to aircraft and shipping.
