Package: dvi2ps-fontdesc-morisawa5
Version: 0.5
Architecture: all
Maintainer: Atsuhito KOHDA <kohda@debian.org>
Installed-Size: 52
Depends: dvi2ps (>= 5.1j), texlive-lang-cjk
Recommends: ptex-bin, okumura-clsfiles
Section: tex
Priority: optional
Description: fontdesc files of dvi2ps for Morisawa Basic-5 type faces
 You can convert DVI file with Morisawa Basic-5 type faces of vfdata-morisawa5
 to PS file by dvi2ps with this package.
 .
 You should run 'dvi2ps -F morisawa' for Morisawa Basic-5 type faces.
