Package: libnetxx-dev
Source: netxx (0.3.2-2)
Version: 0.3.2-2+b1
Architecture: amd64
Maintainer: Daniel Pocock <daniel@pocock.com.au>
Installed-Size: 350
Depends: libnetxx1 (= 0.3.2-2+b1)
Section: libdevel
Priority: optional
Homepage: http://www.pmade.com/labs/index.html
Description: C++ library for network programming (development headers)
 Netxx is a C++ network programming library. It is designed to take the
 pain out of programming network communications applications.
