Package: python-requests-unixsocket
Version: 0.1.5-3
Architecture: all
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Installed-Size: 33
Depends: python-requests, python-urllib3, python:any (<< 2.8), python:any (>= 2.7.5-5~)
Section: python
Priority: optional
Homepage: https://github.com/msabramo/requests-unixsocket
Description: use requests to talk HTTP via a UNIX domain socket - Python 2.7
 The requests-unixsocket makes it possible to talk using the HTTP protocol via
 a UNIX domain socket. Internally, requests-unixsocket uses monkeypatching to
 use the functionality of requests while making minimal changes.
 .
 Requests allow you to send HTTP/1.1 requests. You can add headers, form data,
 multipart files, and parameters with simple Python dictionaries, and access
 the response data in the same way. It's powered by httplib and urllib3, but
 it does all the hard work and crazy hacks for you.
 .
 This package contains the Python 2.7 module.
