Package: libmama-dev
Source: openmama
Version: 2.2.2.1-11.1
Architecture: amd64
Maintainer: Daniel Pocock <daniel@pocock.com.au>
Installed-Size: 898
Depends: libmama0 (= 2.2.2.1-11.1), libwombatcommoncpp0 (= 2.2.2.1-11.1), libmamaavis0 (= 2.2.2.1-11.1), libmamacpp0 (= 2.2.2.1-11.1)
Recommends: libmama-doc
Section: libdevel
Priority: extra
Homepage: http://www.openmama.org
Description: message oriented middleware - development files
 OpenMAMA is a high performance Middleware Agnostic Messaging API that
 provides a consistent abstraction layer over a variety of message
 oriented middlewares. OpenMAMA is an open source project hosted at
 The Linux Foundation.
 .
 This package provides header files needed for developing applications
 based on the core libraries.
