Package: libghc-djinn-ghc-doc
Source: haskell-djinn-ghc
Version: 0.0.2.3-9
Architecture: all
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Installed-Size: 165
Depends: haddock-interface-33
Recommends: ghc-doc, libjs-mathjax
Section: doc
Priority: optional
Homepage: http://hackage.haskell.org/package/djinn-ghc
Description: generate Haskell code from a type (bridge to GHC API); documentation
 Djinn uses an theorem prover for intuitionistic propositional logic to generate
 a Haskell expression when given a type.  This is the bridge from djinn-lib to
 GHC API.
 .
 This package provides the documentation for a library for the Haskell
 programming language.
 See http://www.haskell.org/ for more information on Haskell.
