Package: libocp-indent-lib-ocaml
Source: ocp-indent
Version: 1.6.1-1
Architecture: amd64
Maintainer: Debian OCaml Maintainers <debian-ocaml-maint@lists.debian.org>
Installed-Size: 517
Depends: libfindlib-ocaml-ima03, libresult-ocaml-ciso5, ocaml-base-nox-4.05.0, libc6 (>= 2.2.5)
Provides: libocp-indent-lib-ocaml-a9p40
Section: ocaml
Priority: optional
Homepage: http://www.typerex.org/ocp-indent.html
Description: OCaml indentation tool for emacs and vim - libraries
 ocp-indent is a command-line tool that allows one to indent a whole OCaml
 source code file (or parts of it) either to standard output or in-place.
 A configuration file allows user defaults as well as per-project parameters.
 The ratio of correctly indented lines is comparable with emacs tuareg mode
 while being an order of magnitude faster.
 .
 This package includes the shared libraries.
