Package: libluksmeta-dev
Source: luksmeta
Version: 9-2
Architecture: amd64
Maintainer: Christoph Biedl <debian.axhn@manchmal.in-ulm.de>
Installed-Size: 20
Depends: libcryptsetup-dev, libluksmeta0 (= 9-2)
Section: libdevel
Priority: optional
Homepage: https://github.com/latchset/luksmeta
Description: library to access metadata in the LUKSv1 header - development files
 LUKSMeta is a simple library for storing metadata in the LUKSv1 header.
 .
 This package provides the development files
