Package: ruby-gettext
Version: 3.2.9-1
Architecture: all
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Installed-Size: 1516
Depends: ruby | ruby-interpreter, ruby-locale (>= 2.0.5), ruby-text (>= 1.3.0)
Breaks: ruby-gettext-activerecord (<= 2.1.0-5~)
Section: ruby
Priority: optional
Homepage: http://ruby-gettext.github.io/
Description: gettext for Ruby
 This Ruby package is a localization library and toolset modeled after
 GNU gettext, and with a similar simple API.
 .
 It provides:
  * rxgettext - creates gettext-compatible PO files from Ruby scripts;
  * rmsginit - create a new PO file with user's environment and input;
  * rmsgfmt - creates a MO file from a PO file;
  * rmsgmerge - extracts translatable strings from Ruby scripts.
Ruby-Versions: all
