Package: lebiniou
Source: lebiniou (3.24-1)
Version: 3.24-1+b1
Architecture: amd64
Maintainer: Olivier Girondel <olivier@biniou.info>
Installed-Size: 2278
Depends: libasound2 (>= 1.0.16), libavutil56 (>= 7:4.0), libc6 (>= 2.27), libfftw3-double3 (>= 3.3.5), libglib2.0-0 (>= 2.35.9), libjack-jackd2-0 (>= 1.9.10+20150825) | libjack-0.125, libpnglite0 (>= 0.1.17), libpulse0 (>= 0.99.1), libsdl-ttf2.0-0, libsdl1.2debian (>= 1.2.11), libswscale5 (>= 7:4.0), libxml2 (>= 2.7.4), fonts-freefont-ttf, lebiniou-data (>= 3.10)
Section: graphics
Priority: extra
Homepage: http://biniou.net
Description: displays images that evolve with sound
 Le Biniou works with music, voice, ambient sounds, whatever acoustic
 source you choose.
 .
 When you run Le Biniou it gives an evolutionary rendering of the
 sound you are playing.
 .
 You are given two options to run Le Biniou: You can manage entirely
 the sequences and choose your own series of pictures from the default
 library, your colour scales, the kind of alteration you want to apply
 or you can let Le Biniou's artificial intelligence run on its own.
 .
 Forget the old visualizations you are familiar with, discover a new
 multidimensional – spatial and chromatic – way of comprehending music
 and sounds for either artistic, recreational or didactic purposes.
