Package: bibledit-data
Source: bibledit
Version: 5.0.692-1
Architecture: all
Maintainer: CrossWire Packaging Team <pkg-crosswire-devel@alioth-lists.debian.net>
Installed-Size: 206850
Breaks: bibledit-gtk-data (<< 4.9-1~)
Replaces: bibledit-gtk-data (<< 4.9-1~)
Section: editors
Priority: optional
Multi-Arch: foreign
Homepage: http://bibledit.org
Description: Data for bibledit
 Contains pictures, icons, lexicons, scripts.
 This is normally not installed manually.
 The bibledit package will install it automatically.
