Package: blobandconquer
Version: 1.11-dfsg+20-1.1
Architecture: amd64
Maintainer: Guus Sliepen <guus@debian.org>
Installed-Size: 879
Depends: libc6 (>= 2.14), libgcc1 (>= 1:3.0), libgl1-mesa-glx | libgl1, libglu1-mesa | libglu1, libsdl-image1.2 (>= 1.2.10), libsdl-mixer1.2, libsdl-ttf2.0-0, libsdl1.2debian (>= 1.2.11), libstdc++6 (>= 5), libx11-6, zlib1g (>= 1:1.1.4), blobandconquer-data (= 1.11-dfsg+20-1.1)
Suggests: blobwars
Section: games
Priority: optional
Homepage: https://sourceforge.net/projects/blobandconquer/
Description: 3D platform shooting game
 Blob Wars episode II: Blob and Conquer is the sequel to Blob Wars:
 Metal Blob Solid.
 .
 With the apparent defeat of Galdov and the reclaiming of the Fire,
 Time, Space and Reality Crystals the Blobs' battle was only just
 beginning. Bob had rescued many Blobs and fought many battles, but now
 he had an ever bigger task ahead of him. The Blobs' homeworld is still
 littered with the alien forces and Bob once again makes it his task to
 lead the counter attack. But even without Galdov the aliens are still
 extremely well organised...
