Package: python-more-itertools
Source: more-itertools
Version: 4.2.0-1
Architecture: all
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Installed-Size: 199
Depends: python-six (<< 2.0.0), python-six (>= 1.0.0), python:any (<< 2.8), python:any (>= 2.7.5-5~)
Section: python
Priority: optional
Homepage: https://pypi.python.org/pypi/more-itertools/
Description: library with for operating on iterables, beyond itertools (Python 2)
 Python's itertools library is a gem - you can compose elegant solutions
 for a variety of problems with the functions it provides.
 More-itertools collects additional building blocks, recipes,
 and routines for working with Python iterables.
 .
 This package contains the module for Python 2.
Python-Version: 2.7
