Package: bonnie++
Version: 1.98
Architecture: amd64
Maintainer: Russell Coker <russell@coker.com.au>
Installed-Size: 208
Depends: libc6 (>= 2.14), libgcc1 (>= 1:3.0), libstdc++6 (>= 5.2)
Conflicts: bonnie, bonnie++, zcav
Replaces: bonnie, zcav
Provides: bonnie, zcav
Section: utils
Priority: optional
Description: Hard drive benchmark suite
 Based on the old Bonnie benchmark, Bonnie++ is a toolkit for testing
 hard drive and file system performance.
 .
 As well as bonnie++ itself and some output filters, the suite provides
 some other benchmarking tools including zcav, which can compare the
 raw-read performance of different zones on a drive, and gives output
 suitable for gnuplot.
