Package: libmwaw-doc
Source: libmwaw
Version: 0.3.14-1
Architecture: all
Maintainer: Debian LibreOffice Maintainers <debian-openoffice@lists.debian.org>
Installed-Size: 49983
Section: doc
Priority: optional
Homepage: http://sourceforge.net/projects/libmwaw
Description: import library for some old Mac text documents -- documentation
 libmwaw contains some import filters for old Mac text documents
 (MacWrite, ClarisWorks, ... ) based on top of libwpd.
 .
 This package contains the documentation.
