Package: libghc-random-fu-prof
Source: haskell-random-fu (0.2.7.0-4)
Version: 0.2.7.0-4+b1
Architecture: amd64
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Installed-Size: 3818
Depends: libghc-random-fu-dev (= 0.2.7.0-4+b1), libghc-base-prof-4.10.1.0-35a7f, libghc-erf-prof-2.0.0.0-5c15e, libghc-log-domain-prof-0.12-29f1d, libghc-math-functions-prof-0.2.1.0-70287, libghc-monad-loops-prof-0.4.3-a4560, libghc-mtl-prof-2.2.2-ada79, libghc-random-shuffle-prof-0.0.4-7d74e, libghc-random-source-prof-0.3.0.6-e0711, libghc-rvar-prof-0.2.0.3-820cc, libghc-syb-prof-0.7-06df4, libghc-template-haskell-prof-2.12.0.0-22576, libghc-transformers-prof-0.5.2.0-e0457, libghc-vector-prof-0.12.0.1-c53f0
Provides: libghc-random-fu-prof-0.2.7.0-8efd9
Section: haskell
Priority: optional
Homepage: http://hackage.haskell.org/package/random-fu
Description: random number generation; profiling libraries
 Random number generation based on modeling random variables in two
 complementary ways: first, by the parameters of standard mathematical
 distributions and, second, by an abstract type (RVar) which can be
 composed and manipulated monadically and sampled in either monadic
 or "pure" styles.
 .
 The primary purpose of this library is to support defining and
 sampling a wide variety of high quality random variables. Quality is
 prioritized over speed, but performance is an important goal too.
 .
 This package provides a library for the Haskell programming language, compiled
 for profiling.  See http://www.haskell.org/ for more information on Haskell.
