Package: libqtpropertybrowser-dev
Source: camitk (4.1.2-2)
Version: 4.1.2-2+b1
Architecture: amd64
Maintainer: Debian Med Packaging Team <debian-med-packaging@lists.alioth.debian.org>
Installed-Size: 176
Depends: libqtpropertybrowser4 (= 4.1.2-2+b1)
Breaks: libqtpropertybrowser3-dev
Replaces: libqtpropertybrowser3-dev
Section: libdevel
Priority: optional
Homepage: https://camitk.imag.fr/
Description: Qt Property Browser Library - development
 A framework providing a set of graphical editors for
 Qt properties similar to the one used in Qt Designer.
 .
 This package contains development files needed to build applications
 using Qt Property Browser
