Package: g15daemon
Source: g15daemon (1.9.5.3-8.3)
Version: 1.9.5.3-8.3+b1
Architecture: amd64
Maintainer: Giacomo Catenazzi <cate@debian.org>
Installed-Size: 130
Depends: libg15daemon-client1 (= 1.9.5.3-8.3+b1), libc6 (>= 2.4), libg15-1, libg15render1
Recommends: xkb-data (>= 0.9+cvs.20070428-1)
Section: utils
Priority: extra
Homepage: http://www.g15tools.com/
Description: Screen multiplexer for Logitech G15 Keyboard
 G15daemon provides multiple virtual screens for the LCD on the Logitech
 G11 and G15 keyboards.
 .
 This package contain the daemon and a generic client to talk to the
 daemon.
