Package: xtensor-python-doc
Source: xtensor-python
Version: 0.12.4-1
Architecture: all
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Installed-Size: 283
Depends: libjs-sphinxdoc (>= 1.0), sphinx-rtd-theme-common
Built-Using: sphinx (= 1.5.6-2)
Section: doc
Priority: optional
Multi-Arch: foreign
Homepage: http://quantstack.net/xtensor
Description: documentation for xtensor-python
 xtensor is a C++ library for multi-dimensional arrays enabling numpy-style
 broadcasting and lazy computing.
 .
 xtensor-python enables inplace use of numpy arrays in C++ with all the
 benefits from xtensor:
 .
   - C++ universal function and broadcasting
   - STL - compliant APIs.
   - A broad coverage of numpy APIs (see the numpy to xtensor cheat sheet).
 .
 The Python bindings for xtensor are based on the pybind11 C++ library, which
 enables seemless interoperability between C++ and Python.
 .
 This package provides the documentation.
