Package: libcoin80-runtime
Source: coin3
Version: 3.1.4~abc9f50+dfsg3-2
Architecture: all
Maintainer: Debian Science Team <debian-science-maintainers@lists.alioth.debian.org>
Installed-Size: 88
Suggests: libcoin80v5
Conflicts: libcoin20-runtime, libcoin40-runtime, libcoin60-runtime
Section: libs
Priority: optional
Homepage: https://bitbucket.org/Coin3D/coin/
Description: high-level 3D graphics kit - external data files
 External data files used by the Coin library at run-time.  The
 dragger geometry files represent the defaults that are used if the
 files are not found.  This package is completely optional.
