Package: libshibsp-dev
Source: shibboleth-sp2
Version: 2.6.1+dfsg1-2
Architecture: amd64
Maintainer: Debian Shib Team <pkg-shibboleth-devel@lists.alioth.debian.org>
Installed-Size: 348
Depends: libsaml2-dev (>= 2.6), libshibsp7 (= 2.6.1+dfsg1-2), libxerces-c-dev, libxmltooling-dev (>= 1.6)
Suggests: libshibsp-doc
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: http://shibboleth.net/
Description: Federated web single sign-on system (development)
 The Shibboleth System is a standards based software package for web
 single sign-on across or within organizational boundaries.  It supports
 authorization and attribute exchange using the OASIS SAML 2.0 protocol.
 Shibboleth allows sites to make informed authorization decisions for
 individual access of protected online resources while allowing users to
 establish their identities with their local authentication systems.
 .
 This package contains the headers and other necessary files to build
 applications that use the Shibboleth SP library.
