Package: libghc-setenv-dev
Source: haskell-setenv
Version: 0.1.1.3-7
Architecture: amd64
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Installed-Size: 46
Depends: libghc-base-dev-4.10.1.0-35a7f, libghc-unix-dev-2.7.2.2-1e3ca, libc6 (>= 2.2.5), libgmp10
Suggests: libghc-setenv-doc, libghc-setenv-prof
Provides: libghc-setenv-dev-0.1.1.3-d1181
Section: haskell
Priority: optional
Homepage: http://hackage.haskell.org/package/setenv
Description: Cross-platform library for setting environment variables
 This package provides a cross-platform library for setting environment
 variables.
 .
 This package provides a library for the Haskell programming language.
 See http://www.haskell.org/ for more information on Haskell.
Ghc-Package: setenv-0.1.1.3-4FEJPUU51wbJmlhCSZScDf
