Package: gap-scscp
Version: 2.1.4+ds-3
Architecture: all
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Installed-Size: 2014
Depends: adduser, lsb-base, gap (>= 4r8p3), gap-gapdoc (>= 1.5.1-2), gap-io (>= 4.4.6), gap-openmath (>= 11.3.1)
Provides: gap-pkg-scscp
Section: math
Priority: optional
Homepage: http://www.gap-system.org/Packages/scscp.html
Description: SCSCP protocol in GAP
 GAP is a system for computational discrete algebra with particular
 emphasis on computational group theory, but which has already proved
 useful also in other areas.
 .
 This package implements the Symbolic Computation Software
 Composability Protocol (SCSCP) for GAP.
