Package: xgnokii
Source: gnokii (0.6.30+dfsg-1.2)
Version: 0.6.30+dfsg-1.2+b3
Architecture: amd64
Maintainer: Leo Costela <costela@debian.org>
Installed-Size: 508
Depends: libatk1.0-0 (>= 1.12.4), libc6 (>= 2.14), libcairo2 (>= 1.2.4), libfontconfig1 (>= 2.12.6), libfreetype6 (>= 2.2.1), libfribidi0 (>= 0.19.2), libgdk-pixbuf2.0-0 (>= 2.22.0), libglib2.0-0 (>= 2.24.0), libgnokii6, libgtk2.0-0 (>= 2.8.0), libical3 (>= 3.0.0), libpango-1.0-0 (>= 1.14.0), libpangocairo-1.0-0 (>= 1.14.0), libpangoft2-1.0-0 (>= 1.14.0), gnokii-common (= 0.6.30+dfsg-1.2), gnome-icon-theme
Conflicts: gnokii (<= 0.6.22.dfsg-1)
Replaces: gnokii (<= 0.6.22.dfsg-1)
Section: comm
Priority: optional
Homepage: http://gnokii.org
Description: Datasuite for mobile phone management (X interface)
 Gnokii is a suite of programs that allows communication with mobile phones.
 It currently supports many Nokia mobile phones, all AT capable ones as well as
 many Symbian based.
 For a list of compatible phones, please visit:
 http://wiki.gnokii.org
 .
 This package provides the X11 (xgnokii) interface.
