Package: gap-design
Version: 1r6+ds-2
Architecture: all
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Installed-Size: 575
Depends: gap (>= 4r8p3), gap-gapdoc (>= 1.6.1-3), gap-grape (>= 4.8.1)
Provides: gap-pkg-design
Section: math
Priority: optional
Homepage: https://www.gap-system.org/Packages/design.html
Description: block designs for GAP
 GAP is a system for computational discrete algebra with particular
 emphasis on computational group theory, but which has already proved
 useful also in other areas.
 .
 This package provides for GAP routines for constructing, classifying,
 partitioning and studying block designs.
