Package: python-objgraph-doc
Source: objgraph
Version: 3.4.0-2
Architecture: all
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Installed-Size: 913
Depends: libjs-sphinxdoc (>= 1.0)
Recommends: graphviz
Suggests: xdot
Section: doc
Priority: optional
Homepage: https://mg.pov.lt/objgraph/
Description: Module for exploring Python object reference graphs (Documentation)
 objgraph is a module that lets you visually explore Python object graphs.
 .
 It can be used for counting and statistics, finding root references
 responsible for large object trees and export the object reference graphs in
 graphviz format.
 .
 This package contains the documentation for objgraph.
