Package: libnewt-dev
Source: newt
Version: 0.52.20-6
Architecture: amd64
Maintainer: Alastair McKinstry <mckinstry@debian.org>
Installed-Size: 265
Depends: libslang2-dev (>= 2.0.2), libnewt0.52 (= 0.52.20-6)
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: https://pagure.io/newt
Description: Developer's toolkit for newt windowing library
 These are the header files and libraries for developing applications
 which use newt. Newt is a windowing toolkit for text mode, which provides
 many widgets and stackable windows.
