Package: scim-unikey
Version: 0.3.1+debian-3.2
Architecture: amd64
Maintainer: Lê Quốc Tuấn <mr.lequoctuan@gmail.com>
Installed-Size: 313
Depends: libc6 (>= 2.14), libgcc1 (>= 1:3.0), libglib2.0-0 (>= 2.16.0), libgtk-3-0 (>= 3.0.0), libscim8v5 (>= 1.4), libstdc++6 (>= 5.2), scim | skim
Section: utils
Priority: extra
Homepage: http://scim-unikey.googlecode.com/
Description: Vietnamese Input Method Engine for SCIM using Unikey Engine
 Smart Common Input Method (SCIM) is an input method (IM) platform.
 .
 Scim-Unikey is a Vietnamese input method for SCIM
 Use Unikey engine to process keyevent
