Package: python-oslo.service-doc
Source: python-oslo.service
Version: 1.31.3-2
Architecture: all
Maintainer: Debian OpenStack <team+openstack@tracker.debian.org>
Installed-Size: 2485
Depends: libjs-sphinxdoc (>= 1.0)
Section: doc
Priority: optional
Homepage: https://github.com/openstack/oslo.service
Description: library for running OpenStack services - doc
 The oslo.service library provides a framework for managing long-running
 services in OpenStack projects.
 .
 Features include:
   * Creation and management of long running service processes and threads.
   * Periodic task management.
   * SSL configuration of services.
   * systemd notification support.
 .
 This package contains the documentation.
