Package: z88-doc
Source: z88
Version: 13.0.0+dfsg2-6
Architecture: all
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Installed-Size: 14931
Section: doc
Priority: optional
Homepage: https://en.z88.de/z88os/
Description: Finite Element Analysis Program - documentation
 Z88 features 20 finite element types covering plane stress, plate bending,
 axial symmetric structures and spacial structures up to 20-node Serendipity
 hexahedrons. Z88 comes with a user-friendly interface, a powerful mesh
 generator, a DXF-converter, two plot programs and, of course, two powerful
 solvers. Import of COSMOS files from Pro/ENGINEER and Pro/MECHANICA is
 supported.
 .
 This package contains the documentation
