Package: python-napalm-base
Source: napalm-base
Version: 0.25.0-1
Architecture: all
Maintainer: Vincent Bernat <bernat@debian.org>
Installed-Size: 201
Depends: python-gtextfsm, python-jinja2, python-netaddr, python-yaml, python:any (<< 2.8), python:any (>= 2.7.5-5~)
Section: python
Priority: optional
Homepage: https://github.com/napalm-automation/napalm-base
Description: abstraction layer for multivendor network automation - base package
 NAPALM (Network Automation and Programmability Abstraction Layer with
 Multivendor support) is a Python library that implements a set of
 functions to interact with different router vendor devices using a
 unified API.
 .
 NAPALM supports several methods to connect to the devices, to
 manipulate configurations or to retrieve data.
 .
 This module provides the base package needed by all drivers but does
 nothing on its own.
