Package: tryton-modules-account-payment-clearing
Version: 5.0.0-1
Architecture: all
Maintainer: Debian Tryton Maintainers <team+tryton-team@tracker.debian.org>
Installed-Size: 128
Depends: python3-pkg-resources, python3-dateutil, tryton-modules-account-payment (>= 5.0), tryton-server (>= 5.0), python3:any
Section: python
Priority: optional
Homepage: http://www.tryton.org/
Description: Tryton Application Platform (Account Payment Clearing Module)
 Tryton is a high-level general purpose application platform. It is the base
 of a complete business solution as well as a comprehensive health and hospital
 information system (GNUHealth).
 .
 This package can be used to track the correct state of invoice states and
 payable/receivable amounts in the time between the payment order and the
 receival of the bank statement.
 It adds the possibility to generate account moves on successful payments
 between the receivable/payable account and a clearing account on the
 payment journal. The clearing account will be used on statement lines linked
 to those payments.
