Package: libghc-safe-dev
Source: haskell-safe (0.3.17-2)
Version: 0.3.17-2+b2
Architecture: amd64
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Installed-Size: 709
Depends: libghc-base-dev-4.11.1.0-5dd74, libatomic1 (>= 4.8), libc6 (>= 2.2.5), libgmp10
Suggests: libghc-safe-doc, libghc-safe-prof
Provides: libghc-safe-dev-0.3.17-cc5a1
Section: haskell
Priority: optional
Homepage: https://github.com/ndmitchell/safe#readme
Description: GHC Library for safe (pattern match free) functions
 .
 Partial functions from the base library, such as head and !!, modified to
 return more descriptive error messages, programmer defined error messages,
 Maybe wrapped results and default values. These functions can be used to
 reduce the number of unsafe pattern matches in your code.
 .
 This package provides a library for the Haskell programming language.
 See http://www.haskell.org/ for more information on Haskell.
Ghc-Package: safe-0.3.17-HEmZRpXGD3s2ywM3rHJ1ur
