Package: r-cran-msm
Source: r-cran-msm (1.6.6-2)
Version: 1.6.6-2+b1
Architecture: amd64
Maintainer: Debian R Packages Maintainers <r-pkg-team@alioth-lists.debian.net>
Installed-Size: 1648
Depends: r-base-core (>= 3.5.1-1), r-api-3.5, r-cran-survival, r-cran-mvtnorm, r-cran-expm, libblas3 | libblas.so.3, libc6 (>= 2.4), libgfortran5 (>= 8), liblapack3 | liblapack.so.3, libquadmath0 (>= 4.6)
Recommends: r-cran-numderiv, r-cran-testthat
Suggests: r-cran-minqa, r-cran-doparallel, r-cran-foreach
Section: gnu-r
Priority: optional
Homepage: https://cran.r-project.org/package=msm
Description: GNU R Multi-state Markov and hidden Markov models in continuous time
 Functions for fitting general continuous-time Markov and hidden Markov
 multi-state models to longitudinal data. Both Markov transition rates and the
 hidden Markov output process can be modelled in terms of covariates. A variety
 of observation schemes are supported, including processes observed at arbitrary
 times, completely-observed processes, and censored states.
