Package: libpt-dev
Source: ptlib
Version: 2.10.11~dfsg-2.1
Architecture: amd64
Maintainer: Debian VoIP Team <pkg-voip-maintainers@lists.alioth.debian.org>
Installed-Size: 15035
Depends: libpt2.10.11 (= 2.10.11~dfsg-2.1), libc6-dev, libssl1.0-dev, libldap2-dev, libsdl1.2-dev, libexpat1-dev, libsasl2-dev, unixodbc-dev, pkg-config
Section: libdevel
Priority: optional
Homepage: http://www.opalvoip.org/
Description: Portable Tools Library development files
 This package contains the headers and a static version of the library
 PTLib, which is a moderately large class library that has its genesis
 many years ago as a method to produce applications to run on both
 Microsoft Windows and Unix X-Window systems.
