Package: tigervnc-scraping-server
Source: tigervnc
Version: 1.9.0+dfsg-3
Architecture: amd64
Maintainer: TigerVNC Packaging Team <pkg-tigervnc-devel@lists.alioth.debian.org>
Installed-Size: 589
Depends: libc6 (>= 2.15), libgcc1 (>= 1:3.0), libgnutls30 (>= 3.5.6), libice6 (>= 1:1.0.0), libjpeg62-turbo (>= 1.3.1), libpam0g (>= 0.99.7.1), libsm6, libstdc++6 (>= 5), libx11-6, libxdamage1 (>= 1:1.1), libxext6, libxfixes3, libxtst6, zlib1g (>= 1:1.1.4)
Recommends: tigervnc-common
Breaks: tigervnc-server (<< 1.1.90)
Replaces: tigervnc-server (<< 1.1.90)
Provides: vnc-server
Section: x11
Priority: optional
Homepage: http://www.tigervnc.org
Description: Virtual network computing server performing X screen scraping
 VNC stands for Virtual Network Computing. It is, in essence, a remote
 display system which allows you to view a computing `desktop' environment
 not only on the machine where it is running, but from anywhere on the
 Internet and from a wide variety of machine architectures.
 .
 This package provides a VNC server that perform screen scraping of an already
 running X server to provide its VNC desktop. The VNC desktop can be viewed
 by any VNC viewer even on other operating systems.
 .
 Note: If you only want to scrape your local X11 server, you should consider
 the tigervnc-xorg-extension package. This package provides the vnc extension
 for your local X11 server. The usage of this extension is more efficient
 than a scraping vnc server.
