Package: chirashi
Source: sushi
Version: 1.4.0+git20160822+dfsg-4.1
Architecture: all
Maintainer: Devid Antonio Filoni <d.filoni@ubuntu.com>
Installed-Size: 28
Depends: python:any (>= 2.7.5-5~)
Breaks: sushi-plugins (<< 1.4.0)
Replaces: sushi-plugins (<< 1.4.0)
Section: net
Priority: extra
Homepage: https://github.com/sushi-irc
Description: D-Bus-based IRC suite (clients plugins)
 The sushi IRC suite consists of a central daemon and several clients, which
 communicate via DBus. DBus methods and signals are provided by the daemon to
 abstract the IRC protocol. Clients can use these methods and signals to
 easily interact with IRC.
 .
 chirashi provides plugins for tekka and nigiri. All plugins are written in
 Python and use the sushi client plugin API.
