Package: libjutils-java-doc
Source: jutils
Version: 20100502+dfsg-4
Architecture: all
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Installed-Size: 224
Recommends: default-jdk-doc
Suggests: libjutils-java
Section: doc
Priority: optional
Homepage: https://java.net/projects/jutils
Description: Common utilities for Java Game Technology Group projects (javadoc)
 The JUtils Project hosts an implementation of a set of APIs utilized
 by other Java Game Technology Group projects (eg. JInput, JOAl,
 JOGL).
 .
 This is the API documentation for jutils
