Package: libghc-uniplate-doc
Source: haskell-uniplate
Version: 1.6.12-7
Architecture: all
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Installed-Size: 1344
Depends: haddock-interface-31
Recommends: ghc-doc, libghc-syb-doc, libjs-mathjax
Section: doc
Priority: optional
Homepage: http://community.haskell.org/~ndm/uniplate/
Description: Documentation for uniform type generic traversals; documentation
 .
 The Haskell Uniplate library abstracts over common traversals and queries in a
 simple manner allowing the user to scrap their boilerplate code.
 .
 A more complete document on the Uniplate class was published at the Haskell
 Workshop 2007 (http://www-users.cs.york.ac.uk/~ndm/uniplate/),  along with a
 video presentation, and the associated thesis chapter.
 .
 This package provides the documentation for a library for the Haskell
 programming language.
 See http://www.haskell.org/ for more information on Haskell.
