Package: scoop-doc
Source: scoop
Version: 0.7.1.1-2
Architecture: all
Maintainer: Debian QA Group <packages@qa.debian.org>
Installed-Size: 836
Depends: libjs-sphinxdoc (>= 1.0)
Recommends: python-scoop, python3-scoop
Section: doc
Priority: optional
Homepage: http://pyscoop.org/
Description: Python library for concurrent parallel programming (docs)
 SCOOP (Scalable COncurrent Operations in Python) is a distributed task
 module allowing concurrent parallel programming on various environments,
 from heterogeneous grids to supercomputers.
 .
 This package contains the documentation.
