Package: styx-doc
Source: styx
Version: 2.0.1-1
Architecture: all
Maintainer: Frederik Schüler <fs@debian.org>
Installed-Size: 1291
Section: doc
Priority: optional
Homepage: http://speculate.de/styx/
Description: combined parser/scanner generator documentation
 "The Styx Handbook" describes application development with styx and
 contains HTML reference documentation for the styx API.
 .
 Contains a full blown example showing how to build an XML parser
 with styx.
 .
 cf. styx for features.
Tag: devel::doc, devel::examples, made-of::html, role::documentation
