Package: libjs-mochikit
Source: mochikit
Version: 1.4.2-4
Architecture: all
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Installed-Size: 1469
Recommends: javascript-common
Section: web
Priority: optional
Homepage: http://www.mochikit.com/
Description: JavaScript library inspired by Python
 MochiKit is a highly documented and well tested suite of JavaScript libraries
 that will help you get things done, fast. It takes ideas from Python and
 Objective-C and adapts them to the world of JavaScript.
