Package: ncmpcpp
Version: 0.8.2-0.1
Architecture: amd64
Maintainer: Christoph Egger <christoph@debian.org>
Installed-Size: 2833
Depends: libboost-date-time1.67.0, libboost-filesystem1.67.0, libboost-locale1.67.0, libboost-program-options1.67.0, libboost-regex1.67.0 (>= 1.67.0-10), libboost-system1.67.0, libboost-thread1.67.0, libc6 (>= 2.15), libcurl3-gnutls (>= 7.16.2), libfftw3-double3 (>= 3.3.5), libgcc1 (>= 1:3.0), libicu63 (>= 63.1-1~), libmpdclient2 (>= 2.9), libncursesw6 (>= 6), libreadline7 (>= 6.0), libstdc++6 (>= 6), libtag1v5 (>= 1.9.1-2.2~), libtinfo6 (>= 6)
Suggests: mpd, desktop-file-utils
Provides: mpd-client, ncmpcpp-completion
Section: sound
Priority: optional
Homepage: https://ncmpcpp.rybczak.net
Description: ncurses-based client for the Music Player Daemon (MPD)
 ncmpcpp is almost an exact clone of ncmpc which is a text-mode client
 for MPD, the Music Player Daemon. It provides a keyboard oriented and
 consistent interface to MPD and contains some new features ncmpc
 doesn't have. It's been also rewritten from scratch in C++.
 .
 New features include:
  - tag editor;
  - playlists editor;
  - easy to use search screen;
  - media library screen;
  - lyrics screen;
  - possibility of going to any position in currently playing track
    without rewinding/fastforwarding;
  - multi colored main window (if you want);
  - songs can be added to playlist more than once;
  - a lot of minor useful functions.
