Package: xbubble-data
Source: xbubble
Version: 0.5.11.2-3.4
Architecture: all
Maintainer: Uwe Hermann <uwe@debian.org>
Installed-Size: 5702
Recommends: xbubble
Conflicts: xbubble (<< 0.5.8-1)
Section: games
Priority: optional
Homepage: http://alioth.debian.org/projects/xbubble/
Description: Data files for XBubble, a nice Puzzle Bubble clone
 This package contains the data files for XBubble.
 .
 XBubble is a Puzzle Bubble / Bust-A-Move clone.
 .
 Your goal is to remove all the bubbles from the game board. To do this
 you must aim and shoot bubbles. When you manage to match 3 or more
 bubbles of the same color, they burst and disappear. All bubbles which
 hang free now, will fall down and disappear, too.
 .
 XBubble features single player mode, two player mode and
 player vs. computer (five difficulty levels of the AI) and has nice
 graphics, but no sound.
