Package: libsis-jhdf5-jni
Source: libsis-jhdf5-java
Version: 14.12.6-2
Architecture: amd64
Maintainer: Debian Med Packaging Team <debian-med-packaging@lists.alioth.debian.org>
Installed-Size: 516
Depends: libc6 (>= 2.14), libhdf5-100, zlib1g (>= 1:1.1.4)
Section: java
Priority: optional
Homepage: http://svnsis.ethz.ch/repos/cisd/jhdf5/tags/release/14.12.x/14.12.6/jhdf5/
Description: native libs used by libsis-jhdf5-java package
 This package is only useful with libsis-jhdf5-java.
