Package: php-horde-kolab-server
Version: 2.0.5-5
Architecture: all
Maintainer: Horde Maintainers <team+debian-horde-team@tracker.debian.org>
Installed-Size: 663
Depends: php-common, php-horde-auth (>= 2.0.0), php-horde-auth (<< 3.0.0~alpha1), php-horde-exception (>= 2.0.0), php-horde-exception (<< 3.0.0~alpha1), php-horde-util (>= 2.0.0), php-horde-util (<< 3.0.0~alpha1)
Recommends: php-horde-date (>= 2.0.0), php-horde-date (<< 3.0.0~alpha1), php-horde-ldap (>= 2.0.0), php-horde-ldap (<< 3.0.0~alpha1), php-horde-test (>= 2.4.0), php-horde-test (<< 3.0.0~alpha1), php-ldap
Section: php
Priority: optional
Homepage: http://www.horde.org/
Description: A package for manipulating the Kolab user database
 This package reads/writes entries in the Kolab user
 database stored in LDAP.
 .
 This package is part of Horde, a web application Framework written in PHP with
 modules like IMP (webmail), Turba (contacts), Kronolith (calendar), Nag (task
 list), Gollem (file manager), etc.
