Package: libkrad-dev
Source: krb5
Version: 1.16.2-1
Architecture: amd64
Maintainer: Sam Hartman <hartmans@debian.org>
Installed-Size: 115
Depends: libkrad0 (= 1.16.2-1), comerr-dev, libverto-dev (>= 0.2.4)
Suggests: libkrb5-dev
Breaks: krb5-multidev (<< 1.12+dfsg-2), libkrb5-dev (<< 1.12+dfsg-2)
Replaces: libkrb5-dev (<< 1.12+dfsg-2)
Section: libdevel
Priority: optional
Homepage: http://web.mit.edu/kerberos/
Description: MIT Kerberos RADIUS Library Development
 This package includes development headers for libkrad0, the MIT
 Kerberos RADIUS library.  You should not use this RADIUS library in
 packages unrelated to MIT Kerberos.
