Package: libfile-slurp-perl
Version: 9999.25-1
Architecture: all
Maintainer: Alexander Zangerl <az@debian.org>
Installed-Size: 60
Depends: perl
Section: perl
Priority: optional
Homepage: https://metacpan.org/release/File-Slurp
Description: single call read & write file routines
 File::Slurp provides some quickie routines that read from,
 append to or overwrite a file - with a single subroutine call. Their main
 intention is to save a couple of lines of code over and over again,
 but they do not do anything fancy.
