Package: libmanette-0.2-0
Source: libmanette
Version: 0.2.1-1
Architecture: amd64
Maintainer: Debian GNOME Maintainers <pkg-gnome-maintainers@lists.alioth.debian.org>
Installed-Size: 122
Depends: libc6 (>= 2.4), libevdev2 (>= 0.9.1), libglib2.0-0 (>= 2.50.0), libgudev-1.0-0 (>= 146)
Section: libs
Priority: optional
Multi-Arch: same
Homepage: https://gitlab.gnome.org/aplazas/libmanette
Description: Simple GObject game controller library
 libmanette is a library for using game controllers using an API inspired
 by GDK's device and event handling. It supports the W3C Draft Gamepad
 specification.
 .
 This package contains the shared libraries.
