Package: nyancat
Version: 1.5.1-1
Architecture: amd64
Maintainer: Jonathan McCrohan <jmccrohan@gmail.com>
Installed-Size: 75
Depends: libc6 (>= 2.11)
Section: misc
Priority: extra
Homepage: https://github.com/klange/nyancat
Description: Animated terminal Nyancat
 nyancat is a program to display an animated poptart cat in your terminal.
 .
 This is a standalone program only. To serve nyancat to many users, the
 nyancat-server package is required.
