Package: libcaptcha-recaptcha-perl
Version: 0.98+ds-1
Architecture: all
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Installed-Size: 39
Depends: perl, libwww-perl, libhtml-tiny-perl
Section: perl
Priority: optional
Homepage: http://search.cpan.org/dist/Captcha-reCAPTCHA/
Description: perl implementation of the reCAPTCHA API
 Captcha::reCAPTCHA is a perl module for accessing the reCAPTCHA API.
 .
 reCAPTCHA is a hybrid mechanical turk and captcha that allows visitors
 who complete the captcha to assist in the digitization of books.
 From http://recaptcha.net/learnmore.html:
 .
 reCAPTCHA improves the process of digitizing books by sending words that
 cannot be read by computers to the Web in the form of CAPTCHAs for
 humans to decipher. More specifically, each word that cannot be read
 correctly by OCR is placed on an image and used as a CAPTCHA. This is
 possible because most OCR programs alert you when a word cannot be read
 correctly.
 .
 To use reCAPTCHA you need to register your site here:
 https://admin.recaptcha.net/recaptcha/createsite/
