Package: lbreakout2-data
Source: lbreakout2
Version: 2.6.5-1
Architecture: all
Maintainer: Colin Tuckley <colint@debian.org>
Installed-Size: 3989
Section: games
Priority: optional
Homepage: http://lgames.sourceforge.net/index.php?project=LBreakout2
Description: ball-and-paddle game with nice graphics (DATA FILES)
 lbreakout2 is a game similar to the classics breakout and xboing, featuring
 a number of added graphical enhancements and effects.  You control a paddle
 at the bottom of the playing-field, and must destroy bricks at the top
 by bouncing balls against them.
 .
 This package contains the data files for lbreakout2.
