Package: libstyx2
Source: styx (2.0.1-1)
Version: 2.0.1-1+b1
Architecture: amd64
Maintainer: Frederik Schüler <fs@debian.org>
Installed-Size: 720
Depends: libc6 (>= 2.14)
Conflicts: libdstyx, libxstyx
Replaces: libdstyx, libxstyx
Provides: libdstyx, libxstyx
Section: libs
Priority: optional
Homepage: http://speculate.de/styx/
Description: runtime libraries for styx
 Dynamically linked programs containing lexical scanners or parsers
 developed with styx depend on this library.
 .
 It implements abstract grammar, LALR(1) parser and lexical scanner
 interfaces, hashed symbol tables and supporting data types.
Tag: role::shared-lib, suite::gnu
