Package: ketm-data
Source: ketm
Version: 0.0.6-24
Architecture: all
Maintainer: Debian Games Team <pkg-games-devel@lists.alioth.debian.org>
Installed-Size: 8638
Section: games
Priority: optional
Homepage: http://sourceforge.net/projects/ketm-gg
Description: graphics and audio data for ketm
 Ketm is a hicolor/hiresolution classical game that has similarities with
 Raptor, Tyrian and Galaga. You are a spacepilot controlling your secret
 prototype ship. At regular interval's you get attacked by the bad guys. You
 have a mission to clean this sector from them (i.e. Kill Everything That
 Moves). Be sure to pick up some weapon and ship upgrades on the way.
 .
 This package contains the architecture-independent data for ketm. For
 more information, see the ketm package.
