Package: node-serve-static
Version: 1.6.4-2
Architecture: all
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Installed-Size: 46
Depends: nodejs, node-escape-html, node-parseurl, node-send, node-utils-merge
Section: web
Priority: extra
Homepage: https://github.com/expressjs/serve-static
Description: static files server module for Node.js
 Simple and fast deploy module to serve static files
 in your web applications.
 .
 Node.js is an event-based server-side JavaScript engine.
