Package: winff-doc
Source: winff
Version: 1.5.5-5
Architecture: all
Maintainer: Paul Gevers <elbrus@debian.org>
Installed-Size: 790
Suggests: pdf-viewer
Section: doc
Priority: optional
Homepage: http://www.winff.org/
Description: winff documentation
 WinFF is a graphical user interface for FFmpeg or avconv. It will convert
 almost any video file that FFmpeg or avconv will convert. WinFF does multiple
 files in multiple formats at one time. You can, for example, convert
 mpeg's, flv's, and mov's into avi's (or DVD/VCD format or MPEG or 3gp
 etc.) all at once.
 .
 This package contains the pdf-manuals for winff in several languages.
