Package: librust-futures+default-dev
Source: rust-futures
Version: 0.1.23-1
Architecture: amd64
Maintainer: Debian Rust Maintainers <pkg-rust-maintainers@alioth-lists.debian.net>
Installed-Size: 6
Depends: librust-futures-dev (= 0.1.23-1), librust-futures+use-std-dev (= 0.1.23-1), librust-futures+with-deprecated-dev (= 0.1.23-1)
Provides: librust-futures-0+default-dev (= 0.1.23-1), librust-futures-0.1+default-dev (= 0.1.23-1), librust-futures-0.1.23+default-dev (= 0.1.23-1)
Section: rust
Priority: optional
Multi-Arch: same
Homepage: https://github.com/rust-lang-nursery/futures-rs
Description: Futures and streams - feature "default"
 This metapackage enables feature default for the Rust futures crate, by pulling
 in any additional dependencies needed by that feature.
