Package: libgetfem5++
Source: getfem++ (5.2+dfsg1-7)
Version: 5.2+dfsg1-7+b1
Architecture: amd64
Maintainer: Debian Science Team <debian-science-maintainers@lists.alioth.debian.org>
Installed-Size: 9148
Depends: libblas3 | libblas.so.3, libboost-system1.67.0, libc6 (>= 2.14), libgcc1 (>= 1:4.0), libmumps-seq-5.1.2, libqhull7, libstdc++6 (>= 5.2), libsuperlu5
Section: libs
Priority: optional
Multi-Arch: same
Homepage: http://getfem.org/
Description: GETFEM++ generic finite element library
 GETFEM++ is a library allowing the computation of any elementary matrix (even
 for mixed finite element methods) on the largest class of methods and elements,
 and for arbitrary dimension.
