Package: python-emcee
Source: emcee
Version: 2.2.1-1
Architecture: all
Maintainer: Debian Astronomy Team <debian-astro-maintainers@lists.alioth.debian.org>
Installed-Size: 104
Depends: python:any (<< 2.8), python:any (>= 2.7.5-5~), python-numpy
Section: python
Priority: optional
Homepage: http://dan.iel.fm/emcee/
Description: Affine-invariant ensemble MCMC sampling for Python
 emcee is an extensible, pure-Python implementation of Goodman &
 Weare's Affine Invariant Markov chain Monte Carlo (MCMC) Ensemble
 sampler. It's designed for Bayesian parameter estimation.
 .
 This is the Python 2 package.
