Package: libmlv3-dev
Source: mlv
Version: 3.1.0-2
Architecture: amd64
Maintainer: Adrien Boussicault <adrien.boussicault@labri.fr>
Installed-Size: 110682
Depends: libmlv3 (= 3.1.0-2), libsdl1.2-dev, fonts-tlwg-garuda-ttf, libjs-jquery
Conflicts: libmlv-0.2-dev, libmlv-0.4-dev, libmlv-dev
Replaces: libmlv-0.2-dev, libmlv-0.4-dev, libmlv-dev
Section: libdevel
Priority: optional
Homepage: http://www-igm.univ-mlv.fr/~boussica/mlv/index.html
Description: simplified multimedia library in C for beginners.
 The mlv library is a simplified multimedia library.
 The library is perfect for beginners in C programming who
 want to use graphic and sound effects.
 The library are dedicated to:
  - draw figures, text and boxed text,
  - display images,
  - plays musics,
  - get Keyboard and mouse event,
  - get data by input boxes.
 This tools is a simplified interface of the SDL libraries.
 If you are not a beginner, we recommend you to use the
 SDL libraries (sdl, sdl-gfx, sdl-mixer,sdl-ttf) instead of
 the mlv library.
 The mlv library can be compiled for Linux, Macintosh
 and windows.
 This package provide all the development infrastructure
 of the mlv library.
