Package: gtk2-engines-oxygen
Version: 1.4.6-1.1
Architecture: amd64
Maintainer: Debian KDE Extras Team <pkg-kde-extras@lists.alioth.debian.org>
Installed-Size: 1408
Depends: libc6 (>= 2.14), libcairo2 (>= 1.10.0), libgcc1 (>= 1:3.0), libgdk-pixbuf2.0-0 (>= 2.22.0), libglib2.0-0 (>= 2.26.0), libgtk2.0-0 (>= 2.24.5-4), libpango-1.0-0 (>= 1.18.0), libpangocairo-1.0-0 (>= 1.14.0), libstdc++6 (>= 5.2), libx11-6
Suggests: kde-config-gtk-style
Section: gnome
Priority: optional
Multi-Arch: same
Homepage: https://projects.kde.org/projects/playground/artwork/oxygen-gtk
Description: Oxygen widget theme for GTK+-based applications
 Oxygen-Gtk is a port of the Oxygen widget style to GTK+.
 .
 It ensures visual consistency between GTK+ and Qt-based applications running
 under KDE.
