Package: pcmanfm-dbg
Source: pcmanfm
Version: 1.3.0-1
Architecture: amd64
Maintainer: Debian LXDE Maintainers <pkg-lxde-maintainers@lists.alioth.debian.org>
Installed-Size: 368
Depends: pcmanfm (= 1.3.0-1)
Section: debug
Priority: optional
Homepage: http://pcmanfm.sourceforge.net/
Description: extremely fast and lightweight file manager (debug)
 PCMan File Manager is a GTK+ based file manager. It is a primary file
 manager for the LXDE but can be used in any other desktop environment.
 .
 This package contains the debugging symbols.
Build-Ids: 88176f89bb6aa30cb94de32349c53f247f1ea046
