Package: libubertooth1
Source: ubertooth
Version: 2018.08.R1-2
Architecture: amd64
Maintainer: Ruben Undheim <ruben.undheim@gmail.com>
Installed-Size: 88
Depends: libbtbb1 (>= 2015.10.R1+20161027git1eecca5), libc6 (>= 2.17), libusb-1.0-0 (>= 2:1.0.16)
Section: libs
Priority: optional
Multi-Arch: same
Homepage: http://ubertooth.sourceforge.net/
Description: Shared library for Bluetooth experimentation
 Project Ubertooth is an open source wireless development platform suitable for
 Bluetooth experimentation. Ubertooth ships with a capable BLE (Bluetooth Smart)
 sniffer and can sniff some data from Basic Rate (BR) Bluetooth Classic
 connections.
 .
 This package provides the shared library needed by Ubertooth.
