Package: composer
Version: 1.8.0-1
Architecture: all
Maintainer: Debian PHP PEAR Maintainers <pkg-php-pear@lists.alioth.debian.org>
Installed-Size: 1871
Depends: php-cli, php-common, php-composer-ca-bundle (>= 1.0), php-composer-ca-bundle (<< 2~~), php-composer-semver (>= 1.0), php-composer-semver (<< 2~~), php-composer-spdx-licenses (>= 1.2), php-composer-spdx-licenses (<< 2~~), php-composer-xdebug-handler (>= 1.1), php-composer-xdebug-handler (<< 2~~), php-json-schema, php-psr-log (>= 1.0), php-psr-log (<< 2~~), jsonlint (>= 1.4), jsonlint (<< 2~~), php-symfony-console, php-symfony-filesystem, php-symfony-finder, php-symfony-process
Recommends: git, unzip
Suggests: fossil, mercurial, subversion, php-zip
Breaks: php-symfony-console (= 2.8.38)
Section: php
Priority: optional
Homepage: https://getcomposer.org/
Description: dependency manager for PHP
 Composer helps you declare, manage and install dependencies of PHP projects,
 ensuring you have the right stack everywhere.
 .
 It behaves like Bundler (Ruby), npm (Node), etc.
