Package: ansible-tower-cli-doc
Source: ansible-tower-cli
Version: 3.3.0-1
Architecture: all
Maintainer: Evgeni Golov <evgeni@debian.org>
Installed-Size: 2254
Depends: libjs-sphinxdoc (>= 1.0), libjs-mathjax
Breaks: ansible-tower-cli (<< 3.2.0-1~)
Replaces: ansible-tower-cli (<< 3.2.0-1~)
Built-Using: sphinx (= 1.7.6-1)
Section: doc
Priority: optional
Homepage: https://github.com/ansible/tower-cli
Description: documentation for tower-cli command line tool and library
 tower-cli is a command line tool for Ansible Tower. It allows Tower
 commands to be easily run from the Unix command line. It can also be
 used as a client library for other Python apps, or as a reference for
 others developing API interactions with Tower's REST API.
 .
 This package contains the documentation for the command line tool and
 the library.
