Package: libfelix-gogo-runtime-java-doc
Source: felix-gogo-runtime
Version: 0.16.2-1
Architecture: all
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Installed-Size: 1657
Depends: default-jdk-doc
Suggests: libfelix-gogo-runtime-java
Section: doc
Priority: optional
Homepage: http://felix.apache.org/site/apache-felix-gogo.html
Description: Documentation for Apache Felix Gogo Runtime bundle
 Apache Felix Gogo is a subproject of Apache Felix implementing the OSGi
 RFC 147, which describes a standard shell for OSGi-based environments.
 .
 Runtime bundle of Gogo subproject implements the core command processing
 functionality.
 .
 This package contains the API documentation of libfelix-gogo-runtime-java.
