Package: fonts-dosis
Version: 1.7-2
Architecture: all
Maintainer: Debian Fonts Task Force <pkg-fonts-devel@lists.alioth.debian.org>
Installed-Size: 442
Section: fonts
Priority: optional
Multi-Arch: foreign
Homepage: http://www.impallari.com/dosis/
Description: very simple, rounded, sans serif font family
 The Dosis font comes in 7 incremental weights:
 ExtraLight, Light, Book, Medium, Semibold, Bold & ExtraBold.
 The lighter weights are minimalist. The bolder weights have more personality.
 The medium weight is nice and balanced. The overall result is a family that's
 clean and modern, and can express a wide range of voices & feelings.
