Package: libhtml-html5-microdata-parser-perl
Version: 0.100-2
Architecture: all
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Installed-Size: 81
Depends: perl, libhtml-html5-parser-perl, libhtml-html5-sanity-perl, librdf-trine-perl, liburi-perl, libxml-libxml-perl
Section: perl
Priority: optional
Homepage: https://metacpan.org/release/HTML-HTML5-Microdata-Parser
Description: fairly experimental parser for HTML 'microdata'
 Resource Description Framework (RDF) is a standard model for data
 interchange on the Web.
 .
 Microdata is an experimental metadata format, not in wide use, for
 extending HTML5 to support RDF.
 .
 HTML::HTML5::Microdata::Parser is a Perl library providing a flexible
 microdata parser for working with an RDF::Trine::Model that can be
 queried with SPARQL.
