Package: unaccent
Source: unac
Version: 1.8.0-8
Architecture: amd64
Maintainer: Debian QA Group <packages@qa.debian.org>
Installed-Size: 29
Depends: libc6 (>= 2.14), libunac1
Section: utils
Priority: optional
Multi-Arch: foreign
Description: Replace accented letters by their unaccented equivalent
 read data from stdin, replace accented letters by their unaccented
 equivalent and write the result on stdout.
