Package: vdr-plugin-fritzbox
Version: 1.5.3-7
Architecture: amd64
Maintainer: Debian VDR Team <pkg-vdr-dvb-devel@lists.alioth.debian.org>
Installed-Size: 957
Depends: libboost-regex1.62.0, libboost-system1.62.0, libboost-thread1.62.0, libc6 (>= 2.14), libgcc1 (>= 1:3.0), libgcrypt20 (>= 1.8.0), libstdc++6 (>= 6), vdr-abi-2.4.0-debian
Section: video
Priority: optional
Homepage: https://github.com/jowi24/vdr-fritz
Description: VDR plugin to access certain functions of an AVM Fritz!Box
 This VDR plugin connects to the Fritz!Box to inform you about incoming
 calls. As an option, the plugin can automatically mute VDR when a call
 comes in.
