Package: libmessaging-menu0
Source: ayatana-indicator-messages
Version: 0.6.0-2
Architecture: amd64
Maintainer: Ayatana Packagers <pkg-ayatana-devel@lists.alioth.debian.org>
Installed-Size: 156
Depends: libc6 (>= 2.4), libglib2.0-0 (>= 2.37.3)
Section: libs
Priority: optional
Multi-Arch: same
Homepage: https://github.com/AyatanaIndicators/ayatana-indicator-messages
Description: Ayatana Messaging Menu - shared library
 A place on the user's desktop that collects messages that need a response.
 .
 This menu provides a condensed and collected view of all of those messages
 for quick access, but without making them annoying in times that you want
 to ignore them.
 .
 This library contains information to build status providers to go into
 the messaging menu.
