Package: libblockdev-part-err2
Source: libblockdev
Version: 2.20-6
Architecture: amd64
Maintainer: Utopia Maintenance Team <pkg-utopia-maintainers@lists.alioth.debian.org>
Installed-Size: 33
Depends: libblockdev-utils2 (>= 2.14), libc6 (>= 2.3), libglib2.0-0 (>= 2.42.2), libparted-fs-resize0 (>= 3.1), libparted2 (>= 3.1)
Section: libs
Priority: optional
Multi-Arch: same
Homepage: https://github.com/storaged-project/libblockdev
Description: Partition error utility functions for libblockdev
 libblockdev-part-err is a library providing utility functions used by the
 libblockdev library and its plugins.
