Package: libzadc4
Source: genwqe-user
Version: 4.0.18-3
Architecture: amd64
Maintainer: Fernando Seiti Furusato <ferseiti@linux.vnet.ibm.com>
Installed-Size: 181
Depends: libc6 (>= 2.15), zlib1g (>= 1:1.2.7)
Section: libs
Priority: optional
Homepage: https://github.com/ibm-genwqe/genwqe-user/releases
Description: accelerated libz implementation (Accelerated Data Compression/ADC)
 Accelerated libz implementation uses FPGA based PCIe cards
 (e.g. zEDC) to accelerate compression/decompression.
 .
 This package provides public libzADC library, and libz library
 symlinks which are not exposed in the ldconfig paths.
