Package: libghc-hoauth2-prof
Source: haskell-hoauth2
Version: 1.7.2-1
Architecture: amd64
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Installed-Size: 2883
Depends: libghc-hoauth2-dev (= 1.7.2-1), libghc-aeson-prof-1.2.4.0-171c1, libghc-base-prof-4.10.1.0-35a7f, libghc-bytestring-prof-0.10.8.2-4a9e2, libghc-exceptions-prof-0.8.3-23c90, libghc-http-conduit-prof-2.3.1-fa6af, libghc-http-types-prof-0.12.1-b75da, libghc-microlens-prof-0.4.8.3-c565b, libghc-text-prof-1.2.3.0-81981, libghc-unordered-containers-prof-0.2.9.0-d1c8f, libghc-uri-bytestring-prof-0.3.2.0-20baf, libghc-uri-bytestring-aeson-prof-0.1.0.6-5d697
Provides: libghc-hoauth2-prof-1.7.2-a03f7
Section: haskell
Priority: optional
Homepage: https://github.com/freizl/hoauth2
Description: OAuth2 authentication for Haskell; profiling libraries
  This library provies OAuth2 authentication for Haskell applications.
 .
 It was te tested against the following services
 .
   * google web oauth
   * weibo oauth2
   * github oauth
  .
  This package provides a library for the Haskell programming language, compiled
 for profiling.  See http://www.haskell.org/ for more information on Haskell.
