Package: haskell-lazy-csv-utils
Source: haskell-lazy-csv (0.5.1-3)
Version: 0.5.1-3+b2
Architecture: amd64
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Installed-Size: 1160
Depends: libatomic1 (>= 4.8), libc6 (>= 2.27), libffi6 (>= 3.0.4), libgmp10
Section: misc
Priority: optional
Homepage: http://code.haskell.org/lazy-csv
Description: efficient lazy parsers for CSV (comma-separated values)
 The CSV format is defined by RFC 4180.
 These efficient lazy parsers (String and ByteString variants)
 can report all CSV formatting errors, whilst also
 returning all the valid data, so the user can choose
 whether to continue, to show warnings, or to halt on
 error.  Valid fields retain information about their
 original location in the input, so a secondary parser from
 textual fields to typed values can give intelligent error
 messages.
