Package: libversioneer-clojure
Source: versioneer-clojure
Version: 0.1.1-3
Architecture: all
Maintainer: Eugenio Cano-Manuel Mendoza <eugeniocanom@gmail.com>
Installed-Size: 42
Depends: libclojure-java
Section: java
Priority: optional
Homepage: https://github.com/trptcolin/versioneer/
Description: version introspection for Leiningen-generated projects
 versioneer-clojure allows programs to access their own version number. It can
 retrieve the version either from the system properties (set by Leiningen), a
 properties file (in jars built by Leiningen), or a default version passed in.
