Package: erlang-corba
Source: erlang
Version: 1:20.3.8.8+dfsg-1
Architecture: amd64
Maintainer: Debian Erlang Packagers <pkg-erlang-devel@lists.alioth.debian.org>
Installed-Size: 3516
Depends: erlang-base (= 1:20.3.8.8+dfsg-1) | erlang-base-hipe (= 1:20.3.8.8+dfsg-1), erlang-inets (= 1:20.3.8.8+dfsg-1), erlang-mnesia (= 1:20.3.8.8+dfsg-1), erlang-ssl (= 1:20.3.8.8+dfsg-1)
Suggests: erlang, erlang-manpages, erlang-doc
Replaces: erlang (<< 1:20.3.8.8+dfsg-1), erlang-base (<< 1:20.3.8.8+dfsg-1), erlang-base-hipe (<< 1:20.3.8.8+dfsg-1), erlang-dev (<< 1:20.3.8.8+dfsg-1), erlang-doc (>> 1:20.3.8.8+dfsg-999), erlang-doc (<< 1:20.3.8.8+dfsg), erlang-examples (<< 1:20.3.8.8+dfsg-1), erlang-manpages (<= 1:11.b.1-2), erlang-mode (<< 1:12.b.1-dfsg-2), erlang-nox (<< 1:20.3.8.8+dfsg-1), erlang-src (<< 1:20.3.8.8+dfsg-1), erlang-x11 (<< 1:20.3.8.8+dfsg-1)
Section: interpreters
Priority: optional
Homepage: http://www.erlang.org/
Description: Erlang/OTP applications for CORBA support
 The Orber application is an Erlang implementation of a CORBA
 Object Request Broker.
 .
 The cosEvent application is an Erlang implementation of a CORBA
 Service CosEvent.
 .
 The cosEventDomain application is an Erlang implementation of a
 CORBA Service CosEventDomainAdmin.
 .
 The cosFileTransfer Application is an Erlang implementation of
 the OMG CORBA File Transfer Service.
 .
 The cosNotification application is an Erlang implementation of
 the OMG CORBA Notification Service.
 .
 The cosProperty Application is an Erlang implementation of the
 OMG CORBA Property Service.
 .
 The cosTime application is an Erlang implementation of the OMG
 CORBA Time and TimerEvent Services.
 .
 The cosTransactions application is an Erlang implementation of
 the OMG CORBA Transaction Service.
