Package: libnotify-cil-dev
Source: notify-sharp
Version: 0.4.0~r3032-7
Architecture: all
Maintainer: Debian CLI Libraries Team <pkg-cli-libs-team@lists.alioth.debian.org>
Installed-Size: 35
Depends: libnotify0.4-cil (= 0.4.0~r3032-7)
Replaces: libnotify0.4-cil (<< 0.4.0~r3032-2)
Section: cli-mono
Priority: optional
Homepage: http://www.ndesk.org/NotifySharp
Description: CLI library for desktop notifications
 A library that sends desktop notifications to a notification daemon, as
 defined in the Desktop Notifications spec. These notifications can be
 used to inform the user about an event or display some form of
 information without getting in the user's way.
 .
 This package contains development files for the notify-sharp library,
 and should be used for compilation
