Package: libtokyocabinet9
Source: tokyocabinet
Version: 1.4.48-12
Architecture: amd64
Maintainer: Tobias Frost <tobi@debian.org>
Installed-Size: 1118
Depends: libbz2-1.0, libc6 (>= 2.27), zlib1g (>= 1:1.1.4)
Section: libs
Priority: optional
Multi-Arch: same
Homepage: http://fallabs.com/tokyocabinet/
Description: Tokyo Cabinet Database Libraries [runtime]
 Tokyo Cabinet is an efficient database library like GDBM and NDBM.
 It features hash database and B+ tree database and is developed as the
 successor of QDBM, for the purpose of the following three points: higher
 processing speed, smaller size of a database file, and simpler API.
 .
 This is the runtime package for programs that use the Tokyo Cabinet database
 library.
