Package: node-aws4
Version: 1.8.0-1
Architecture: all
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Installed-Size: 33
Depends: nodejs
Section: javascript
Priority: optional
Homepage: https://github.com/mhart/aws4#readme
Description: Signs and prepares requests using AWS Signature Version 4
 A small utility to sign vanilla node.js http(s) request options
 using Amazon's AWS Signature Version 4.
 Can also be used in the browser
 .
 Node.js is an event-based server-side JavaScript engine.
