Package: libldap-2.4-2
Source: openldap
Version: 2.4.46+dfsg-5
Architecture: amd64
Maintainer: Debian OpenLDAP Maintainers <pkg-openldap-devel@lists.alioth.debian.org>
Installed-Size: 515
Depends: libc6 (>= 2.14), libgnutls30 (>= 3.5.6), libsasl2-2, libldap-common
Conflicts: ldap-utils (<= 2.1.23-1)
Replaces: libldap-2.3-0, libldap2
Section: libs
Priority: optional
Multi-Arch: same
Homepage: http://www.openldap.org/
Description: OpenLDAP libraries
 These are the run-time libraries for the OpenLDAP (Lightweight Directory
 Access Protocol) servers and clients.
