Package: libdd-plist-java
Source: dd-plist
Version: 1.20-1
Architecture: all
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Installed-Size: 95
Section: java
Priority: optional
Homepage: https://github.com/3breadt/dd-plist
Description: Java library for working with property lists
 This library enables your Java application to handle property lists of various
 formats. Property lists are files used to store user settings and serialized
 objects.They originate from the NeXSTEP programming environment and are now a
 basic part of the Cocoa framework (OS X and iOS) as well as the GNUstep
 framework.
