Package: lprng-doc
Version: 3.8.A~rc2-3.1
Architecture: all
Maintainer: Craig Small <csmall@debian.org>
Installed-Size: 5401
Section: doc
Priority: extra
Description: lpr/lpd printer spooling system (documentation)
 The  LPRng  software  is an enhanced, extended, and portable  version
 of the Berkeley LPR software (the standards UNIX printer spooler)
 You can use this for local and remote printers.
 This is the documentation for LPRng
