Package: libghc-minimorph-prof
Source: haskell-minimorph (0.1.6.1-4)
Version: 0.1.6.1-4+b2
Architecture: amd64
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Installed-Size: 626
Depends: libghc-minimorph-dev (= 0.1.6.1-4+b2), libghc-base-prof-4.11.1.0-5dd74, libghc-text-prof-1.2.3.1-30bbe
Provides: libghc-minimorph-prof-0.1.6.1-b3079
Section: haskell
Priority: optional
Homepage: https://github.com/Mikolaj/minimorph
Description: English-spelling functions with an emphasis on simplicity; profiling libraries
 A set of simplistic functions capturing the more regular
 parts of English spelling (for generation, not parsing).
 You will need to complement this with some account for
 irregular nouns/verbs. This package is not meant to provide
 anything resembling a full account of English morphology
 (something like Functional Morphology or sequor could be
 better suited). The main goal is to provide something cheap
 and cheerful with no learning curve, that you can use until
 your application calls for more robustness.
 .
 See miniutter for a simple use case.
 .
 This package provides a library for the Haskell programming language, compiled
 for profiling.  See http://www.haskell.org/ for more information on Haskell.
