Package: liblastfm-fingerprint1-dbg
Source: liblastfm
Version: 1.0.9-1
Architecture: amd64
Maintainer: Stefan Ahlers <stef.ahlers@t-online.de>
Installed-Size: 368
Depends: liblastfm5-1 (= 1.0.9-1)
Section: debug
Priority: extra
Multi-Arch: same
Homepage: http://www.last.fm/
Description: Debugging symbols for the fingerprint library (Qt4 build)
 liblastfm is a collection of C++/Qt4 libraries provided by Last.fm for use
 with their web services.
 .
 This package contains the debugging symbols for the liblastfm-fingerprint
 libraries.
Build-Ids: 25e7f9ba7772bce3ec28a2f5abffedb35451c00a
