Package: libpod-webserver-perl
Version: 3.11-1
Architecture: all
Maintainer: Alejandro Garrido Mota <alejandro@debian.org>
Installed-Size: 52
Depends: perl
Section: perl
Priority: optional
Homepage: https://metacpan.org/release/Pod-Webserver
Description: miniature web server for reading Pod in web browsers
 Pod::Webserver can be run as an application that works as a minimal web
 server to serve local Perl documentation. It's like perldoc except it works
 through your browser.
