Package: melt
Source: mlt
Version: 6.12.0-1
Architecture: amd64
Maintainer: Patrick Matthäi <pmatthaei@debian.org>
Installed-Size: 176
Depends: libc6 (>= 2.4), libmlt6 (>= 6.12.0), libsdl2-2.0-0 (>= 2.0.8), libmlt-data (>= 6.12.0-1)
Section: utils
Priority: optional
Homepage: https://www.mltframework.org
Description: command line media player and video editor
 melt was meant as a test tool for the MLT framework, but it is also a powerful
 multitrack command line oriented video editor. It could also used as an
 minimalistic media player for audio and video files.
