Package: libghc-test-framework-prof
Source: haskell-test-framework (0.8.2.0-2)
Version: 0.8.2.0-2+b2
Architecture: amd64
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Installed-Size: 1645
Depends: libghc-test-framework-dev (= 0.8.2.0-2+b2), libghc-ansi-terminal-prof-0.8.1-cd08b, libghc-ansi-wl-pprint-prof-0.6.8.2-d222d, libghc-base-prof-4.11.1.0-5dd74, libghc-containers-prof-0.5.11.0-e0faa, libghc-hostname-prof-1.0-ccd54, libghc-old-locale-prof-1.0.0.7-afc40, libghc-random-prof-1.1-1827c, libghc-regex-posix-prof-0.95.2-d5be1, libghc-time-prof-1.8.0.2-2ae9f, libghc-xml-prof-1.3.14-96c9f
Provides: libghc-test-framework-prof-0.8.2.0-73b25
Section: haskell
Priority: optional
Homepage: http://haskell.github.io/test-framework/
Description: Framework for running and organising tests; profiling libraries
 Allows tests such as QuickCheck properties and HUnit test cases to be
 assembled into test groups, run in parallel (but reported in deterministic
 order, to aid diff interpretation) and filtered and controlled by command
 line options. All of this comes with colored test output, progress reporting
 and test statistics output.
 .
 You should install libghc-test-framework-{hunit,quickcheck2}-* package
 to use this with {HUnit,QuickCheck2}.
 .
 This package contains the libraries compiled with profiling enabled.
