Package: golang-pault-go-topsort-dev
Source: golang-pault-go-topsort
Version: 0.0~git20160529.f98d2ad-1
Architecture: all
Maintainer: Debian Go Packaging Team <team+pkg-go@tracker.debian.org>
Installed-Size: 23
Section: devel
Priority: optional
Homepage: https://pault.ag/go/topsort
Description: library to topologically sort a DAG
 This package containers a few helper routines to help with sorting a DAG
 (directed acyclic graphs) such that nodes with no inbound edges will be
 returned first.
 .
 This is particularly useful for things like ordering tasks, and handling
 dependencies.
