Package: festvox-suopuhe-lj
Version: 1.0g-20051204-5
Architecture: all
Maintainer: Debian TTS team <tts-project@lists.alioth.debian.org>
Installed-Size: 7408
Depends: festival, festvox-suopuhe-common
Recommends: festvox-suopuhe-mv
Provides: festival-voice
Section: sound
Priority: optional
Homepage: http://www.ling.helsinki.fi/suopuhe/
Description: Finnish female speaker for Festival
 This is a Finnish female speaker for the Festival speech synthesis
 system. It was developed as part of the Suopuhe project at
 the universities of Helsinki and Joensuu.
