Package: anyremote
Version: 6.7.2-1
Architecture: amd64
Maintainer: Philipp Huebner <debalance@debian.org>
Installed-Size: 284
Depends: libavahi-client3 (>= 0.6.16), libavahi-common3 (>= 0.6.16), libbluetooth3 (>= 4.91), libc6 (>= 2.15), libdbus-1-3 (>= 1.9.14), libdbus-glib-1-2 (>= 0.78), libglib2.0-0 (>= 2.31.8), libx11-6, libxtst6, anyremote-data
Suggests: python-xmmsclient, anyremote-doc
Replaces: anyremote2html
Section: utils
Priority: optional
Homepage: http://anyremote.sourceforge.net
Description: Remote control daemon for applications using Bluetooth, IrDA or WiFi
 With anyRemote, arbitrary desktop applications can be
 remote-controlled via many modern mobile phones that support
 Bluetooth, IrDA or WiFi communication using a J2ME client, AT modem
 commands, a web interface
 or IR remote controllers.
 .
 anyRemote supports wide range of modern cell phones like Nokia,
 SonyEricsson, Motorola and others.
