Package: libapreq2-dev
Source: libapreq2 (2.13-5)
Version: 2.13-5+b2
Architecture: amd64
Maintainer: Steinar H. Gunderson <sesse@debian.org>
Installed-Size: 212
Depends: libapreq2-3 (= 2.13-5+b2), libapr1-dev
Recommends: libapreq2-doc (= 2.13-5+b2)
Replaces: libapache2-request-perl (<< 2.05-dev-3)
Section: libdevel
Priority: optional
Description: generic Apache request library - development files
 The generic Apache request library (APR) contains modules for manipulating
 client request data with the Apache API from Perl and C. Functionality
 includes:
 .
  - parsing of application/x-www-form-urlencoded data
  - parsing of multipart/form-data
  - parsing of HTTP Cookies
 .
 This package contains the development library and C headers required for
 compiling programs against the library.
