Package: i2p-router
Source: i2p
Version: 0.9.36-1
Architecture: all
Maintainer: Masayuki Hatta <mhatta@debian.org>
Installed-Size: 12913
Depends: openjdk-11-jre-headless | openjdk-8-jre-headless | default-jre-headless | java11-runtime-headless | java8-runtime-headless, geoip-database, gettext-base, libgetopt-java, libjetty9-java, libtaglibs-standard-jstlel-java, libtomcat8-java, famfamfam-flag-png, sensible-utils
Recommends: libjbigi-jni, ttf-dejavu
Suggests: apparmor, privoxy, syndie
Breaks: i2p (<< 0.8.6-5)
Replaces: i2p (<< 0.8.6-5)
Section: net
Priority: optional
Homepage: https://geti2p.net/
Description: Invisible Internet Project (I2P) - Router
 I2P is an anonymizing network, offering a simple layer that identity-sensitive
 applications can use to securely communicate. All data is wrapped with several
 layers of encryption, and the network is both distributed and dynamic, with no
 trusted parties.
 .
 TrueType fonts (such as those provided in the package ttf-dejavu) are required
 in order to generate graphs.
