Package: libyuma-dev
Source: yuma123
Version: 2.10-1
Architecture: amd64
Maintainer: Vladimir Vassilev <vladimir@transpacket.com>
Installed-Size: 1433
Depends: libyuma2 (= 2.10-1)
Provides: libyuma-dev
Section: libdevel
Priority: extra
Homepage: https://sourceforge.net/projects/yuma123
Description: Netconf/YANG development files
 The Netconf protocol and YANG modeling language provide a framework
 for the exchange of management information between agents (servers)
 and clients.
 .
 The yuma123 libyuma development files include the library headers, static
 libraries, and documentation needed for development of custom netconf/YANG
 applications.
