Package: libghc-diagrams-gtk-prof
Source: haskell-diagrams-gtk (1.4-5)
Version: 1.4-5+b1
Architecture: amd64
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Installed-Size: 88
Depends: libghc-diagrams-gtk-dev (= 1.4-5+b1), libghc-base-prof-4.11.1.0-5dd74, libghc-cairo-prof-0.13.5.0-dc87c, libghc-diagrams-cairo-prof-1.4.1-359cb, libghc-diagrams-lib-prof-1.4.2.3-fa0aa, libghc-gtk-prof-0.14.10-179a4
Provides: libghc-diagrams-gtk-prof-1.4-5aad4
Section: haskell
Priority: optional
Homepage: http://projects.haskell.org/diagrams/
Description: Backend for rendering diagrams directly to GTK windows; profiling libraries
 An optional add-on to the diagrams-cairo package which allows rendering
 diagrams directly to GTK windows.
 .
 This package provides a library for the Haskell programming language, compiled
 for profiling.  See http://www.haskell.org/ for more information on Haskell.
