Package: python-tuskarclient-doc
Source: python-tuskarclient
Version: 0.1.18-1
Architecture: all
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Installed-Size: 181
Depends: libjs-sphinxdoc (>= 1.0)
Section: doc
Priority: extra
Homepage: https://github.com/openstack/python-tuskarclient
Description: control how and where OpenStack services are deployed - client doc
 Tuskar gives administrators the ability to control how and where OpenStack
 services are deployed across the datacenter. Using Tuskar, administrators
 divide hardware into "resource classes" that allow predictable elastic scaling
 as cloud demands grow. This resource orchestration allows Tuskar users to
 ensure SLAs, improve performance, and maximize utilization across the
 datacenter.
 .
 Tuskar services are available via a RESTful API and management console through
 which administrators are able to classify their hardware and define their
 datacenters. In addition, Tuskar components provide administrators with
 performance monitoring, health statistics, and usage metrics, aiding in
 capacity planning and hardware procurement decisions.
 .
 This is a client for the OpenStack Tuskar API. There's a Python API
 (the "tuskarclient" module), and a command-line script ("tuskar").
 .
 Installing this package gets you a shell command, that you can use to
 interact with Tuskar's API.
 .
 This package contains the client documentation.
