Package: luckybackup-data
Source: luckybackup
Version: 0.5.0-2
Architecture: all
Maintainer: Patrick Matthäi <pmatthaei@debian.org>
Installed-Size: 13158
Recommends: luckybackup
Section: utils
Priority: optional
Homepage: http://luckybackup.sourceforge.net/
Description: rsync-based GUI data backup utility (data files)
 luckyBackup is an application that backs-up and/or synchronizes any
 directories with the power of rsync.
 Its main features are: backup, safety, synchronization, exclude/only include
 options, allows custom rsync options, remote connections, restore and dry-run
 operations, scheduling, profiles and command line mode.
 .
 It is simple to use, fast (transfers over only changes made and not all data),
 safe (keeps your data safe by checking all declared directories before
 proceeding in any data manipulation ), reliable and fully customizable.
 .
 This package contains the arch independent data files.
