Package: lua-rex-posix
Source: lua-rexlib (2.7.2-4)
Version: 2.7.2-4+b1
Architecture: amd64
Maintainer: Enrico Tassi <gareuselesinge@debian.org>
Installed-Size: 75
Depends: libc6 (>= 2.14)
Provides: lua5.1-rex-posix, lua5.2-rex-posix
Section: interpreters
Priority: optional
Multi-Arch: same
Homepage: http://lrexlib.luaforge.net/
Description: POSIX regular expressions library for the Lua language
 This package provides bindings for POSIX regular expressions to the Lua
 language.
Lua-Versions: 5.1 5.2
