Package: libghc-hsyslog-prof
Source: haskell-hsyslog
Version: 5.0.1-2
Architecture: amd64
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Installed-Size: 982
Depends: libghc-hsyslog-dev (= 5.0.1-2), libghc-base-prof-4.10.1.0-35a7f
Provides: libghc-hsyslog-prof-5.0.1-fd26e
Section: haskell
Priority: optional
Homepage: http://github.com/peti/hsyslog
Description: syslog bindings for Haskell; profiling libraries
 FFI bindings to syslog(3) from POSIX.1-2001.
 .
 This package contains the libraries compiled with profiling enabled.
