Package: libghc-dependent-sum-template-prof
Source: haskell-dependent-sum-template
Version: 0.0.0.6-2
Architecture: amd64
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Installed-Size: 361
Depends: libghc-dependent-sum-template-dev (= 0.0.0.6-2), libghc-base-prof-4.10.1.0-35a7f, libghc-dependent-sum-prof-0.4-405e7, libghc-template-haskell-prof-2.12.0.0-22576, libghc-th-extras-prof-0.0.0.4-82854
Provides: libghc-dependent-sum-template-prof-0.0.0.6-2c7f9
Section: haskell
Priority: optional
Homepage: http://hackage.haskell.org/package/dependent-sum-template
Description: Automatically generate instances of classes in dependent-sum package; profiling libraries
 Using the Template Haskell code in this package, you can create instances for
 classes liek GEq and GCompare automatically.
 .
 This package provides a library for the Haskell programming language, compiled
 for profiling.  See http://www.haskell.org/ for more information on Haskell.
