Package: nova-scheduler
Source: nova
Version: 2:18.0.3-4
Architecture: all
Maintainer: Debian OpenStack <team+openstack@tracker.debian.org>
Installed-Size: 52
Depends: nova-common (= 2:18.0.3-4), lsb-base (>= 3.0.6), python3:any
Section: net
Priority: optional
Homepage: http://www.openstack.org/software/openstack-compute/
Description: OpenStack Compute - virtual machine scheduler
 OpenStack is a reliable cloud infrastructure. Its mission is to produce
 the ubiquitous cloud computing platform that will meet the needs of public
 and private cloud providers regardless of size, by being simple to implement
 and massively scalable.
 .
 OpenStack Compute, codenamed Nova, is a cloud computing fabric controller
 designed to be modular and easy to extend and adapt. In addition to its
 "native" OpenStack API, it also supports the Amazon EC2 API, and it supports
 many different database backends (including SQLite, MySQL, and PostgreSQL),
 hypervisors (KVM, Xen), and user directory systems (LDAP, SQL).
 .
 This is the Nova scheduler.
