Package: libautomaton-java
Source: automaton
Version: 1.11-8+dfsg1-1
Architecture: all
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Installed-Size: 851
Section: java
Priority: optional
Homepage: http://www.brics.dk/automaton/index.html
Description: Finite-State Automaton for Regular Expressions
 Automaton is a DFA/NFA (finite-state automata) implementation with Unicode
 alphabet (UTF16) and support for the standard regular expression operations
 (concatenation, union, Kleene star) and a number of non-standard ones
 (intersection, complement, etc.).
