Package: liburi-template-perl
Version: 0.22-0.1
Architecture: all
Maintainer: Ian Beckwith <ianb@debian.org>
Installed-Size: 30
Depends: perl, liburi-perl
Section: perl
Priority: optional
Homepage: http://search.cpan.org/dist/URI-Template/
Description: handle URI templates in perl
 This module provides a wrapper around URI templates as described at
 http://bitworking.org/projects/URI-Templates/
 .
 URI Templates are strings that are transformed into URIs after
 embedded variables are expanded.
