Package: libjs-husl
Source: node-husl
Version: 6.0.1+dfsg-1
Architecture: all
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Installed-Size: 28
Recommends: javascript-common
Section: web
Priority: optional
Homepage: http://www.husl-colors.org
Description: Human-friendly HSL - Javascript
 HUSL is implemented as a set of functions to convert colors between RGB,
 HUSL and HUSLp.
 .
 This package contains the browser-side Javascript.
