Package: python-sklearn-doc
Source: scikit-learn
Version: 0.20.1+dfsg-1
Architecture: all
Maintainer: Debian Science Team <debian-science-maintainers@lists.alioth.debian.org>
Installed-Size: 88203
Depends: libjs-sphinxdoc (>= 1.0), libjs-bootstrap, libjs-mathjax
Suggests: python-sklearn
Conflicts: python-scikits-learn-doc
Replaces: python-scikits-learn-doc
Built-Using: sphinx (= 1.7.9-1)
Section: doc
Priority: optional
Homepage: http://scikit-learn.sourceforge.net
Description: documentation and examples for scikit-learn
 This package contains documentation and example scripts for
 python-sklearn.
