Package: libkpimsmtp-dev
Source: ksmtp
Version: 17.12.3-1
Architecture: amd64
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Installed-Size: 56
Depends: libkf5coreaddons-dev (>= 5.39.0~), libkf5mime-dev (>= 17.12.3~), libkpimsmtp5 (= 17.12.3-1)
Section: libdevel
Priority: optional
Homepage: https://projects.kde.org/projects/kde/pim/ksmtp
Description: library for handling SMTP data - devel files
 This library provides an API for handling SMTP services.
 SMTP (Simple Mail Transfer Protocol) is the most prevalent
 Internet standard protocols for e-mail transmission.
 .
 This package contains the development files.
