Package: libraptor2-doc
Source: raptor2
Version: 2.0.14-1
Architecture: all
Maintainer: Dave Beckett <dajobe@debian.org>
Installed-Size: 1524
Depends: lynx | www-browser
Section: doc
Priority: optional
Homepage: http://librdf.org/raptor/
Description: Documentation for the Raptor 2 RDF syntax library
 Raptor is a C library providing a set of parsers and serializers for
 Resource Description Framework (RDF) triples by parsing syntaxes or
 serializing the triples into a syntax.
 .
 This package contains the HTML documentation for the Raptor library
 in /usr/share/doc/libraptor2-doc/ .
