Package: libgnatcoll-gtk17.0-dev
Source: libgnatcoll
Version: 17.0.2017-4
Architecture: amd64
Maintainer: Nicolas Boulenguez <nicolas@debian.org>
Installed-Size: 198
Depends: python-gi-dev, libgtkada17.0-dev, libgnatcoll16.1.0-dev (= 17.0.2017-4), libgnatcoll-python16.1.0-dev (= 17.0.2017-4), gnat, gnat-7, libgnatcoll-gtk17.0.2017 (= 17.0.2017-4)
Suggests: libgnatcoll-doc
Breaks: libgnatcoll-gtk16.1.0-dev
Replaces: libgnatcoll-gtk16.1.0-dev
Section: libdevel
Priority: optional
Homepage: http://libre.adacore.com/libre/tools
Description: GNATColl, general purpose Ada library (GTKAda)
 The GNAT Component Collection deals with: module tracing, efficient
 file IO, static string searching (Boyer-Moore), e-mails and
 mailboxes, Ravenscar tasking profiles, storage pools, JSON, logging,
 shell scripting. Components relying on external dependencies are
 distributed in separate packages.
 .
 This package contains the static library and Ada specifications
 for the GTKAda extension.
