Package: libdbd-freetds
Source: libdbi-drivers
Version: 0.9.0-6
Architecture: amd64
Maintainer: Laszlo Boszormenyi (GCS) <gcs@debian.org>
Installed-Size: 50
Depends: libc6 (>= 2.8), libct4 (>= 0.64), libdbi1 (>= 0.8.4)
Section: libs
Priority: optional
Multi-Arch: same
Homepage: http://libdbi.sourceforge.net/
Description: Freetds database server driver for libdbi
 This driver provides connectivity to MS SQL Server or Sybase database
 servers through the libdbi Database Independent Abstraction Layer using
 Freetds. Switching a program's driver does not require recompilation or
 rewriting source code.
