Package: libisns0
Source: open-isns
Version: 0.97-2
Architecture: amd64
Maintainer: Debian iSCSI Maintainers <pkg-iscsi-maintainers@lists.alioth.debian.org>
Installed-Size: 1000
Depends: libc6 (>= 2.14), libssl1.1 (>= 1.1.0)
Recommends: netbase
Section: libs
Priority: optional
Multi-Arch: same
Homepage: https://github.com/open-iscsi/open-isns
Description: Internet Storage Name Service - shared libraries
 Open-iSNS is an implementation of the Internet Storage Name Service
 (iSNS), according to RFC 4171, which facilitates automated discovery,
 management, and configuration of iSCSI and Fibre Channel devices on a
 TCP/IP network.
 .
 This package provides the libisns shared library for use in client
 applications.
