Package: python3-booleanoperations
Source: python-booleanoperations
Version: 0.8.1-1
Architecture: all
Maintainer: Debian Fonts Task Force <debian-fonts@lists.debian.org>
Installed-Size: 91
Depends: python3-fonttools, python3-pyclipper (>= 1.0.5), python3:any
Section: python
Priority: optional
Homepage: https://github.com/typemytype/booleanOperations
Description: Python library for Boolean operations on paths
 Boolean operations on paths based on a super fast polygon clipper library.
