Package: r-cran-rotl
Version: 3.0.5-1
Architecture: all
Maintainer: Debian R Packages Maintainers <r-pkg-team@alioth-lists.debian.net>
Installed-Size: 703
Depends: r-base-core (>= 3.5.1-1), r-api-3.5, r-cran-httr, r-cran-jsonlite, r-cran-assertthat (>= 0.1), r-cran-rncl (>= 0.6.0), r-cran-ape, r-cran-rentrez
Recommends: r-cran-testthat
Suggests: r-cran-knitr (>= 1.12), r-cran-rmarkdown (>= 0.7), r-cran-rnexml, r-cran-phylobase, r-cran-readxl
Section: gnu-r
Priority: optional
Homepage: https://cran.r-project.org/package=rotl
Description: GNU R interface to the 'Open Tree of Life' API
 An interface to the 'Open Tree of Life' API to retrieve phylogenetic
 trees, information about studies used to assemble the synthetic tree,
 and utilities to match taxonomic names to 'Open Tree identifiers'. The
 'Open Tree of Life' aims at assembling a comprehensive phylogenetic tree
 for all named species.
