Package: libuncommons-watchmaker-swing-java
Source: uncommons-watchmaker
Version: 0.7.1-1
Architecture: all
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Installed-Size: 82
Depends: libjfreechart-java, libuncommons-watchmaker-framework-java (>= 0.7.1-1)
Suggests: uncommons-watchmaker-doc
Section: java
Priority: optional
Homepage: http://watchmaker.uncommons.org
Description: Framework for Evolutionary Computation - Swing library
 The Watchmaker Framework for Evolutionary Computation is an extensible,
 high-performance, object-oriented framework for implementing
 platform-independent evolutionary algorithms in Java.
 .
 This package provides classes to simplify the development of Swing GUIs for
 evolutionary programs.
