Package: git-debrebase
Source: dgit
Version: 8.1
Architecture: all
Maintainer: Ian Jackson <ijackson@chiark.greenend.org.uk>
Installed-Size: 197
Depends: perl, git-core, libdpkg-perl, libfile-fnmatch-perl, devscripts, liblocale-gettext-perl
Recommends: dgit, git-buildpackage
Section: devel
Priority: optional
Description: rebasing git workflow tool for Debian packaging
 git-debrebase is a tool for representing in git, and manipulating,
 Debian packages based on upstream source code.
