Package: libghc-set-extra-doc
Source: haskell-set-extra
Version: 1.4.1-1
Architecture: all
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Installed-Size: 145
Depends: haddock-interface-31
Recommends: ghc-doc, libjs-mathjax
Section: doc
Priority: optional
Homepage: https://github.com/ddssff/set-extra
Description: utility functions for working with sets; documentation
 This package provides function that are commonly needed when working with
 sets, but are not part of the standard library.
 .
 This package provides the documentation for a library for the Haskell
 programming language.
 See http://www.haskell.org/ for more information on Haskell.
