Package: libhijk-perl
Version: 0.27-1
Architecture: all
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Installed-Size: 65
Depends: perl
Section: perl
Priority: optional
Homepage: https://metacpan.org/release/Hijk
Description: simple perl module for easily accessing HTTP services
 Hijk is a specialized HTTP Client that does nothing but transport the response
 body back. It does not feature as a "user agent", but as a dumb client. It is
 suitable for connecting to data servers transporting via HTTP rather then web
 servers.
 .
 Most of HTTP features like proxy, redirect, Transfer-Encoding, or SSL are not
 supported at all. For those requirements there already are many good HTTP
 clients like HTTP::Tiny, Furl or LWP::UserAgent.
