Package: python-networkx-doc
Source: python-networkx
Version: 2.1-1
Architecture: all
Maintainer: Sandro Tosi <morph@debian.org>
Installed-Size: 33236
Depends: libjs-mathjax, libjs-sphinxdoc (>= 1.0), sphinx-rtd-theme-common
Section: doc
Priority: optional
Homepage: http://networkx.github.io/
Description: tool to create, manipulate and study complex networks - documentation
 NetworkX is a Python-based package for the creation, manipulation, and
 study of the structure, dynamics, and functions of complex networks.
 .
 The structure of a graph or network is encoded in the edges (connections,
 links, ties, arcs, bonds) between nodes (vertices, sites, actors). If
 unqualified, by graph it's meant a simple undirected graph, i.e. no
 self-loops and no multiple edges are allowed. By a network it's usually
 meant a graph with weights (fields, properties) on nodes and/or edges.
 .
 The potential audience for NetworkX includes: mathematicians, physicists,
 biologists, computer scientists, social scientists.
 .
 This package contains documentation for NetworkX.
