Package: python-tango-doc
Source: pytango
Version: 9.2.4-2
Architecture: all
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Installed-Size: 6267
Depends: libjs-sphinxdoc (>= 1.0), sphinx-rtd-theme-common (>= 0.4.0+dfsg)
Breaks: python-pytango-doc (<< 9.2.0-2~)
Replaces: python-pytango-doc (<< 9.2.0-2~)
Section: doc
Priority: optional
Homepage: http://www.tango-controls.org/static/PyTango/latest/doc/html/
Description: API for the TANGO control system
 TANGO is an object oriented distributed control system using CORBA,
 mainly developed by the Controls Section of the ALBA Synchrotron.
 PyTango provides bindings for its client- and server-side C++ APIs.
 With PyTango, you can write TANGO device servers and TANGO applications
 (scripts, CLIs, GUIs) that access TANGO device servers in pure Python.
 .
 This package contains the documentation for the python-tango library.
