Package: libspring-messaging-java
Source: libspring-java
Version: 4.3.21-1
Architecture: all
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Installed-Size: 421
Depends: libspring-beans-java (= 4.3.21-1), libspring-context-java (= 4.3.21-1)
Suggests: libreactor-core-java (>= 2.0.8)
Section: java
Priority: optional
Homepage: http://spring.io/projects/spring-framework
Description: modular Java/J2EE application framework - Messaging tools
 Spring is a layered Java/J2EE application framework offering a lot of freedom
 to Java developers yet providing well documented and easy-to-use solutions for
 common practices in the industry.
 .
 This package provide spring-messaging.jar.
