Package: libencode-arabic-perl
Version: 14.2-1
Architecture: all
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Installed-Size: 379
Depends: perl
Suggests: libfile-which-perl, libelixirfm-perl
Section: perl
Priority: optional
Homepage: https://metacpan.org/release/Encode-Arabic
Description: perl implementation for Arabic encodings
 Encode::Arabic is a wrapper for various implementations of the encoding
 systems used for the Arabic language and covering even some non-Arabic
 extensions to the Arabic script. The included modules fit in the philosophy of
 Encode::Encoding and can be used directly with the Encode module.
