Package: libsah-schemas-rinci-perl
Version: 1.1.87.0-1
Architecture: all
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Installed-Size: 56
Depends: perl, libdata-sah-normalize-perl
Breaks: librinci-perl (<< 1.1.81)
Replaces: librinci-perl (<< 1.1.81)
Section: perl
Priority: optional
Homepage: https://metacpan.org/release/Sah-Schemas-Rinci
Description: Sah schemas for Rinci
 Sah::Schemas::Rinci contains Sah schemas for Rinci.
 .
 Sah is a schema language for validating data structures, and Rinci is a set
 of extensible, language-neutral metadata specifications for code.
