Package: libtemplate-plugin-javascript-perl
Version: 0.02-2
Architecture: all
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Installed-Size: 19
Depends: perl, libtemplate-perl
Section: perl
Priority: optional
Homepage: https://metacpan.org/release/Template-Plugin-JavaScript
Description: Perl module to sanitize text for JavaScript
 Template::Plugin::JavaScript is a Template Toolkit filter that automatically
 sanitizes your text so it can be used safely in JavaScript quotes. You simply
 enable the filter inside a JavaScript string, resulting in any metacharacters
 being automatically escaped.
