Package: libgenome-perl
Version: 0.06-5
Architecture: all
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Installed-Size: 110
Depends: perl, libgetopt-complete-perl, libio-string-perl, libur-perl
Recommends: med-config (>= 2.1)
Section: perl
Priority: optional
Homepage: https://metacpan.org/release/Genome
Description: pipelines, tools, and data management for genomics
 This is the base namespace module for the Genome software tree.
 .
 That tree has several primary components:
 .
 Genome::Model: a data modeling pipeline management system for genomics
 .
 Genome::Model::Tools a tree of >1000 tools and tool wrappers for genomics
 .
 Genome::* a variety of sample tracking classes with an RDBMS back-end
 .
 Only the tools system is currently released.
 .
 See genome for a complete inventory of all tool packages, and for
 command-line access to those tools.
