Package: libmanette-0.2-dev
Source: libmanette
Version: 0.2.1-2
Architecture: amd64
Maintainer: Debian GNOME Maintainers <pkg-gnome-maintainers@lists.alioth.debian.org>
Installed-Size: 60
Depends: gir1.2-manette-0.2 (= 0.2.1-2), libmanette-0.2-0 (= 0.2.1-2), libevdev-dev (>= 1.4.5), libglib2.0-dev (>= 2.50.0), libgudev-1.0-dev
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: https://gitlab.gnome.org/aplazas/libmanette
Description: Simple GObject game controller library - development files
 libmanette is a library for using game controllers using an API inspired
 by GDK's device and event handling. It supports the W3C Draft Gamepad
 specification.
 .
 This package contains the development files.
