Package: haml-elisp
Version: 1:3.1.0-3.1
Architecture: all
Maintainer: Gastón Ramos <ramos.gaston@gmail.com>
Installed-Size: 65
Depends: emacs
Recommends: ruby-haml
Section: lisp
Priority: optional
Homepage: http://haml.info/
Description: Emacs Lisp mode for the Haml markup language
 This package provides the emacs-lisp for syntax-highlighting Haml
 mode for emacs. Haml (see haml-ruby) is a markup language designed
 to simplify and beautify the maintenance and ease of writing HTML templates.
