Package: golang-github-juju-httpprof-dev
Source: golang-github-juju-httpprof
Version: 0.0~git20141217.14bf14c-3
Architecture: all
Maintainer: Debian Go Packaging Team <pkg-go-maintainers@lists.alioth.debian.org>
Installed-Size: 21
Section: devel
Priority: optional
Homepage: https://github.com/juju/httpprof
Description: fork of net/http/pprof which works when not at the server's root
 package pprof is afork of net/http/pprof which works when not at the
 server's root.
 .
 The API is identical to net/http/pprof, with additional exported members to
 support the use case.
