Package: python-libturpial
Source: libturpial
Version: 1.7.0-4
Architecture: all
Maintainer: Debian QA Group <packages@qa.debian.org>
Installed-Size: 518
Depends: python-simplejson (>= 3.3.1~), python-requests (>= 2.0.0~), python (<< 2.8), python (>= 2.7), python-oauth, python-pkg-resources, python:any (>= 2.6.6-7~)
Section: python
Priority: optional
Homepage: https://github.com/satanas/libturpial
Description: Python library that handles multiple microblogging protocols
 libturpial aims to implement all the features and support the main
 microblogging platforms like Twitter and Identi.ca.
 .
 libturpial is the backend of Turpial microblogging client.
