Package: gadmin-samba
Source: gadmin-samba (0.2.9-3)
Version: 0.2.9-3+b2
Architecture: amd64
Maintainer: Debian QA Group <packages@qa.debian.org>
Installed-Size: 305
Depends: libatk1.0-0 (>= 1.12.4), libc6 (>= 2.14), libcairo2 (>= 1.2.4), libfontconfig1 (>= 2.11), libfreetype6 (>= 2.2.1), libgdk-pixbuf2.0-0 (>= 2.22.0), libglib2.0-0 (>= 2.16.0), libgtk2.0-0 (>= 2.8.0), libpango-1.0-0 (>= 1.14.0), libpangocairo-1.0-0 (>= 1.14.0), libpangoft2-1.0-0 (>= 1.14.0), menu, samba, samba-common-bin
Section: admin
Priority: optional
Homepage: http://www.gadmintools.org/
Description: GTK+ configuration tool for samba
 gadmin-samba is an easy to use GTK+ frontend for the SAMBA file and print
 server. It features multiple local and remote user and group imports, on the
 fly share creation and user handling, including randomization of usernames and
 passwords. PDF printing to shared/private directories or email. It also
 features three levels of domain management strategies.
