Package: anthy-common
Source: anthy
Version: 1:0.3-7
Architecture: all
Maintainer: Debian Input Method Team <debian-input-method@lists.debian.org>
Installed-Size: 27287
Recommends: kasumi
Section: utils
Priority: optional
Multi-Arch: foreign
Homepage: https://wiki.debian.org/Teams/DebianAnthy
Description: Japanese kana-kanji conversion - dictionary
 Anthy is kana-kanji conversion engine for Japanese.  It converts
 hiragana text to mixed kana and kanji.  It is implemented as a library
 and stores private information in ~/.anthy/.
 .
 This package provides common dictionary data files.
