Package: libghc-monads-tf-dev
Source: haskell-monads-tf (0.1.0.3-5)
Version: 0.1.0.3-5+b2
Architecture: amd64
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Installed-Size: 973
Depends: libghc-base-dev-4.11.1.0-5dd74, libghc-transformers-dev-0.5.5.0-b5d2f, libatomic1 (>= 4.8), libc6 (>= 2.2.5), libgmp10
Suggests: libghc-monads-tf-doc, libghc-monads-tf-prof
Provides: libghc-monads-tf-dev-0.1.0.3-648cc
Section: haskell
Priority: optional
Homepage: http://hackage.haskell.org/package/monads-tf
Description: monad classes, using type families
 Monad classes using type families, with instances for various monad
 transformers, inspired by the paper /Functional Programming with
 Overloading and Higher-Order Polymorphism/, by Mark P Jones, in Advanced
 School of Functional Programming, 1995
 (http://web.cecs.pdx.edu/~mpj/pubs/springschool.html).
 .
 This package contains the normal library files.
Ghc-Package: monads-tf-0.1.0.3-Giaow1Z3bgu7ae1ewXz7xU
