Package: node-array-from
Version: 2.1.1-1
Architecture: all
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Installed-Size: 34
Depends: nodejs
Section: web
Priority: optional
Homepage: https://github.com/studio-b12/array-from#readme
Description: ES2015 Array.from ponyfill
 Node.js module providing a ponyfill (i.e. a polyfill that
 doesn't overwrite the native method) for the ES 2015 (ES6)
 Array.from().
 .
 Node.js is an event-based server-side JavaScript engine.
