Package: libmagickcore-dev
Source: imagemagick
Version: 8:6.9.10.8+dfsg-1
Architecture: all
Maintainer: ImageMagick Packaging Team <pkg-gmagick-im-team@lists.alioth.debian.org>
Installed-Size: 12
Pre-Depends: dpkg (>= 1.15.7.2)
Depends: imagemagick-6-common (= 8:6.9.10.8+dfsg-1), libmagickcore-6.q16-dev
Section: oldlibs
Priority: optional
Homepage: https://www.imagemagick.org/
Description: low-level image manipulation library -- dummy package
 This package included header files and static libraries needed to compile
 programs using MagickCore.
 .
 This is a transitional package to help migrate systems to the new
 ABI of libmagickcore-6 development files for default channel depth.
 .
 This is a dummy package.  You can safely purge or remove it.
