Package: libglobus-authz0
Source: globus-authz
Version: 4.1-1
Architecture: amd64
Maintainer: Mattias Ellert <mattias.ellert@physics.uu.se>
Installed-Size: 38
Depends: libc6 (>= 2.4), libglobus-authz-callout-error0 (>= 2), libglobus-callout0 (>= 3), libglobus-common0 (>= 17), libglobus-gsi-sysconfig1 (>= 8)
Section: libs
Priority: optional
Multi-Arch: same
Homepage: https://github.com/gridcf/gct/
Description: Grid Community Toolkit - Globus authz library
 The Grid Community Toolkit (GCT) is an open source software toolkit used for
 building grid systems and applications. It is a fork of the Globus Toolkit
 originally created by the Globus Alliance. It is supported by the Grid
 Community Forum (GridCF) that provides community-based support for core
 software packages in grid computing.
 .
 The libglobus-authz0 package contains:
 Globus authz library
