Package: hebcal
Source: hebcal (3.5-2.1)
Version: 3.5-2.1+b1
Architecture: amd64
Maintainer: Shaya Potter <spotter@cs.columbia.edu>
Installed-Size: 136
Depends: libc6 (>= 2.14)
Section: utils
Priority: optional
Homepage: https://github.com/hebcal/hebcal
Description: A Perpetual Jewish Calendar
 Hebcal is a program which prints out the days in the Jewish calendar
 for a given gregorian year.  Hebcal is fairly flexible in terms of which
 events in the Jewish calendar it displays.
