Package: libdoxia-core-java
Source: doxia
Version: 1.7-2
Architecture: all
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Installed-Size: 242
Depends: libcommons-lang-java, libhttpclient-java, libplexus-utils-java, libmaven-parent-java
Breaks: libdoxia-java (<= 1.1.4-2)
Replaces: libdoxia-java (<= 1.1.4-2)
Section: java
Priority: optional
Homepage: http://maven.apache.org/doxia/
Description: Doxia content generation framework (core)
 Doxia is a content generation framework which aims to provide its users
 with powerful techniques for generating static and dynamic content.
 .
 Doxia can be used to generate static sites in addition to being
 incorporated into dynamic content generation systems like blogs, wikis
 and content management systems.
 .
 Doxia is used extensively by Maven and it powers the entire
 documentation system of Maven. It gives Maven the ability to take any
 document that Doxia supports and output it any format.
 .
 This package contains the core modules (doxia-core, doxia-sink-api and
 doxia-logging-api).
