Package: node-seq
Version: 0.3.5-2
Architecture: all
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Installed-Size: 40
Depends: nodejs, node-hashish (>= 0.0.2), node-chainsaw (>= 0.0.7)
Section: javascript
Priority: optional
Homepage: https://github.com/substack/node-seq
Description: Chainable asynchronous flow control
 Seq is an asynchronous flow control library with a chainable interface for
 sequential and parallel actions. Even the error handling is chainable.
 .
 Each action in the chain operates on a stack of values. There is also a
 variables hash for storing values by name.
 .
 Node.js is an event-based server-side JavaScript engine.
