Package: libowl-directsemantics-perl
Version: 0.001-2
Architecture: all
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Installed-Size: 319
Depends: perl, libwww-perl, libmoose-perl (>= 2.02), librdf-trine-perl, liburi-perl, libmodule-pluggable-perl | perl (<< 5.17.0)
Section: perl
Priority: optional
Homepage: https://metacpan.org/release/OWL-DirectSemantics
Description: representation of the direct semantics of OWL2
 The Web Ontology Language (OWL) is a family of knowledge representation
 languages for authoring ontologies.
 .
 Resource Description Framework (RDF) is a standard model for data
 interchange on the Web.
 .
 OWL::DirectSemantics provides a basic framework for representing the
 OWL 2 direct semantics model, and a translator to build that model from
 an RDF-based model.
