Package: librust-rustdoc-stripper-dev
Source: rust-rustdoc-stripper
Version: 0.1.5-1
Architecture: amd64
Maintainer: Debian Rust Maintainers <pkg-rust-maintainers@alioth-lists.debian.net>
Installed-Size: 126
Provides: librust-rustdoc-stripper+default-dev (= 0.1.5-1), librust-rustdoc-stripper-0+default-dev (= 0.1.5-1), librust-rustdoc-stripper-0-dev (= 0.1.5-1), librust-rustdoc-stripper-0.1+default-dev (= 0.1.5-1), librust-rustdoc-stripper-0.1-dev (= 0.1.5-1), librust-rustdoc-stripper-0.1.5+default-dev (= 0.1.5-1), librust-rustdoc-stripper-0.1.5-dev (= 0.1.5-1)
Section: utils
Priority: optional
Multi-Arch: same
Homepage: https://github.com/GuillaumeGomez/rustdoc-stripper
Description: Manipulate rustdoc comments - Rust source code
 This package contains the source for the Rust rustdoc-stripper crate, packaged
 by debcargo for use with cargo and dh-cargo.
