Package: libsquid-dev
Source: biosquid
Version: 1.9g+cvs20050121-11
Architecture: amd64
Maintainer: Debian-Med Packaging Team <debian-med-packaging@lists.alioth.debian.org>
Installed-Size: 741
Depends: libsquid1 (= 1.9g+cvs20050121-11)
Breaks: biosquid-dev
Replaces: biosquid-dev
Provides: biosquid-dev
Section: libdevel
Priority: optional
Homepage: http://eddylab.org/software.html
Description: biosquid headers and static library for biological sequence analysis
 SQUID is a library of C code functions for sequence analysis. It also
 includes a number of small utility programs to convert, show statistics,
 manipulate and do other functions on sequence files.
 .
 The original name of the package is "squid", but since there is already
 a squid on the archive (a proxy cache), it was renamed to "biosquid".
 .
 This package contains the header files and the static SQUID library.
