Package: dogtag-pki-server-theme
Source: dogtag-pki
Version: 10.6.6-2
Architecture: all
Maintainer: Debian FreeIPA Team <pkg-freeipa-devel@alioth-lists.debian.net>
Installed-Size: 537
Section: web
Priority: optional
Homepage: http://pki.fedoraproject.org
Description: Certificate System - PKI Server User Interface
 This PKI Common Framework User Interface contains the Dogtag
 textual and graphical user interface for the PKI Common Framework.
 .
 This package is used by the Dogtag Certificate System.
