Package: libghc-typed-process-dev
Source: haskell-typed-process (0.2.3.0-2)
Version: 0.2.3.0-2+b2
Architecture: amd64
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Installed-Size: 839
Depends: libghc-async-dev-2.2.1-e4f49, libghc-base-dev-4.11.1.0-5dd74, libghc-bytestring-dev-0.10.8.2-76891, libghc-process-dev-1.6.3.0-5105e, libghc-stm-dev-2.4.5.1-e1689, libghc-transformers-dev-0.5.5.0-b5d2f, libatomic1 (>= 4.8), libc6 (>= 2.2.5), libgmp10
Suggests: libghc-typed-process-doc, libghc-typed-process-prof
Provides: libghc-typed-process-dev-0.2.3.0-b88d4
Section: haskell
Priority: optional
Homepage: https://haskell-lang.org/library/typed-process
Description: run external processes, with strong typing of streams
 This library provides the ability to launch and interact with
 external processes. It wraps around the process library, and intends
 to improve upon it by:
 .
  * Using type variables to represent the standard streams, making
    them easier to manipulate
  * Use proper concurrency (e.g., the async library) in place of the
    weird lazy I/O tricks for such things as consuming output streams
  * Allow for more complex concurrency by providing STM-based functions
  * Using binary I/O correctly
  * Providing a more composable API, designed to be easy to use for
    both simple and complex use cases
 .
 This package provides a library for the Haskell programming language.
 See http://www.haskell.org/ for more information on Haskell.
Ghc-Package: typed-process-0.2.3.0-HRijrt94ILBHC1HAJPK1aW
