Package: node-hook-std
Version: 0.2.0-1
Architecture: all
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Installed-Size: 16
Depends: nodejs
Section: web
Priority: optional
Homepage: https://github.com/sindresorhus/hook-std
Description: Hook and modify stdout/stderr
 .
 Node.js is an event-based server-side JavaScript engine.
