Package: lib32go7-sparc64-cross
Source: gcc-5-cross-ports (20)
Version: 5.5.0-10cross3
Architecture: all
Maintainer: Debian GCC Maintainers <debian-gcc@lists.debian.org>
Installed-Size: 23780
Depends: gcc-5-cross-base-ports (= 5.5.0-10cross3), lib32gcc1-sparc64-cross, libc6-sparc-sparc64-cross (>= 2.27)
Conflicts: libc6-i386 (<< 2.9-22)
Replaces: lib32go3-sparc64-cross
Built-Using: gcc-5 (= 5.5.0-10)
Section: devel
Priority: optional
Homepage: http://gcc.gnu.org/
Description: Runtime library for GNU Go applications (32bit)
 Library needed for GNU Go applications linked against the
 shared library.
