Package: pydb
Version: 1.26-2
Architecture: all
Maintainer: Oleksandr Moskalenko <malex@debian.org>
Installed-Size: 446
Depends: python:any (<< 2.8), python:any (>= 2.7.5-5~)
Suggests: ddd, emacs22
Section: devel
Priority: optional
Homepage: http://bashdb.sourceforge.net/pydb/
Description: An enhanced Python command-line debugger
 Pydb is a command-line debugger for Python. It is based on the standard
 Python debugger pdb, but has a number of added features. Particularly, it is
 suitable for use with DDD, a graphical debugger front end.
