Package: libpython3.7
Source: python3.7
Version: 3.7.2~rc1-1
Architecture: amd64
Maintainer: Matthias Klose <doko@debian.org>
Installed-Size: 5032
Depends: libpython3.7-stdlib (= 3.7.2~rc1-1), libc6 (>= 2.28), libexpat1 (>= 2.1~beta3), zlib1g (>= 1:1.2.0)
Section: libs
Priority: optional
Multi-Arch: same
Description: Shared Python runtime library (version 3.7)
 Python is a high-level, interactive, object-oriented language. Its 3.7 version
 includes an extensive class library with lots of goodies for
 network programming, system administration, sounds and graphics.
 .
 This package contains the shared runtime library, normally not needed
 for programs using the statically linked interpreter.
