Package: wp2x
Version: 2.5-mhi-13
Architecture: amd64
Maintainer: Petter Reinholdtsen <pere@debian.org>
Installed-Size: 215
Depends: libc6 (>= 2.7)
Suggests: libwpd-tools
Section: text
Priority: optional
Homepage: ftp://ftp.penguin.cz/pub/users/mhi/wp2x/
Description: WordPerfect 5.x documents to whatever converter
 This program converts simple WordPerfect 5.0 and 5.1 files into any
 other document processing languages that use plain text files, like
 TeX, LaTeX, troff, GML and HTML.
