Package: libaa1
Source: aalib (1.4p5-44)
Version: 1.4p5-44+b2
Architecture: amd64
Maintainer: Gergely Nagy <algernon@madhouse-project.org>
Installed-Size: 154
Depends: libc6 (>= 2.15), libgpm2 (>= 1.20.7), libncurses6 (>= 6), libslang2 (>= 2.2.4), libtinfo6 (>= 6), libx11-6
Replaces: aalib1
Provides: aalib1
Section: libs
Priority: optional
Multi-Arch: same
Homepage: http://aa-project.sourceforge.net/aalib/
Description: ASCII art library
 AAlib is a portable ASCII art graphics library. Internally, it works like
 a graphics display, but the output is rendered into gorgeous platform
 independent ASCII graphics.
