Package: python-dbg
Source: python-defaults
Version: 2.7.15-3
Architecture: amd64
Maintainer: Matthias Klose <doko@debian.org>
Installed-Size: 20
Depends: python (= 2.7.15-3), libpython-dbg (= 2.7.15-3), python2.7-dbg (>= 2.7.15-1~), python2-dbg (= 2.7.15-3)
Section: debug
Priority: optional
Multi-Arch: allowed
Homepage: https://www.python.org/
Description: debug build of the Python Interpreter2 (version 2.7)
 Python2 interpreter configured with --pydebug. Dynamically loaded modules are
 searched in /usr/lib/python2.7/lib-dynload/debug first.
