Package: libdvbv5-0
Source: v4l-utils
Version: 1.16.3-1
Architecture: amd64
Maintainer: Gregor Jasny <gjasny@googlemail.com>
Installed-Size: 429
Depends: libc6 (>= 2.17), libudev1 (>= 183)
Section: libs
Priority: optional
Multi-Arch: same
Homepage: https://linuxtv.org/downloads/v4l-utils/
Description: Libraries to control, scan and zap on Digital TV channels
 This library provides functions to work with DVB devices that
 implement the DVB v5 API.
 .
 This package contains the shared libraries.
