Package: chezscheme9.5-doc
Source: chezscheme
Version: 9.5+dfsg-6
Architecture: all
Maintainer: Göran Weinholt <weinholt@debian.org>
Installed-Size: 3881
Section: doc
Priority: optional
Multi-Arch: foreign
Homepage: https://cisco.github.io/ChezScheme/
Description: Reliable, high performance Scheme compiler (documentation)
 Chez Scheme is both a programming language and an implementation of
 that language, with supporting tools and documentation.
 .
 This package contains the documentation.
