Package: libshadowsocks-libev-dev
Source: shadowsocks-libev
Version: 3.2.3+ds-1
Architecture: amd64
Maintainer: Roger Shimizu <rosh@debian.org>
Installed-Size: 37
Depends: libshadowsocks-libev2 (= 3.2.3+ds-1)
Breaks: shadowsocks-libev (<< 2.4.0)
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: https://www.shadowsocks.org
Description: lightweight and secure socks5 proxy (development files)
 Shadowsocks-libev is a lightweight and secure socks5 proxy for
 embedded devices and low end boxes.
 .
 Shadowsocks-libev was inspired by Shadowsock (in Python). It's rewritten
 in pure C and only depends on libev, mbedTLS and a few other tiny
 libraries.
 .
 This package provides C header files for the libraries.
