Package: science-nanoscale-physics
Source: debian-science
Version: 1.8
Architecture: all
Maintainer: Debian Science Team <debian-science-maintainers@lists.alioth.debian.org>
Installed-Size: 37
Depends: science-config (= 1.8), science-tasks (= 1.8)
Recommends: abinit, avogadro, cadabra, cbflib-bin, cp2k, drawxtl, etsf-io, feynmf, fityk, garlic, gdis, ggobi, ghemical, gnuplot, gpaw, gperiodic, grace, graphviz, gsl-bin, gwyddion, libblas3, libfftw3-3, liblapack3, mayavi2, mpqc, nco, ncview, netcdf-bin, octave, openmpi-bin | mpich, openmx, psi3, python-ase, python-scipy, python-sympy, python3-lmfit | python-lmfit, pyxplot, quantum-espresso, science-numericalcomputation, scilab, udav, v-sim
Suggests: ape, atompaw, axiom, bigdft, dx, dx-doc, dxsamples, exciting, extrema, fdmnes, feel++-apps, gpiv, gpivtools, hdf5-helpers, hdf5-tools, horae, ifeffit, libgraphviz-perl, libgsl0ldbl, liblevmar-2-6, libxc, maxima, netcdf-doc, octaviz, octopus, openmpi-doc | mpich-doc, pymca, python-elemental, python-pygraphviz, python-scientific, python-scitools, qtiplot, scidavis, science-mathematics, science-statistics, scilab-sivp, sixpack, wannier90-1, wannier90-2
Section: metapackages
Priority: optional
Homepage: http://wiki.debian.org/DebianScience/
Description: Debian Science Nanoscale Physics packages
 This metapackage will install Debian Science packages related to
 Nanoscale Physics, which corresponds to the study of physical systems
 typically ranging from 1 to 100 nm in size. The properties of such
 systems usually depend on the number of atoms they are made of, while
 this number is still relatively large for an accurate description.
 .
 The nanoscale is the meeting point of classical and quantum physics.
 Previous research efforts were considering either smaller systems, for
 which everybody could develop their own methods and software
 independently, or much bigger systems, for which it was clearly
 impossible to provide a fine-grained description. Addressing the issues
 raised by the nanoscale requires however cooperative and coordinated
 efforts in a multidisciplinary context. This metapackage is part of
 such an endeavor.
 .
 You might also be interested in the debtag field::physics and, depending on
 your focus, in the physics and education-physics metapackages.
