Package: coinor-libclp-dev
Source: clp
Version: 1.16.11+repack1-1
Architecture: amd64
Maintainer: Debian Science Team <debian-science-maintainers@lists.alioth.debian.org>
Installed-Size: 5235
Depends: coinor-libclp1 (= 1.16.11+repack1-1), coinor-libcoinutils-dev (>= 2.9.4), coinor-libosi-dev (>= 0.106.1)
Section: libdevel
Priority: extra
Homepage: https://projects.coin-or.org/Clp
Description: Coin-or linear programming solver (developer files)
 Clp (Coin-or linear programming) is an open-source linear programming solver
 written in C++. It is primarily meant to be used as a callable library, but a
 basic, stand-alone executable version is also available. It is designed to
 find solutions of constrained linear mathematical optimization problems.
 .
 This package contains the header files for developers.
