Package: xfonts-thai
Source: thaixfonts
Version: 1:1.2.7-3
Architecture: all
Maintainer: Theppitak Karoonboonyanan <thep@debian.org>
Installed-Size: 22
Depends: fonts-thai-tlwg, xfonts-thai-etl, xfonts-thai-manop, xfonts-thai-nectec
Recommends: fonts-sipa-arundina, xfonts-thai-poonlap, xfonts-thai-vor
Suggests: xfonts-intl-asian, xserver
Section: x11
Priority: optional
Multi-Arch: foreign
Homepage: https://linux.thai.net/projects/thaixfonts
Description: Collection of Thai fonts for X (metapackage)
 This is a metapackage which depends on or recommends all available Thai
 fonts packages.
