Package: python3-django-floppyforms
Source: django-floppyforms
Version: 1.6.2+dfsg-1
Architecture: all
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Installed-Size: 183
Depends: python3-django, libjs-openlayers, python3:any (>= 3.3.2-2~)
Suggests: python-django-floppyforms-doc
Section: python
Priority: optional
Homepage: https://github.com/brutasse/django-floppyforms
Description: better control of form rendering in Django (Python3 version)
 Django-foppyforms is an application that gives you full control of the
 output of forms rendering. This is more a widgets library than a forms
 library but form fields are provided for convenience. The forms API and
 features are exactly the same as Django’s, the key difference is that
 widgets are rendered in templates instead of using string interpolation.
 .
 The widgets API allows you to customize and extend the widgets behaviour,
 making it very easy to define custom widgets. The default widgets are very
 similar to the default Django widgets, except that they implement some
 nice features of HTML5 forms, such as the placeholder and required
 attribute, as well as the new <input> types.
 .
 This package contains the Python 3 version of the library.
