Package: node-ripemd160
Version: 2.0.2-2
Architecture: all
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Installed-Size: 20
Depends: nodejs (>= 4.7), node-inherits (>= 2.0.1), node-hash-base (>= 2.0.0)
Section: javascript
Priority: optional
Homepage: https://github.com/crypto-browserify/ripemd160#readme
Description: Pure javascript implementation of ripemd160 hash function
 RIPEMD (RACE Integrity Primitives Evaluation Message Digest) is a family
 of cryptographic hash functions developed in Leuven, Belgium,
 by Hans Dobbertin, Antoon Bosselaers and Bart Preneel
 at the COSIC research group at the Katholieke Universiteit Leuven,
 and first published in 1996.
 .
 RIPEMD was based upon the design principles used in MD4,
 and is similar in performance to the more popular SHA-1.
 .
 RIPEMD-160 is an improved, 160-bit version of the original RIPEMD,
 and the most common version in the family.
 RIPEMD-160 was designed in the open academic community,
 in contrast to the NSA-designed SHA-1 and SHA-2 algorithms.
 .
 Node.js is an event-based server-side JavaScript engine.
