Package: globus-gram-job-manager-pbs-setup-poll
Source: globus-gram-job-manager-pbs
Version: 2.6-2
Architecture: all
Maintainer: Mattias Ellert <mattias.ellert@physics.uu.se>
Installed-Size: 14
Depends: globus-gram-job-manager-pbs (= 2.6-2), globus-gram-job-manager-scripts (>= 4)
Section: net
Priority: optional
Multi-Arch: foreign
Homepage: http://toolkit.globus.org/
Description: Globus Toolkit - PBS Job Manager Support using polling
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The globus-gram-job-manager-pbs-setup-poll package contains:
 PBS Job Manager Support using polling to monitor job state
