Package: lib32stdc++6-5-dbg
Source: gcc-5
Version: 5.5.0-12
Architecture: amd64
Maintainer: Debian GCC Maintainers <debian-gcc@lists.debian.org>
Installed-Size: 32811
Depends: gcc-5-base (= 5.5.0-12), lib32stdc++6 (>= 5.5.0-12), libstdc++-5-dev (= 5.5.0-12), lib32gcc1-dbg (>= 1:5.5.0-12), lib32gcc1, libc6-i386 (>= 2.18)
Conflicts: lib32stdc++6-4.0-dbg, lib32stdc++6-4.1-dbg, lib32stdc++6-4.2-dbg, lib32stdc++6-4.3-dbg, lib32stdc++6-4.4-dbg, lib32stdc++6-4.5-dbg, lib32stdc++6-4.6-dbg, lib32stdc++6-4.7-dbg, lib32stdc++6-4.8-dbg, lib32stdc++6-4.9-dbg, lib32stdc++6-dbg
Section: debug
Priority: optional
Homepage: http://gcc.gnu.org/
Description: GNU Standard C++ Library v3 (debugging files)
 This package contains the shared library of libstdc++ compiled with
 debugging symbols.
