Package: elpa-dash-functional
Source: dash-functional-el
Version: 1.2.0+dfsg-5
Architecture: all
Maintainer: Debian Emacsen team <debian-emacsen@lists.debian.org>
Installed-Size: 60
Depends: emacsen-common (>= 2.0.8), elpa-dash (>= 2.0.0)
Breaks: dash-el (<< 2.13.0+dfsg-1)
Replaces: dash-el (<< 2.13.0+dfsg-1)
Section: lisp
Priority: extra
Homepage: https://github.com/magnars/dash.el
Description: collection of functional combinators for Emacs Lisp
 This library contains combinators to enable the use of certain
 functional programming techniques in Emacs Lisp.
 .
 For example, the `-flip' function takes a binary function, and
 returns a binary function that is the same as the original function,
 except that the order of its arguments is reversed.
 .
 See the elpa-dash package for list processing functions.
