Package: libmoox-aliases-perl
Version: 0.001006-1
Architecture: all
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Installed-Size: 24
Depends: libclass-method-modifiers-perl, libstrictures-perl, libmoo-perl (>= 1.001000), perl
Section: perl
Priority: optional
Homepage: https://metacpan.org/pod/MooX::Aliases
Description: easy aliasing of methods and attributes in Moo
 The MooX::Aliases module will allow you to quickly alias methods in
 Moo. It provides an alias parameter for has() to generate aliased
 accessors as well as the standard ones. Attributes can also be
 initialized in the constructor via their aliased names.
