Package: git-annex
Version: 7.20181211-2
Architecture: amd64
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Installed-Size: 66259
Depends: libc6 (>= 2.27), libffi6 (>= 3.0.4), libgmp10, libmagic1 (>= 5.12), libsqlite3-0 (>= 3.7.3), libxml2 (>= 2.7.4), zlib1g (>= 1:1.1.4), git (>= 1:1.8.1), netbase, rsync, curl, openssh-client (>= 1:5.6p1)
Recommends: lsof, gnupg, bind9-host, git-remote-gcrypt (>= 0.20130908-6), nocache, aria2
Suggests: xdot, bup, adb, tor, magic-wormhole, tahoe-lafs, libnss-mdns, uftp, youtube-dl
Breaks: datalad (<< 0.11.1~)
Section: utils
Priority: optional
Homepage: http://git-annex.branchable.com/
Description: manage files with git, without checking their contents into git
 git-annex allows managing files with git, without checking the file
 contents into git. While that may seem paradoxical, it is useful when
 dealing with files larger than git can currently easily handle, whether due
 to limitations in memory, time, or disk space.
 .
 It can store large files in many places, from local hard drives, to a
 large number of cloud storage services, including S3, WebDAV,
 and rsync, with a dozen cloud storage providers usable via plugins.
 Files can be stored encrypted with gpg, so that the cloud storage
 provider cannot see your data. git-annex keeps track of where each file
 is stored, so it knows how many copies are available, and has many
 facilities to ensure your data is preserved.
 .
 git-annex can also be used to keep a folder in sync between computers,
 noticing when files are changed, and automatically committing them
 to git and transferring them to other computers. The git-annex webapp
 makes it easy to set up and use git-annex this way.
