Package: d-itg
Source: d-itg (2.8.1-r1023-3)
Version: 2.8.1-r1023-3+b2
Architecture: amd64
Maintainer: Roland Stigge <stigge@antcom.de>
Installed-Size: 659
Depends: libc6 (>= 2.14), libgcc1 (>= 1:3.0), libsctp1 (>= 1.0.10+dfsg), libstdc++6 (>= 5)
Section: net
Priority: extra
Homepage: http://www.grid.unina.it/software/ITG/
Description: Distributed Internet Traffic Generator
 D-ITG (Distributed Internet Traffic Generator) is a platform capable to
 produce traffic at packet level accurately replicating appropriate stochastic
 processes for both IDT (Inter Departure Time) and PS (Packet Size) random
 variables (exponential, uniform, cauchy, normal, pareto, ...). D-ITG supports
 both IPv4 and IPv6 traffic generation and it is capable to generate traffic at
 network, transport, and application layer. We believe that D-ITG shows
 interesting properties when compared to other traffic generators.
