Package: libghc-blaze-textual-dev
Source: haskell-blaze-textual (0.2.1.0-8)
Version: 0.2.1.0-8+b3
Architecture: amd64
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Installed-Size: 388
Depends: libghc-base-dev-4.11.1.0-5dd74, libghc-blaze-builder-dev-0.4.1.0-75fbe, libghc-bytestring-dev-0.10.8.2-76891, libghc-ghc-prim-dev-0.5.2.0-0a259, libghc-integer-gmp-dev-1.0.2.0-28d9d, libghc-old-locale-dev-1.0.0.7-afc40, libghc-text-dev-1.2.3.1-30bbe, libghc-time-dev-1.8.0.2-2ae9f, libghc-vector-dev-0.12.0.1-4d111, libatomic1 (>= 4.8), libc6 (>= 2.14), libgmp10
Suggests: libghc-blaze-textual-doc, libghc-blaze-textual-prof
Provides: libghc-blaze-textual-dev-0.2.1.0-a2e00
Section: haskell
Priority: optional
Homepage: http://github.com/bos/blaze-textual
Description: Fast rendering of common datatypes
 It is a library for efficiently rendering Haskell datatypes to
 bytestrings.
 .
 This package provides a library for the Haskell programming language.
 See http://www.haskell.org/ for more information on Haskell.
Ghc-Package: blaze-textual-0.2.1.0-9uHKUNkwh6SIarVLVomOz
