Package: libhook-wrapsub-perl
Version: 0.07-1
Architecture: all
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Installed-Size: 28
Depends: perl
Section: perl
Priority: optional
Homepage: https://metacpan.org/release/Hook-WrapSub
Description: module to wrap subs with pre- and post-call hooks
 Hook::WrapSub lets you wrap a function, providing one or both of functions
 that are called just before and just after, whenever the wrapped function is
 called.
 .
 The wrap_subs() function enables intercepting a call to any named function;
 handlers may be added both before and after the call to the intercepted
 function.
