Package: qutemol
Source: qutemol (0.4.1~cvs20081111-9)
Version: 0.4.1~cvs20081111-9+b1
Architecture: amd64
Maintainer: Debichem Team <debichem-devel@lists.alioth.debian.org>
Installed-Size: 936
Depends: libc6 (>= 2.27), libgcc1 (>= 1:3.0), libgif7 (>= 5.1), libgl1, libglew2.1 (>= 1.12.0), libglu1-mesa | libglu1, libpng16-16 (>= 1.6.2-1), libstdc++6 (>= 5.2), libwxbase3.0-0v5 (>= 3.0.4+dfsg), libwxgtk3.0-0v5 (>= 3.0.4+dfsg)
Section: science
Priority: optional
Homepage: http://qutemol.sourceforge.net/
Description: interactive visualization of macromolecules
 QuteMol is an interactive, high quality molecular visualization
 system. It exploits the current GPU capabilities through OpenGL shaders
 to offer an array of innovative visual effects. QuteMol visualization
 techniques are aimed at improving clarity and an easier understanding
 of the 3D shape and structure of large molecules or complex proteins.
 .
 Qutemol uses advanced OpenGL techniques and might not work correctly
 with all video cards and drivers.
 .
 Features QuteMol offers include:
 .
  * Real time ambient occlusion
  * Depth aware silhouette enhancement
  * Ball-and-stick, space-filling and liquorice visualization modes
  * High resolution antialiased snapshots for creating publication
    quality renderings
  * Automatic generation of animated gifs of rotating molecules for
    web page animations
  * Interactive rendering of macromolecules (>100k atoms)
 .
 QuteMol reads PDB files as input.
