Package: librt-client-rest-perl
Version: 1:0.52-1
Architecture: all
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Installed-Size: 216
Depends: perl, libdatetime-format-dateparse-perl, libdatetime-perl, liberror-perl, libexception-class-perl, libparams-validate-perl, liburi-perl, libwww-perl
Section: perl
Priority: optional
Homepage: https://metacpan.org/release/RT-Client-REST
Description: RESTful Perl interface to RT installations
 RT::Client::REST is a set of object-oriented Perl modules designed to
 make communicating with RT using REST protocol easy.  Most of the
 features have been implemented and tested with rt 3.6.0 and later.
