Package: librust-hyphenation+pocket-resources-dev
Source: rust-hyphenation
Version: 0.7.1-1
Architecture: amd64
Maintainer: Debian Rust Maintainers <pkg-rust-maintainers@alioth-lists.debian.net>
Installed-Size: 6
Depends: librust-hyphenation-dev (= 0.7.1-1), librust-pocket-resources-0.3+default-dev
Provides: librust-hyphenation-0+pocket-resources-dev (= 0.7.1-1), librust-hyphenation-0.7+pocket-resources-dev (= 0.7.1-1), librust-hyphenation-0.7.1+pocket-resources-dev (= 0.7.1-1)
Section: rust
Priority: optional
Multi-Arch: same
Homepage: https://github.com/tapeinosyne/hyphenation
Description: Knuth-Liang hyphenation for a variety of languages - feature "pocket-resources"
 This metapackage enables feature pocket-resources for the Rust hyphenation
 crate, by pulling in any additional dependencies needed by that feature.
