Package: python3-unidiff
Source: python-unidiff
Version: 0.5.4-1
Architecture: all
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Installed-Size: 44
Depends: python3:any (>= 3.3.2-2~)
Section: python
Priority: optional
Homepage: https://github.com/matiasb/python-unidiff
Description: Unified diff Python parsing/metadata extraction library (Python 3)
 Simple Python library to parse and interact with unified diff data
 .
 Python's standard library has a difflib module which generates diffs, but
 cannot read or apply existing patch files. This module can do that.
 .
 This package installs the library for Python 3.
