Package: libimage-size-perl
Version: 3.300-1
Architecture: all
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Installed-Size: 98
Depends: perl
Suggests: libimage-magick-perl
Section: perl
Priority: optional
Homepage: https://metacpan.org/release/Image-Size
Description: module for determining image sizes in several common formats
 Image::Size is a Perl module capable of determining image sizes from several
 common formats. It handles XPM, XBM, GIF, JPEG, PNG, MNG, the PPM family of
 formats (PPM/PGM/PBM), TIFF, FlashMX (Shockwave Flash version 6), WMF/EMF,
 and more.
 .
 It supports additional file types through Image::Magick, and the included
 "imgsize" script provides access to Image::Size from the shell.
