Package: jupyter-core
Version: 4.4.0-2
Architecture: all
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Installed-Size: 25
Depends: python3-jupyter-core (= 4.4.0-2), python3:any (>= 3.3~)
Section: utils
Priority: optional
Homepage: https://github.com/jupyter/jupyter_core
Description: Core common functionality of Jupyter projects (tools)
 This software component contains the base framework (application
 classes and configurations) for the rest of the Jupyter projects ; it
 doesn't do much by itself.
 .
 This package contains the migration tool (off IPython before 4.0)
 and a path-giving utility.
