Package: python3-hunspell
Source: pyhunspell (0.4.1-1)
Version: 0.4.1-1+b3
Architecture: amd64
Maintainer: Benjamin Drung <bdrung@debian.org>
Installed-Size: 46
Depends: python3 (<< 3.8), python3 (>= 3.6~), python3:any (>= 3.0~), libc6 (>= 2.4), libhunspell-1.6-0
Provides: python3.6-hunspell, python3.7-hunspell
Section: python
Priority: optional
Homepage: https://github.com/blatinier/pyhunspell
Description: Python 3 binding for Hunspell
 Pyhunspell is a set of Python bindings for the Hunspell spell-checker
 engine. It lets developers load Hunspell dictionaries, check words, get
 suggestions, add new words, etc. It also provides some basic morphological
 analysis related methods.
 .
 This package provides the binding to Python 3.
