Package: python-jack-client
Version: 0.4.4-2
Architecture: all
Maintainer: Josue Ortega <josue@debian.org>
Installed-Size: 156
Depends: python-cffi-backend-api-min (<= 9729), python-cffi-backend-api-max (>= 9729), python:any (<< 2.8), python:any (>= 2.7.5-5~), python-cffi, libjack-jackd2-0 (>= 1.9.10+20150825) | libjack-0.125
Suggests: python-numpy
Section: python
Priority: optional
Homepage: http://jackclient-python.rtfd.org
Description: JACK Audio Connection Kit (JACK) Client for Python
 Python module that provides bindings for the JACK library.
 The module is able to create audio input and output ports,
 also provides the functionality to manage MIDI ports.
 .
 This package installs the library for Python 2.
