Package: librange-v3-doc
Source: range-v3
Version: 0.3.6-1
Architecture: all
Maintainer: Nicholas Guriev <guriev-ns@ya.ru>
Installed-Size: 21603
Section: doc
Priority: optional
Multi-Arch: foreign
Homepage: https://github.com/ericniebler/range-v3
Description: range algorithms, views, and actions for C++11/14/17 - documentation
 Range-v3 is a generic library that augments the existing standard library with
 facilities for working with ranges. A range can be loosely thought of a pair
 of iterators. This library provides a full implementation of all the standard
 algorithms with range-based overloads for convenience.
 .
 This package ships HTML documentation of the library.
