Package: libmatekbd-dev
Source: libmatekbd
Version: 1.20.2-1
Architecture: amd64
Maintainer: Debian+Ubuntu MATE Packaging Team <debian-mate@lists.debian.org>
Installed-Size: 106
Depends: gir1.2-matekbd-1.0 (= 1.20.2-1), libglib2.0-dev, libgtk-3-dev, libmatekbd4 (= 1.20.2-1), libx11-dev, libxklavier-dev
Breaks: gir1.2-matekbd (<< 1.18.2-2~)
Replaces: gir1.2-matekbd (<< 1.18.2-2~)
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: http://www.mate-desktop.org/
Description: MATE library to manage keyboard configuration (development files)
 libmatekbd offers an API to manage the keyboard in MATE applications.
 .
 libmatekbdui offers an API to display a graphical user interface for
 libmatekbd operations.
 .
 This package contains the development files.
