Package: libimage-seek-perl
Source: libimage-seek-perl (0.06-2)
Version: 0.06-2+b1
Architecture: amd64
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Installed-Size: 82
Depends: perl (>= 5.28.0-3), perlapi-5.28.0, libc6 (>= 2.14), libgcc1 (>= 1:3.0), libstdc++6 (>= 5)
Section: perl
Priority: optional
Homepage: https://metacpan.org/release/Image-Seek
Description: Perl module to find similar pictures in a library
 ImgSeek (http://www.imgseek.net/) is an implementation of Haar wavelet
 decomposition techniques to find similar pictures in a library.
 Image::Seek is a port of the ImgSeek library to Perl's XS. It can deal with
 image objects produced by the Imager and Image::Imlib2 libraries.
