Package: protobuf-compiler-grpc
Source: grpc
Version: 1.3.2-1
Architecture: amd64
Maintainer: gRPC Package Maintainers <grpc-packages@google.com>
Installed-Size: 544
Depends: libc-ares2 (>= 1.7.0), libc6 (>= 2.14), libgcc1 (>= 1:3.0), libgoogle-perftools4, libprotobuf10, libprotoc10, libstdc++6 (>= 5.2), zlib1g (>= 1:1.1.4), protobuf-compiler
Section: libs
Priority: optional
Homepage: http://www.grpc.io/
Description: high performance general RPC framework - protobuf plugin
 A modern, open source remote procedure call (RPC) framework that can
 run anywhere. It enables client and server applications to communicate
 transparently, and makes it easier to build connected systems.
 .
 This package provides the plugins needed for compiling gRPC service
 definitions with the protobuf compiler.
