Package: libaccessodf-java
Source: accessodf
Version: 0.1.1~b-1
Architecture: all
Maintainer: Sebastian Humenda <shumenda@gmx.de>
Installed-Size: 70
Depends: libcommons-collections3-java, libreoffice-java-common, libreoffice-writer
Breaks: accessodf (<< 0.1-3)
Replaces: accessodf (<< 0.1-3)
Section: java
Priority: extra
Homepage: http://sourceforge.net/p/accessodf
Description: library for checking accessibility in ODF/ODT documents using Libreoffice
 AccessODF is an extension that can be used in OpenOffice.org Writer and in
 LibreOffice Writer. It enables authors to find and repair accessibility issues
 in their documents, i.e.  issues that make their documents difficult or even
 impossible to read for people with disabilities. This includes issues such as:
  * insufficient colour contrast between text and background,
  * missing text alternatives for images and other objects (such text
    alternatives are necessary for blind users and other users of
    text-to-speech software),
  * missing language identification for the document and for language changes
    inside the document (language information is needed for conversion into
    Braille and synthetic speech),
  * the use of proper Heading styles instead of big bold text to identify
    headings (this enables document navigation based on headings),
  * the use of proper tables instead of visually mimicking tables by using tabs
    or spaces,
  * the compatibility of images with DAISY, the de-facto standard for digital
    talking books.
 For each accessibility issue, AccessODF provides a description and repair
 suggestions.
 .
 This package just contains the library for use in other programs.
